.tree-folder{
    background: url('/Content/icons/assembly.png') no-repeat center center;
}
.tree-file{
    background: url('/Content/icons/ulock.png') no-repeat center center;
}
.icon-assembly{
    background: url('/Content/icons/assembly.png') no-repeat center center;
}
.icon-virtual{
    background: url('/Content/icons/virtual.png') no-repeat center center;
}
.icon-combine{
    background: url('/Content/icons/combine.png') no-repeat center center;
}
.icon-none{
    display: none !important;
    background: none;
}

.parent-virtual {
    opacity: 0.8;
    color: rgba(255, 0, 0, 0.8);
    background-color: rgba(207, 207, 207, 0.8);
}
.main-virtual {
    color: #ED4337;
    font-weight: bold;
}
.main-combine {
    color:#806afb;
    font-weight:bold;
}
.main-change-add {
    color: white;
    background-color: forestgreen;
}

.main-change-remove {
    background-color: indianred;
    color: white;
}
.main-change-add-done {
    color: rgba(34, 139, 34, 0.80);
    font-weight: bold;
    background-color: #d0d0d0;
}

.main-change-remove-done {
    color: rgba(205, 92, 92, 0.80);
    font-weight: bold;
    background-color: #d0d0d0;
}
.discrete-direct-virtual {
    font-weight: bold;
    color: #fff;
    background-color: #f33;
}
.discrete-sub-virtual{
    background-color: #ff3;
}
.discrete-combine{
    font-weight: bold;
    color: #fff;
    background-color: #6045f4;
}
.discreteLinked{
    color: #333;
    background-color: #d0d0d0;
}
.order{
    color: #0094ff;
}
.dlgFooter{
    text-align: right;
    padding: 5px 10px;
}
a.bg-success{
    color: #fff !important;
    text-decoration: none;
    background-color: #5cb85c;
}
.datagrid-row-selected {
    background: #0081c2;
    color: #fff;
}
.datagrid-row-checked-custom {
    background: rgba(102, 204, 255, 0.80);
    color: rgba(0, 0, 0, 0.90);
}

.textbox-noborder {
    border-color: transparent;
    border-radius: 0
}