.tree-folder{
    background: url('/Content/icons/assembly.png') no-repeat center center;
}
.tree-file{
    background: url('/Content/icons/ulock.png') no-repeat center center;
}
.icon-assembly{
    background: url('/Content/icons/assembly.png') no-repeat center center;
}
.icon-virtual{
    background: url('/Content/icons/virtual.png') no-repeat center center;
}
.icon-combine{
    background: url('/Content/icons/combine.png') no-repeat center center;
}
.icon-none{
    display: none !important;
    background: none;
}
.main-virtual {
    color: #ED4337;
    font-weight: bold;
}
.main-virtual-parent {
    color: #ED4337;
    background: rgba(0, 0, 0, 0.10);
    font-weight: bold;
}
.main-virtual-parent-child {
    color: rgba(237, 67, 55, 0.50);
    background: rgba(0, 0, 0, 0.10);
}
.main-combine {
    color: #806afb;
    font-weight: bold;
}
.main-user {
    color: #158a43;
    font-weight: bold;
}
.discreteLinked{
    color: #333;
    background-color: #d0d0d0;
}
.order{
    color: #0094ff;
}
.dlgFooter{
    text-align: right;
    padding: 5px 10px;
}
a.bg-success{
    color: #fff !important;
    text-decoration: none;
    background-color: #5cb85c;
}
.datagrid-row-selected {
    background: #0081c2;
    color: #fff;
}
.datagrid-row-checked-custom {
    background: rgba(102, 204, 255, 0.80);
    color: rgba(0, 0, 0, 0.90);
}

.textbox-noborder {
    border-color: transparent;
    border-radius: 0
}