@using Localization;
@{
    ViewBag.Title = "Index";
}
@section styles{
    <!-- custom css -->
}
@section scripts{
    <script src="~/Scripts/jquery.serializeJSON.min.js"></script>
    <script type="text/javascript">
    </script>
    <!-- custom js -->
    @Scripts.Render("~/bundles/common")
    <script src="~/Scripts/views/productionline/index.js"></script>
}
<div class="easyui-layout" data-options="fit:true">
    <div id="toolbar" style="padding:5px;">
        <form id="queryFrm">
            <span>生产线名称：</span>
            <input type="text" name="CN_LINE_NAME" class="easyui-textbox" style="width:120px" />
            <span>生产线编码：</span>
            <input type="text" name="CN_LINE_CODE" class="easyui-textbox" style="width:120px" />
            <a href="#" class="easyui-linkbutton" onclick="query()" data-options="iconCls:'icon-search'">@Lang.Find</a>
            <a href="#" class="easyui-linkbutton" onclick="create()" data-options="iconCls:'icon-add'">添加</a>
            <a href="#" class="easyui-linkbutton" onclick="update()" data-options="iconCls:'icon-edit'">修改</a>
        </form>
    </div>
    <table id="dg"></table>
</div>


<div id="dlgEdit">
    <form id="frmProductionLine" method="post">
        <input type="hidden" id="hidId" name="CN_ID" />
        <table class="table table-striped">
            <tr>
                <th width="130">生产线名称：</th>
                <td width="250">
                    <input type="text" id="txtName" name="CN_LINE_NAME" class="easyui-textbox" required />
                </td>
            </tr>
            <tr>
                <th>生产线代码：</th>
                <td>
                    <input type="text" id="txtCode" name="CN_LINE_CODE" class="easyui-textbox" required />
                </td>
            </tr>
            <tr>
                <th>生效日期：</th>
                <td>
                    <input class="easyui-datebox" id="txtEfDate" name="CN_DT_EFFECTIVE" data-options="value:'new Date().format(\'yyyy-MM-dd\')',required:true">
                </td>
            </tr>
            <tr>
                <th>失效日期：</th>
                <td>
                    <input class="easyui-datebox" id="txtExDate" name="CN_DT_EXPIRY" data-options="value:'2100-01-01',required:true">
                </td>
            </tr>
            <tr>
                <th>描述：</th>
                <td>
                    <input type="text" id="txtDesc" name="CN_LINE_INFO" class="easyui-textbox" data-options="multiline:true,height:100" />
                </td>
            </tr>
        </table>
    </form>
    <div id="dlgEditFooter" class="text-right">
        <a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-ok'" onclick="dialogConfirm()">确认</a>
        <a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" onclick="$('#dlgEdit').dialog('close')">关闭</a>
    </div>
</div>