
@section scripts{ 
    @Scripts.Render("~/bundles/common")
    <script type="text/javascript">
        var URL_MENU = "/Menu/Tree"
        var URL_MENU_NEW = "/Menu/New"
        var URL_MENU_EDIT = "/Menu/Edit"
        var URL_MENU_DEL = "/Menu/Delete"
        var URL_MENU_ADD_CHILD = "/Menu/AddChild"
        var tg = $("#tgMenu");
        var frm = $("#frmMenu");

        var tgOption = {
            url: URL_MENU,
            height: "100%",
            singleSelect: true,
            rownumbers: true,
            border: false,
            fitColumns: true,
            idField: 'id',
            treeField: "name",
            toolbar: "#tgToolbar",
            loadFilter: loadFilter,
            columns: [[
                { field: 'name', title: lang.menu.name, width:2 },
                { field: 'url', title: lang.menu.url, width: 2 },
                { field: 'iconcls', title: lang.menu.iconcls, width: 2 },
                { field: 'description', title: lang.menu.desc, width: 3 },
                { field: 'order', title: lang.menu.order, width: 1 }
            ]]
        };

        var frmOption = {
            onSubmit: function (param) {
                var name = $("#txtName").val();
                var ordr = $("#txtOrder").val();
                if (!name) {
                    InfoWin("请输入菜单名称");
                    return false;
                } else if (!ordr) {
                    InfoWin("请输入菜单排序");
                    return false;
                }
                Loading();
            },
            success: function (data) {
                Loaded();
                var data = eval('(' + data + ')');
                if (data.success) {
                    if (data.msg) {
                        alert(data.msg)
                    }
                    tg.treegrid("reload");
                    $("#dlgMenu").dialog("close");
                } else {
                    if (data.msg) {
                        alert(data.msg)
                    }
                }
            }
        };

        $(function () {
            tg.treegrid(tgOption);
            frm.form(frmOption);
        });

        function addMenu() {
            $("#dlgMenu").dialog("open");
            frm.form("clear");
            frm.form({
                url: URL_MENU_NEW
            });
        }
        function addChild() {
            $("#dlgMenu").dialog("open");
            var data = tg.treegrid("getSelected");
            frm.form("clear");
            frm.form('load', { parentid: data.id });
            frm.form({
                url: URL_MENU_ADD_CHILD
            });
        }
        function editMenu() {
            $("#dlgMenu").dialog("open");
            var data = tg.treegrid("getSelected");
            frm.form("clear");
            frm.form('load', data);
            frm.form({
                url: URL_MENU_EDIT
            });
        }
        function delMenu() {
            var data = tg.treegrid("getSelected");
            var id = data.id;
            $.messager.confirm('确认', '确认要删除菜单:['+data.name+"]嘛?", function (r) {
                if (r) {
                    postData(URL_MENU_DEL, { id: id }, function (result) {
                        if (result.success) {
                            if (result.msg) {
                                alert(result.msg);
                            }
                            tg.treegrid("reload");
                        }
                    });
                }
            });
        }
    </script>
}
<div class="easyui-layout" data-options="fit:true" style="height:100%">
    <div id="tgToolbar" style="padding: 5px;">
        <a href="javascript:;" class="easyui-linkbutton" onclick="addMenu()">添加菜单</a>
        <a href="javascript:;" class="easyui-linkbutton" onclick="addChild()">添加子菜单</a>
        <a href="javascript:;" class="easyui-linkbutton" onclick="editMenu()">修改菜单</a>
        <a href="javascript:;" class="easyui-linkbutton" onclick="delMenu()">删除菜单</a>
    </div>
    <table id="tgMenu"></table>
</div>

<div id="dlgMenu" class="easyui-dialog" data-options="closed:true,width:500,modal:true,title:'编辑页面内容'" style="padding: 20px;">
    <form id="frmMenu" class="form-horizontal" method="post">
        <input type="hidden" name="id" />
        <input type="hidden" name="parentid" />
        <div class="form-row">
            <div class="form-group col-md-8">
                <label for="txtName" class="control-label">菜单名称</label>
                <input class="form-control" id="txtName" name="name">
            </div>
            <div class="form-group col-md-4">
                <label for="txtOrder" class="control-label">排序</label>
                <input class="form-control" id="txtOrder" name="order">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-8">
                <label for="txtUrl" class="control-label">链接</label>
                <input class="form-control" id="txtUrl" name="url">
            </div>
            <div class="form-group col-md-4">
                <label for="txtIconcls" class="control-label">图标</label>
                <input class="form-control" id="txtIconcls" name="iconcls">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="txtDesc" class="control-label">描述</label>
                <input class="form-control" id="txtDesc" name="description">
            </div>
        </div>
        <button type="submit" class="btn btn-default col-6">保存</button>
        <button type="button" onclick="$('#dlgMenu').dialog('close')" class="btn btn-danger float-right col-5">关闭</button>
    </form>
</div>