@using Localization;
@{
    ViewBag.Title = Lang.PBomChangeProdIndex;
}
@section scripts{
    <script src="~/Scripts/jquery.serializeJSON.min.js"></script>
    @Scripts.Render("~/bundles/common")
    @Scripts.Render("~/bundles/prodchangedetail")
}
<div class="easyui-layout" data-options="fit:true">
    <input type="hidden" id="prodcode" value="@ViewData["prodcode"]" />
    <table id="dg"></table>
</div>
