<div id="TabMenu" class="easyui-menu">
    <div data-options="name:'refresh',iconCls:'icon-reload'">刷新本页面</div>
    <div class="menu-sep"></div>
    <div data-options="name:'close'">关闭本页</div>
    <div class="menu-sep"></div>
    <div data-options="name:'closeLeft'">关闭左边所有页面</div>
    <div data-options="name:'closeRight'">关闭右边所有页面</div>
    <div data-options="name:'closeOthers'">除此之外全部关闭</div>
    <div class="menu-sep"></div>
    <div data-options="name:'closeAll',iconCls:'icon-cancel'">关闭全部页面</div>
</div>