@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="none" />
    <title>Error Code: @Response.StatusCode</title>
    <style type="text/css">
        .pad10 {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
            padding-right: 10px;
        }
        .alert-msg {
            background-color: #f57272;
            font-size: 1.2em;
        }
    </style>
</head>
<body>
    <div class="pad10 alert-msg">
        <p>@ViewData["Message"]</p>
        <p>@ViewData["InnerMessage"]</p>
    </div>
</body>
</html>  