/*-------------------------------------
zTree Style using fontawesome instead of images

version:    1.1
author:     Mike King
email:      mikkelking @ hotmail . com
website:    http://code.google.com/p/jquerytree/

-------------------------------------*/
/* Definitions ----------------------*/
/* End of Definitions ---------------*/
/* Imports  -------------------------*/
/* End of Imports  ------------------*/
.ztree {
    padding: 5px;
    font-size: 1em;
    font-family: arial;
}

    .ztree li {
        list-style: none;
    }

        .ztree li ul {
            /* padding: 0 0 0 1.5em; */
            padding: 0 0 0 18px;
        }

        .ztree li a {
            color: #000;
            text-decoration: none;
        }

            .ztree li a input.rename {
                height: 100%;
                width: 80px;
                padding: 0;
                margin: 0;
                border: 1px #585956 solid;
                *border: 0px;
            }

            .ztree li a.curSelectedNode {
                color: #1287e6
            }
                .ztree li a.curSelectedNode:hover {
                    color: #44a6f5
                }

            .ztree li a.curSelectedNode_Edit {
                padding-top: 0px;
                border: 1px #666 solid;
                opacity: 0.8;
            }

            .ztree li a.tmpTargetNode_inner {
                padding-top: 0px;
                border: 1px #666 solid;
                opacity: 0.8;
                filter: alpha(opacity=80);
            }

        .ztree li span {
            margin-right: 2px;
        }

            .ztree li span.button {
                position: relative;
                cursor: pointer;
            }

                .ztree li span.button::before {
                    font-family: FontAwesome;
                }

                .ztree li span.button.chk {
                }

                    .ztree li span.button.chk.checkbox_false_full::before {
                        content: "\f096";
                    }

                    .ztree li span.button.chk.checkbox_false_full_focus::before {
                        content: "\f096";
                    }

                    .ztree li span.button.chk.checkbox_false_part::before {
                        content: "\f096";
                    }

                    .ztree li span.button.chk.checkbox_false_part_focus::before {
                        content: "\f096";
                    }

                    .ztree li span.button.chk.checkbox_false_disable::before {
                        content: "\f096";
                    }

                    .ztree li span.button.chk.checkbox_true_full::before {
                        content: "\f046";
                    }

                    .ztree li span.button.chk.checkbox_true_full_focus::before {
                        content: "\f046";
                    }

                    .ztree li span.button.chk.checkbox_true_part::before {
                        content: "\f14a";
                    }

                    .ztree li span.button.chk.checkbox_true_part_focus::before {
                        content: "\f14a";
                    }

                    .ztree li span.button.chk.checkbox_true_full_focus::before {
                        content: "\f046";
                    }

                    .ztree li span.button.chk.checkbox_true_part::before {
                        content: "\f046";
                    }

                    .ztree li span.button.chk.checkbox_true_part_focus::before {
                        content: "\f046";
                    }

                    .ztree li span.button.chk.checkbox_true_disable::before {
                        content: "\f046";
                    }

                    .ztree li span.button.chk.radio_false_full::before {
                        content: "\f10c";
                    }

                    .ztree li span.button.chk.radio_false_full_focus::before {
                        content: "\f10c";
                    }

                    .ztree li span.button.chk.radio_false_part::before {
                        content: "\f10c";
                    }

                    .ztree li span.button.chk.radio_false_part_focus::before {
                        content: "\f10c";
                    }

                    .ztree li span.button.chk.radio_false_disable::before {
                        content: "\f1db";
                    }

                    .ztree li span.button.chk.radio_true_full::before {
                        content: "\f192";
                    }

                    .ztree li span.button.chk.radio_true_full_focus::before {
                        content: "\f192";
                    }

                    .ztree li span.button.chk.radio_true_part::before {
                        content: "\f192";
                    }

                    .ztree li span.button.chk.radio_true_part_focus::before {
                        content: "\f192";
                    }

                    .ztree li span.button.chk.radio_true_disable::before {
                        content: "\f1db";
                    }

                .ztree li span.button.switch {
                display: inline-block;
                width: 1em;
                }

                .ztree li span.button.root_open::before {
                    content: "\f146";
                }

                .ztree li span.button.root_close::before {
                    content: "\f0fe";
                }

                .ztree li span.button.roots_open::before {
                    content: "\f146";
                }

                .ztree li span.button.roots_close::before {
                    content: "\f0fe";
                }

                .ztree li span.button.center_open::before {
                    content: "\f146";
                }

                .ztree li span.button.center_close::before {
                    content: "\f0fe";
                }

                .ztree li span.button.bottom_open::before {
                    content: "\f146";
                }

                .ztree li span.button.bottom_close::before {
                    content: "\f0fe";
                }

                .ztree li span.button.root_docu {
                    background: none;
                }

                .ztree li span.button.roots_docu::before {
                    content: "\f022";
                }

                .ztree li span.button.center_docu::before {
                }

                .ztree li span.button.bottom_docu::before {
                }

                .ztree li span.button.noline_docu {
                }

                .ztree li span.button.ico_open::before {
                    content: "\f146";
                }

                .ztree li span.button.ico_close::before {
                    content: "\f146";
                }

                .ztree li span.button.ico_docu::before {
                    content: "\f022";
                }

                .ztree li span.button.edit::before {
                    content: "\f044";
                }

                .ztree li span.button.remove::before {
                    content: "\f1f8";
                }

                .ztree li span.button.add::before {
                    content: "\f067";
                }

                .ztree li span.button.ico_loading {
                    margin-right: 2px;
                    background: url(./img/loading.gif) no-repeat scroll 0 0 transparent;
                    vertical-align: top;
                    *vertical-align: middle;
                }

ul.tmpTargetzTree {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

span.tmpzTreeMove_arrow {
    width: 16px;
    display: inline-block;
    padding: 0;
    margin: 2px 0 0 1px;
    border: 0 none;
    position: absolute;
    background-color: transparent;
    background-attachment: scroll;
}

    span.tmpzTreeMove_arrow::before {
        content: "\f04b";
    }

ul.ztree.zTreeDragUL {
    margin: 0;
    padding: 0;
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;
    border: 1px #ffff00 dotted;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.ztreeMask {
    z-index: 10000;
    opacity: 0.0;
    filter: alpha(opacity=0);
    position: absolute;
}
