USE [MBOM_TJB]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_ITEM_TREE]    Script Date: 05/15/2018 15:22:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_GET_ITEM_TREE]
(
@CODE NCHAR(24)
)
AS
BEGIN 

DECLARE @PLINK VARCHAR(50)
DECLARE @PID VARCHAR(50)

SELECT 
	0 AS [LEVEL],
	CAST(NULL AS VARCHAR) AS PARENT_LINK,
	CAST(ITEM.CN_ID AS VARCHAR(200)) AS LINK,
	CAST(NULL AS VARCHAR) AS PARENTID,
	CAST(ITEM.CN_ID AS VARCHAR(200)) AS ID,
	ITEM.CN_ID AS CN_ITEMID,
	ITEM.CN_ITEM_CODE,
	ITEM.CN_CODE,
	ITEM.CN_NAME,
	ISNULL(BOMHLINK.CN_BOM_ID, 0) AS CN_BOM_ID,
	ISNULL(BOMHLINK.CN_HLINK_ID, 0) AS CN_HLINK_ID, 
	ISNULL(BOMHLINK.CN_F_QUANTITY, 1) AS QUANTITY,
	ISNULL(BOMHLINK.CN_F_QUANTITY, 1) AS QUANTITY_ALL,
	ISNULL(BOMHLINK.CN_UNIT, '') AS CN_UNIT,
	ISNULL(BOMHLINK.CN_ISBORROW, 0) AS CN_ISBORROW,
	ISNULL(BOMHLINK.CN_B_IS_ASSEMBLY, 0) AS IS_ASSEMBLY,
	ISNULL(BOMHLINK.CN_ORDER, 0) AS CN_ORDER
INTO #TMP
FROM TN_80_APP_0000_ITEM AS ITEM
INNER JOIN TN_80_APP_0025_BOM AS BOM ON ITEM.CN_CODE = BOM.CN_CODE
LEFT JOIN TN_80_APP_0025_BOM_HLINK AS BOMHLINK ON ITEM.CN_ID = BOMHLINK.CN_COMPONENT_OBJECT_ID
WHERE ITEM.CN_CODE = @CODE

SELECT @PLINK = LINK, @PID = ID FROM #TMP;

WITH X AS 
(
	SELECT
	1 AS [LEVEL],
	CAST(@PLINK AS VARCHAR(200)) AS PARENT_LINK,
	CAST(@PLINK + ',' + CAST(ITEM.CN_ID AS VARCHAR(200)) AS VARCHAR(200)) AS LINK,

	CAST(@PID AS VARCHAR(200)) AS PARENTID,
	CAST(@PID + CAST(ITEM.CN_ID AS VARCHAR(200)) AS VARCHAR(200)) AS ID,

	ITEM.CN_ID AS CN_ITEMID,

	ITEM.CN_ITEM_CODE,
	ITEM.CN_CODE,
	ITEM.CN_NAME,
	
	BOMHLINK.CN_BOM_ID,
	BOMHLINK.CN_HLINK_ID, 
	BOMHLINK.CN_F_QUANTITY AS QUANTITY,
	BOMHLINK.CN_F_QUANTITY AS QUANTITY_ALL,
	BOMHLINK.CN_UNIT,
	BOMHLINK.CN_ISBORROW,
	BOMHLINK.CN_B_IS_ASSEMBLY AS IS_ASSEMBLY,
	BOMHLINK.CN_ORDER

	FROM 
	TN_80_APP_0025_BOM AS BOM
	INNER JOIN TN_80_APP_0025_BOM_HLINK AS BOMHLINK ON BOM.CN_ID = BOMHLINK.CN_BOM_ID AND BOMHLINK.CN_STATUS_PBOM = 'Y'
	INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON BOMHLINK.CN_COMPONENT_OBJECT_ID = ITEM.CN_ID
	WHERE 
	BOM.CN_CODE = @CODE

	UNION ALL

	SELECT 
	X.[LEVEL] + 1 AS [LEVEL],
	CAST(ISNULL(X.PARENT_LINK+',','')+ CAST(X.[CN_ITEMID] AS VARCHAR(200)) AS VARCHAR(200)),
	CAST(CAST(X.[LINK] AS VARCHAR(200)) +',' + CAST(ITEM.CN_ID AS VARCHAR(200)) AS VARCHAR(200)),

	CAST(ISNULL(X.PARENTID,'') + CAST(X.CN_ITEMID AS VARCHAR(200)) AS VARCHAR(200)),
	CAST(CAST(X.ID AS VARCHAR(200)) + CAST(ITEM.CN_ID AS VARCHAR(200)) AS VARCHAR(200)),

	ITEM.CN_ID AS CN_ITEMID,

	ITEM.CN_ITEM_CODE,
	ITEM.CN_CODE,
	ITEM.CN_NAME,

	BOMHLINK.CN_BOM_ID,
	BOMHLINK.CN_HLINK_ID, 
	BOMHLINK.CN_F_QUANTITY,
	BOMHLINK.CN_F_QUANTITY * X.QUANTITY_ALL,
	BOMHLINK.CN_UNIT,
	BOMHLINK.CN_ISBORROW,
	BOMHLINK.CN_B_IS_ASSEMBLY,
	BOMHLINK.CN_ORDER
	FROM 
	TN_80_APP_0025_BOM AS BOM
	INNER JOIN TN_80_APP_0025_BOM_HLINK AS BOMHLINK ON BOM.CN_ID = BOMHLINK.CN_BOM_ID AND BOMHLINK.CN_STATUS_PBOM = 'Y'
	INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON BOMHLINK.CN_COMPONENT_OBJECT_ID = ITEM.CN_ID
	INNER JOIN X ON	BOM.CN_CODE = X.CN_CODE AND X.IS_ASSEMBLY = 1
)
SELECT *
FROM 
#TMP
UNION 
SELECT *
FROM X
ORDER BY CN_ORDER
OPTION (MAXRECURSION 32);

END;
GO
