USE [MBOM_TJB]
GO
/****** Object:  StoredProcedure [dbo].[PROC_ITEM_TYPE_TRANS]    Script Date: 05/15/2018 15:22:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_ITEM_TYPE_TRANS]
(
@ITEMID INT,
@USERID INT,
@NAME VARCHAR(30),
@LOGIN VARCHAR(30)
)
AS
BEGIN
	DECLARE @MSG VARCHAR(200) = '';
	DECLARE @SUCCESS BIT = 1;
	DECLARE @ERROR INT = 0

	IF @ITEMID IS NULL OR @ITEMID = 0
	BEGIN
		SET @MSG = '未能获取到参数，请联系管理员。PROC-0404';
		SELECT @MSG AS MSG,@SUCCESS AS SUCCESS
		RETURN
	END

	DECLARE @NOW DATETIME = SYSDATETIME() 
	DECLARE @TYPE_ID_PURCHASE INT = 2
	DECLARE @TYPE_ID_SELFMADE INT = 3

	-- 获取要变更的当前物料的类型，如果是采购件，则设置为自制件；如果是自制件，则设置为采购件

	-- 默认我们猜它是采购件
	DECLARE @CANEXPAND BIT = 0
	DECLARE @TYPE_ID_ORIGINAL INT = @TYPE_ID_PURCHASE
	DECLARE @NEW_TYPE_ID INT = @TYPE_ID_SELFMADE
	DECLARE @NEW_TYPE_NAME VARCHAR(10) = '自制件'

	-- 如果存在自制件的TYPE则修改
	IF EXISTS ( 
		SELECT 1 FROM TN_80_APP_0000_ITEM AS ITEM 
		INNER JOIN TN_80_APP_0000_ITEM_HLINK AS ITEMHLINK ON ITEMHLINK.CN_ID = ITEM.CN_ID
			AND ITEMHLINK.CN_COMPONENT_CLASS_ID = 105
			AND ITEMHLINK.CN_COMPONENT_OBJECT_ID = @TYPE_ID_SELFMADE
			AND (ITEMHLINK.CN_SYS_STATUS = '' OR ITEMHLINK.CN_SYS_STATUS = 'Y') 
		WHERE ITEM.CN_ID = @ITEMID
	)
	BEGIN 
		SET @TYPE_ID_ORIGINAL = @TYPE_ID_SELFMADE
		SET @NEW_TYPE_ID = @TYPE_ID_PURCHASE
		SET @NEW_TYPE_NAME = '采购件'
		SET @CANEXPAND = 1
	END
	 
	UPDATE TN_80_APP_0000_ITEM_HLINK
	SET 
	     CN_SYS_STATUS = 'N'
		,CN_DT_EXPIRY = @NOW
	WHERE
		CN_ID = @ITEMID
		AND CN_COMPONENT_CLASS_ID = 105
		AND CN_COMPONENT_OBJECT_ID = @TYPE_ID_ORIGINAL
 
	INSERT INTO [dbo].[TN_80_APP_0000_ITEM_HLINK]
        ([CN_ID]
        ,[CN_ISDELETE]
        ,[CN_COMPONENT_CLASS_ID]
        ,[CN_COMPONENT_OBJECT_ID]
        ,[CN_ISBORROW]
        ,[CN_ORDER]
        ,[CN_NUMBER]
        ,[CN_F_QUANTITY]
        ,[CN_UNIT]
        ,[CN_DISPLAYNAME]
        ,[CN_CREATE_BY]
        ,[CN_CREATE_NAME]
        ,[CN_CREATE_LOGIN] ) 
	VALUES
		(@ITEMID
		,0
		,105
		,@NEW_TYPE_ID
		,0
		,0
		,0
		,1
		,''
		,@NEW_TYPE_NAME
		,@USERID
		,@NAME
		,@LOGIN )

	SET @ERROR = @ERROR + @@ERROR

	UPDATE TN_80_APP_0025_BOM_HLINK
	SET CN_B_IS_ASSEMBLY = @CANEXPAND
	WHERE CN_COMPONENT_OBJECT_ID = @ITEMID

	SET @ERROR = @ERROR + @@ERROR

	IF @ERROR <> 0
	BEGIN
		SET @MSG = '请联系管理员'
		SELECT @MSG AS MSG, @SUCCESS AS SUCCESS
		ROLLBACK TRANSACTION
	END
	ELSE
	BEGIN
		SET @MSG = '操作成功'
		SELECT @MSG AS MSG, @SUCCESS AS SUCCESS
		COMMIT TRANSACTION
	END
END;
GO
