USE [MBOM_TJB]
GO
/****** Object:  StoredProcedure [dbo].[PROC_PRODUCT_CHANGE_DETAIL]    Script Date: 05/15/2018 15:22:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_PRODUCT_CHANGE_DETAIL]
(
@PRODCODE VARCHAR(30)
)
AS
BEGIN
	DECLARE @MSG VARCHAR(2000)
	DECLARE @SUCCESS BIT = 1

	-- 查询当前产品中是否有相应的ITEMCODE
	IF NOT EXISTS ( SELECT * FROM TN_80_APP_0010_PRODUCT WHERE CN_ITEM_CODE = @PRODCODE )
	BEGIN
		SET @SUCCESS = 0
		SET @MSG = '查无此产品记录，请联系管理员。'
		SELECT @MSG AS MSG, @SUCCESS AS SUCCESS
		RETURN
	END;

	-- 查询当前产品的所有子项 
	WITH X AS 
	(
		SELECT
		1 AS [LEVEL],

		ITEM.CN_ID AS CN_ITEMID,

		ITEM.CN_ITEM_CODE,
		ITEM.CN_CODE,
		ITEM.CN_NAME,
	 
		BOMHLINK.CN_HLINK_ID,  
		BOMHLINK.CN_B_IS_ASSEMBLY AS IS_ASSEMBLY 
		FROM 
		TN_80_APP_0025_BOM AS BOM
		INNER JOIN TN_80_APP_0025_BOM_HLINK AS BOMHLINK ON BOM.CN_ID = BOMHLINK.CN_BOM_ID AND BOMHLINK.CN_STATUS_PBOM = 'Y'
		INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON BOMHLINK.CN_COMPONENT_OBJECT_ID = ITEM.CN_ID
		WHERE 
		BOM.CN_ITEM_CODE = @PRODCODE

		UNION ALL

		SELECT 
		X.[LEVEL] + 1 AS [LEVEL],

		ITEM.CN_ID AS CN_ITEMID,

		ITEM.CN_ITEM_CODE,
		ITEM.CN_CODE,
		ITEM.CN_NAME,
		 
		BOMHLINK.CN_HLINK_ID,  
		BOMHLINK.CN_B_IS_ASSEMBLY 
		FROM 
		TN_80_APP_0025_BOM AS BOM
		INNER JOIN TN_80_APP_0025_BOM_HLINK AS BOMHLINK ON BOM.CN_ID = BOMHLINK.CN_BOM_ID AND BOMHLINK.CN_STATUS_PBOM = 'Y'
		INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON BOMHLINK.CN_COMPONENT_OBJECT_ID = ITEM.CN_ID
		INNER JOIN X ON	BOM.CN_CODE = X.CN_CODE AND X.IS_ASSEMBLY = 1
	) 
	SELECT *
	INTO #CHILDITEMS
	FROM X 
	OPTION (MAXRECURSION 32);
	-- 判断当前

	SELECT 
		 BOM.CN_ITEM_CODE AS ITEMCODE
		,BOM.CN_NAME AS NAME 
		,CASE WHEN CI.CN_ITEM_CODE IS NOT NULL THEN '当前产品' ELSE '其他产品' END AS [EFFECT]
		,HLINK.CN_DISPLAYNAME AS DISPLAYNAME
		,HLINK.CN_COMPONENT_OBJECT_ID AS CHILDID
		,HLINK.CN_F_QUANTITY AS QUANTITY
		,VER.CN_VER AS VER
		,VER.CN_DT_VER AS DTVER
		,CASE WHEN HLINK.CN_STATUS_PBOM = 'N' THEN '取消' ELSE 
			CASE WHEN HLINK.CN_STATUS_PBOM = '' THEN '新增' ELSE '未知' END
		END AS [STATUS]
		,CN_CHA_PBOM_IMPACT_DO AS ISIMPLEMENT
		,CN_MBOM_NOTICE AS NOTICE
	FROM TN_80_APP_0025_BOM_HLINK AS HLINK 
	JOIN TN_80_APP_0030_PBOM_VER AS VER  ON HLINK.CN_ID_NOTICE = VER.CN_PDM_VERID AND VER.CN_ITEM_CODE = @PRODCODE
	JOIN TN_80_APP_0025_BOM AS BOM ON HLINK.CN_BOM_ID = BOM.CN_ID
	LEFT JOIN #CHILDITEMS AS CI ON BOM.CN_ITEM_CODE = CI.CN_ITEM_CODE
	WHERE 
	HLINK.CN_PBOM_HLINKID > 0 AND CN_CHA_PBOM_SIGN = 'Y' AND CN_STATUS_MBOM <> 'N' AND CN_IS_TOERP = 0
	ORDER BY BOM.CN_ITEM_CODE,HLINK.CN_ORDER
END;
GO
