USE [MBOM_TJB]
GO
/****** Object:  StoredProcedure [dbo].[PROC_MBOM_RELEASE]    Script Date: 05/15/2018 15:22:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_MBOM_RELEASE]
(
	@CODE VARCHAR(200),
	@USERID INT,
	@NAME VARCHAR(20),
	@LOGIN VARCHAR(20)
)
AS
BEGIN
	DECLARE @MSG VARCHAR(2000)
	DECLARE @SUCCESS BIT = 1
	DECLARE @ERROR INT = 0

	DECLARE @BATCHID INT
	DECLARE @PRODUCTCODE CHAR(18)

	SELECT 
		 ID AS CODE
		,PROD.CN_ITEM_CODE AS ITEMCODE
	INTO #TMP_TRANSFER 
	FROM SPLIT(@CODE,DEFAULT)
	INNER JOIN TN_80_APP_0010_PRODUCT AS PROD ON PROD.CN_CODE = ID;

	-- 判断能否发布
	IF NOT EXISTS ( SELECT 1 FROM TN_80_APP_0010_PRODUCT AS PROD 
	WHERE 
	PROD.CN_CODE IN ( SELECT CODE FROM #TMP_TRANSFER ) 
	AND PROD.CN_STATUS = '可发布' 
	AND CN_CHECK_STATUS = '核查通过'
	)
	BEGIN
		SET @MSG = '产品未完成核查或已经发布，不可发布'
		RAISERROR( @MSG, 15, 1)
		RETURN
	END;

	-- 获取产品下所有ITEM,判断是否有引用，若有需要同时发布
	WITH X AS 
	(
		SELECT
		ITEM.CN_ID AS CN_ITEMID,
		ITEM.CN_CODE,

		BOM.CN_B_IS_ASSEMBLY

		FROM 
		TN_80_APP_0025_BOM AS M
		INNER JOIN TN_80_APP_0025_BOM_HLINK AS BOM ON M.CN_ID = BOM.CN_BOM_ID AND BOM.CN_STATUS_PBOM = 'Y'
		INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON BOM.CN_COMPONENT_OBJECT_ID = ITEM.CN_ID
		WHERE 
		M.CN_CODE IN ( SELECT CODE FROM #TMP_TRANSFER ) 

		UNION ALL

		SELECT
		ITEM.CN_ID AS CN_ITEMID,
		ITEM.CN_CODE,
		BOM.CN_B_IS_ASSEMBLY

		FROM 
		TN_80_APP_0025_BOM AS M
		INNER JOIN TN_80_APP_0025_BOM_HLINK AS BOM ON M.CN_ID = BOM.CN_BOM_ID AND BOM.CN_STATUS_PBOM = 'Y'
		INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON BOM.CN_COMPONENT_OBJECT_ID = ITEM.CN_ID
		INNER JOIN X ON M.CN_CODE = X.CN_CODE AND X.CN_B_IS_ASSEMBLY = 1
	)
	SELECT DISTINCT CN_ITEMID 
	INTO #TMP_ITEMID
	FROM X

	SELECT 
	ITEM.CN_PRODUCT_BASE,
	COUNT(1) BORROWCOUNT
	INTO #TMP_RELATEDPROD
	FROM
	#TMP_ITEMID AS TMP INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON TMP.CN_ITEMID = ITEM.CN_ID
	WHERE
	LEN(ITEM.CN_PRODUCT_BASE) > 0
	AND CN_IS_TOERP = 0
	GROUP BY ITEM.CN_PRODUCT_BASE,ITEM.CN_IS_TOERP
    
	-- 判断是否有借用
	IF EXISTS ( SELECT 1 FROM #TMP_RELATEDPROD )
	BEGIN
		-- 存在借用关系
		-- 判断其父级是否都已经发布
		-- 借用件的产品仍未发布，则不做发布处理
		IF EXISTS (
			SELECT 1
			FROM #TMP_RELATEDPROD 
			INNER JOIN TN_80_APP_0010_PRODUCT PROD ON CN_PRODUCT_BASE = PROD.CN_CODE AND PROD.CN_STATUS IN ('待发布','可发布')
		)
		BEGIN
			IF EXISTS (
				SELECT 1 FROM #TMP_RELATEDPROD AS R 
				INNER JOIN TN_80_APP_0010_PRODUCT PROD ON R.CN_PRODUCT_BASE = PROD.CN_CODE AND PROD.CN_STATUS IN ('待发布','可发布')
				LEFT JOIN #TMP_TRANSFER AS T ON R.CN_PRODUCT_BASE = T.CODE 
				WHERE T.CODE IS NULL
			)
			BEGIN
				SET @MSG = ISNULL(@MSG, '') + ' 该产品下有引用件：';

				DECLARE @PRODS NVARCHAR(500)
		
				SELECT 
				@PRODS = ISNULL(@PRODS, '') +
					'[' + RTRIM(PROD.CN_CODE) +
					/* ' ' + RTRIM(PROD.CN_NAME) + */
					']、'
				FROM 
				#TMP_RELATEDPROD BASEPROD
				INNER JOIN TN_80_APP_0010_PRODUCT PROD ON BASEPROD.CN_PRODUCT_BASE = PROD.CN_CODE AND PROD.CN_STATUS IN ('待发布','可发布')
				 
				SET @MSG = ISNULL(@MSG, '') +  ''+ SUBSTRING( @PRODS, 0, LEN(@PRODS) ) + ' 需要统一发布。'; 
				RAISERROR( @MSG, 15, 1)
				RETURN
			END

		END
	END



	BEGIN TRANSACTION

	INSERT INTO [dbo].[TN_90_BUS_0005_BATCH]
			   ([CN_MODUEL_CODE]
			   ,[CN_INFO_TYPE]
			   ,[CN_CREATE_BY]
			   ,[CN_CREATE_NAME])
	SELECT 'MBOM','MBOM',@USERID,@NAME

	SELECT @BATCHID = @@IDENTITY;
	-- 查询需要发布的ITEM，需要发布的是TOP_ERP为0的
	
	WITH X AS 
	(
		SELECT
		PRODS.ITEMCODE AS PRODCODE,
		ITEM.CN_ITEM_CODE,
		ITEM.CN_CODE,
		BOMHLINK.CN_BOM_ID,
		BOMHLINK.CN_B_IS_ASSEMBLY AS IS_ASSEMBLY,
		BOMHLINK.CN_IS_TOERP
		FROM 
		TN_80_APP_0025_BOM AS BOM
		INNER JOIN TN_80_APP_0025_BOM_HLINK AS BOMHLINK ON BOM.CN_ID = BOMHLINK.CN_BOM_ID
		AND (BOMHLINK.CN_STATUS_PBOM = 'Y' OR BOMHLINK.CN_STATUS_PBOM = '')
		AND (CN_STATUS_MBOM = ''  OR CN_STATUS_MBOM = 'Y' )
		INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON BOMHLINK.CN_COMPONENT_OBJECT_ID = ITEM.CN_ID
		INNER JOIN #TMP_TRANSFER AS PRODS ON BOM.CN_CODE = PRODS.CODE

		UNION ALL

		SELECT
		X.PRODCODE,
		ITEM.CN_ITEM_CODE,
		ITEM.CN_CODE,
		BOMHLINK.CN_BOM_ID,
		BOMHLINK.CN_B_IS_ASSEMBLY AS IS_ASSEMBLY,
		BOMHLINK.CN_IS_TOERP
		FROM 
		TN_80_APP_0025_BOM AS BOM
		INNER JOIN TN_80_APP_0025_BOM_HLINK AS BOMHLINK ON BOM.CN_ID = BOMHLINK.CN_BOM_ID
		AND (BOMHLINK.CN_STATUS_PBOM = 'Y' OR BOMHLINK.CN_STATUS_PBOM = '')
		AND (CN_STATUS_MBOM = ''  OR CN_STATUS_MBOM = 'Y' )
		INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON BOMHLINK.CN_COMPONENT_OBJECT_ID = ITEM.CN_ID
		INNER JOIN X ON	BOM.CN_CODE = X.CN_CODE AND X.IS_ASSEMBLY = 1
	)
	SELECT CN_BOM_ID AS BOMID, PRODCODE
	INTO #BOMIDS
	FROM X
	WHERE X.CN_IS_TOERP = 0
	GROUP BY CN_BOM_ID, PRODCODE
	OPTION (MAXRECURSION 32);
	SET @ERROR = @@ERROR + @ERROR

	INSERT INTO [dbo].[TN_80_APP_0025_BOM_RELEASE]
		([CN_BATCH_ID]
		,[CN_BOM_ID]
		,[CN_ITEM_CODE]
		,[CN_PRODUCT_CODE]) 
	SELECT @BATCHID,BOMID,BOM.CN_ITEM_CODE, PRODCODE
	FROM
	#BOMIDS
	INNER JOIN TN_80_APP_0025_BOM AS BOM ON BOM.CN_ID = BOMID
	SET @ERROR = @@ERROR + @ERROR

	UPDATE TN_80_APP_0010_PRODUCT SET CN_STATUS = 'MBOM发布'
	WHERE CN_CODE IN ( SELECT CODE FROM #TMP_TRANSFER ) 
	SET @ERROR = @@ERROR + @ERROR


	IF @ERROR <> 0
	BEGIN
		SET @MSG = '发布失败';
		RAISERROR( @MSG, 15, 1)
		ROLLBACK TRANSACTION
	END
	ELSE
	BEGIN
		SET @MSG = '发布完成';
		COMMIT TRANSACTION 
	END

	SELECT @MSG AS MSG, @SUCCESS AS SUCCESS
END;
GO
