USE [MBOM_TJB]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_ITEM_LIST]    Script Date: 05/15/2018 15:22:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_GET_ITEM_LIST]
(
@CODE NCHAR(24)
)
AS
BEGIN 

WITH X AS 
(
	SELECT
	ITEM.CN_ID AS CN_ITEMID,
	ITEM.CN_ITEM_CODE,
	ITEM.CN_CODE,
	ITEM.CN_NAME,

	BOM.CN_ISBORROW,

	BOM.CN_B_IS_ASSEMBLY,
	BOM.CN_ORDER

	FROM 
	TN_80_APP_0025_BOM AS M
	INNER JOIN TN_80_APP_0025_BOM_HLINK AS BOM ON M.CN_ID = BOM.CN_BOM_ID AND BOM.CN_STATUS_PBOM = 'Y'
	INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON BOM.CN_COMPONENT_OBJECT_ID = ITEM.CN_ID
	WHERE 
	M.CN_CODE = @CODE

	UNION ALL

	SELECT
	ITEM.CN_ID AS CN_ITEMID,
	ITEM.CN_ITEM_CODE,
	ITEM.CN_CODE,
	ITEM.CN_NAME,

	BOM.CN_ISBORROW,

	BOM.CN_B_IS_ASSEMBLY,
	BOM.CN_ORDER
	FROM 
	TN_80_APP_0025_BOM AS M
	INNER JOIN TN_80_APP_0025_BOM_HLINK AS BOM ON M.CN_ID = BOM.CN_BOM_ID AND BOM.CN_STATUS_PBOM = 'Y'
	INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON BOM.CN_COMPONENT_OBJECT_ID = ITEM.CN_ID
	INNER JOIN X ON M.CN_CODE = X.CN_CODE AND X.CN_B_IS_ASSEMBLY = 1
)
SELECT 
X.*,
CASE x.CN_B_IS_ASSEMBLY WHEN 1 THEN 'Y' ELSE '' END AS 部件,
CASE x.CN_ISBORROW WHEN 1 THEN 'Y' ELSE '' END AS 借用,
MAX(CASE ITEMHL.CN_COMPONENT_OBJECT_ID WHEN 1 THEN 'Y' ELSE '' END) AS 销售件,
MAX(CASE ITEMHL.CN_COMPONENT_OBJECT_ID WHEN 2 THEN 'Y' ELSE '' END) AS 采购件,
MAX(CASE ITEMHL.CN_COMPONENT_OBJECT_ID WHEN 3 THEN 'Y' ELSE '' END) AS 自制件,
MAX(CASE ITEMHL.CN_COMPONENT_OBJECT_ID WHEN 4 THEN 'Y' ELSE '' END) AS 标准件,
MAX(CASE ITEMHL.CN_COMPONENT_OBJECT_ID WHEN 5 THEN 'Y' ELSE '' END) AS 原材料,
MAX(CASE ITEMHL.CN_COMPONENT_OBJECT_ID WHEN 6 THEN 'Y' ELSE '' END) AS 包装件,
MAX(CASE ITEMHL.CN_COMPONENT_OBJECT_ID WHEN 7 THEN 'Y' ELSE '' END) AS 工艺件
FROM X
LEFT JOIN TN_80_APP_0000_ITEM_HLINK AS ITEMHL 
ON X.CN_ITEMID = ITEMHL.CN_ID
AND ITEMHL.CN_COMPONENT_CLASS_ID = 105
AND ITEMHL.CN_ISDELETE = 0
AND (ITEMHL.CN_SYS_STATUS = 'Y' OR ITEMHL.CN_SYS_STATUS = '')
LEFT JOIN [TN_50_DIC_0005_ITEMTYPE] AS ITEMTYPE ON ITEMHL.CN_COMPONENT_OBJECT_ID = ITEMTYPE.CN_ID

GROUP BY X.CN_B_IS_ASSEMBLY,X.CN_CODE,X.CN_ITEM_CODE,X.CN_ITEMID,
X.CN_NAME,X.CN_ORDER,x.CN_ISBORROW

ORDER BY CN_ORDER

END;
GO
