USE [MBOM_TJB]
GO
/****** Object:  StoredProcedure [dbo].[PROC_APPLY_BOMHLINK]    Script Date: 05/15/2018 15:22:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_APPLY_BOMHLINK]
(
@HLINKID INT,
@BYWHAT VARCHAR(300),
@USERID INT,
@NAME VARCHAR(30),
@LOGIN VARCHAR(30)
)
AS
BEGIN
	DECLARE @MSG VARCHAR(200) = '';
	DECLARE @SUCCESS BIT = 0;
	
	IF @HLINKID = 0
	BEGIN
		SET @MSG = '参数获取失败，请联系管理员（CORP-0001）。'
		SELECT @MSG AS MSG, @SUCCESS AS SUCCESS
		RETURN
	END

	IF NOT EXISTS ( SELECT 1 FROM TN_80_APP_0025_BOM_HLINK WHERE CN_HLINK_ID = @HLINKID AND CN_CHA_PBOM_SIGN = 'Y')
	BEGIN
		SET @MSG = '物料无需变更，请联系管理员（CORP-0021）。'
		SELECT @MSG AS MSG, @SUCCESS AS SUCCESS
		RETURN
	END

	DECLARE @ERROR INT = 0

	IF EXISTS ( SELECT 1 FROM TN_80_APP_0025_BOM_HLINK WHERE CN_HLINK_ID = @HLINKID AND CN_STATUS_PBOM = 'N')
	BEGIN
		-- 将HLINK记录值应用变更
		UPDATE TN_80_APP_0025_BOM_HLINK SET CN_STATUS_MBOM = CN_STATUS_PBOM, CN_CHA_PBOM_IMPACT_DO = 'Y', CN_MBOM_NOTICE = @BYWHAT WHERE CN_HLINK_ID = @HLINKID
		SET @ERROR = @ERROR + @@ERROR 
	END
	ELSE
	BEGIN
		UPDATE TN_80_APP_0025_BOM_HLINK SET CN_CHA_PBOM_IMPACT_DO = 'Y', CN_MBOM_NOTICE = @BYWHAT WHERE CN_HLINK_ID = @HLINKID
		SET @ERROR = @ERROR + @@ERROR 
	END

	
	IF @ERROR <> 0
	BEGIN
		SET @MSG = '请联系管理员'
		SELECT @MSG AS MSG, @SUCCESS AS SUCCESS
		ROLLBACK TRANSACTION
	END
	ELSE
	BEGIN
		SET @MSG = '操作成功'
		SET @SUCCESS = 1
		SELECT @MSG AS MSG, @SUCCESS AS SUCCESS
		COMMIT TRANSACTION
	END

END;
GO
