USE [MBOM_TJB]
GO
/****** Object:  StoredProcedure [dbo].[PROC_COMPOSITE_ITEM_DROP]    Script Date: 05/15/2018 15:22:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_COMPOSITE_ITEM_DROP]
(
@CODE VARCHAR(32),
@ITEMID INT,
@PARENTLINK VARCHAR(200)
)
AS
BEGIN
	DECLARE @MSG VARCHAR(2000) = ''
	DECLARE @SUCCESS BIT = 1
	DECLARE @ERROR INT = 0
	DECLARE @MBOM_VER_ID INT
	
	DECLARE @BOMID INT
	DECLARE @ITEMCODE VARCHAR(32)
	
	DECLARE @PARENTBOMID INT
	DECLARE @NOW DATETIME = SYSDATETIME()
	
	IF @ITEMID = 0
	OR LEN(RTRIM(ISNULL(@CODE,''))) = 0 
	BEGIN
		SET @MSG = '参数不完整，请联系管理员'
		SELECT @MSG AS MSG, @SUCCESS AS SUCCESS
		RETURN
	END
	
	-- 获取当前产品的最新版本ID
	SELECT TOP 1 @MBOM_VER_ID = CN_ID 
	FROM TN_80_APP_0040_MBOM_VER 
	WHERE CN_CODE = @CODE AND CN_SYS_STATUS = 'Y' 
	ORDER BY CN_DT_CREATE DESC
	
	IF @MBOM_VER_ID IS NULL
	BEGIN
		SET @MSG = '获取产品版本信息失败，请联系管理员'
		RAISERROR(@MSG, 15, 1)
		RETURN 
	END
	
	-- 检查是否为合件
	IF NOT EXISTS (
	SELECT 1
	FROM TN_80_APP_0000_ITEM_HLINK AS ITEMHLINK 
	WHERE ITEMHLINK.CN_ID = @ITEMID 
	AND ITEMHLINK.CN_COMPONENT_CLASS_ID = 105 AND ITEMHLINK.CN_COMPONENT_OBJECT_ID = 13
	)
	BEGIN
		SET @MSG = '所选件非合件'
		SELECT @MSG AS MSG, @SUCCESS AS SUCCESS
		RETURN
	END
	
	-- 判断合件是否存在
	IF NOT EXISTS ( 
		SELECT 1 FROM 
		TN_80_APP_0040_MBOM_HLINK
		WHERE CN_VER_ID = @MBOM_VER_ID
		AND CN_SYS_STATUS = 'Y'
		AND CN_TYPEID = 2
		AND CN_ITEMID = @ITEMID
	)
	BEGIN
		SET @MSG = '合件不存在，请刷新后重试。如仍有问题请联系管理员'
		RAISERROR(@MSG, 15, 1)
		RETURN
	END
	-- 判断合件是否可以被删除
	IF EXISTS ( 
		SELECT 1 FROM 
		TN_80_APP_0040_MBOM_HLINK
		WHERE CN_SYS_STATUS = 'Y'
		AND CN_TYPEID = 2
		AND CN_ISLINKED = 1
		AND CN_ITEMID = @ITEMID
	)
	BEGIN
		SET @MSG = '合件被引用中，请取消所有引用后再删除'
		RAISERROR(@MSG, 15, 1)
		RETURN
	END

	IF EXISTS ( SELECT 1 FROM TN_80_APP_0000_ITEM AS ITEM WHERE ITEM.CN_ID = @ITEMID AND ITEM.CN_IS_TOERP <> 0 )
	BEGIN
		SET @MSG = '该合件已向下游系统发布，不允许删除'
		RAISERROR(@MSG, 15, 1)
		RETURN
	END
	
	-- 获取选中合件的BOMID,CODE
	SELECT 
		 @BOMID = BOM.CN_ID
		,@ITEMCODE = BOM.CN_CODE
	FROM TN_80_APP_0000_ITEM AS ITEM
	INNER JOIN TN_80_APP_0025_BOM AS BOM ON ITEM.CN_CODE = BOM.CN_CODE
	WHERE ITEM.CN_ID = @ITEMID
	
	-- 获取选中合件父级BOMID
	SELECT @PARENTBOMID = CN_BOM_ID
	FROM TN_80_APP_0025_BOM_HLINK
	WHERE CN_COMPONENT_OBJECT_ID = @ITEMID
	
	
	BEGIN TRANSACTION
	
	-- ------------------------ --
	--	修改MBOM_HLINK中的关系
	-- ------------------------ --
	
	-- 获取选中合件所有一级子级
	SELECT 
	ITEM.CN_ID AS ITEMID,
	-- MBOMHLINK中原本的LINK
	@PARENTLINK + ',' + CAST(ITEM.CN_ID AS VARCHAR) AS LINK
	INTO #TMP_CHILDREN
	FROM TN_80_APP_0040_MBOM_HLINK AS MBOMHLINK
	INNER JOIN TN_80_APP_0025_BOM_HLINK AS BOMHLINK ON BOMHLINK.CN_HLINK_ID = MBOMHLINK.CN_BOM_HLINK_ID
	INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON ITEM.CN_ID = BOMHLINK.CN_COMPONENT_OBJECT_ID
	WHERE 
	MBOMHLINK.CN_VER_ID = @MBOM_VER_ID
	AND MBOMHLINK.CN_SYS_STATUS = 'Y'
	AND BOMHLINK.CN_BOM_ID = @BOMID
	SET @ERROR = @ERROR + @@ERROR
	
	-- 根据子级原LINK，找到MBOMHLINK原下级，全部链接回BOM中
	UPDATE M
	SET CN_ISLINKED = 1
	FROM TN_80_APP_0040_MBOM_HLINK AS M
	CROSS JOIN #TMP_CHILDREN AS C
	WHERE CN_VER_ID = @MBOM_VER_ID
	AND CN_SYS_STATUS = 'Y'
	AND CN_ISLINKED = 0
	AND CHARINDEX(','+C.LINK+',',','+CN_LINK+',') > 0
	SET @ERROR = @ERROR + @@ERROR
	
	-- 失效选中合件及其所有下级
	UPDATE T
	SET 
		 CN_SYS_STATUS = 'N'
		,CN_DT_MODIFY = @NOW
		,CN_DESC = '用户删除合件'
	FROM TN_80_APP_0040_MBOM_HLINK AS T
	WHERE
	T.CN_VER_ID = @MBOM_VER_ID
	AND T.CN_SYS_STATUS = 'Y'
	AND T.CN_TYPEID = 2
	AND CHARINDEX(','+CAST(@ITEMID AS VARCHAR)+',',','+T.CN_LINK+',') > 0
	SET @ERROR = @ERROR + @@ERROR
	
	-- ----------------------------------- --
	--	删除选中合件在BOM_HLINK中的关系
	-- ----------------------------------- --

	-- 删除选中合件的BOM_HLINK上级关联
	UPDATE BOMHLINK
	SET 
		 CN_STATUS_MBOM = 'N'
		,CN_SYS_STATUS = 'N'
		,CN_DESC = '用户删除合件'
	FROM TN_80_APP_0025_BOM_HLINK AS BOMHLINK
	WHERE 
		CN_COMPONENT_OBJECT_ID = @ITEMID
		AND CN_STATUS_MBOM = 'Y'
	SET @ERROR = @ERROR + @@ERROR
	
	-- 删除选中合件的BOM_HLINK下级关联
	UPDATE BOMHLINK
	SET 
		 CN_STATUS_MBOM = 'N'
		,CN_SYS_STATUS = 'N'
		,CN_DESC = '用户删除合件后，子级一并删除，合件CODE：' + @ITEMCODE
	FROM TN_80_APP_0025_BOM_HLINK AS BOMHLINK
	WHERE BOMHLINK.CN_BOM_ID = @BOMID
	SET @ERROR = @ERROR + @@ERROR
	
	-- --------------------------------------- --
	--	生效选中合件子级在BOM_HLINK中的关系
	-- --------------------------------------- --
	--生效BOM_HLINK的MBOM
	UPDATE BOMHLINK
	SET 
		 CN_STATUS_MBOM = 'Y'
		,CN_DESC = '用户取消合件设置，还原合件下级，原合件父级CODE：' + @ITEMCODE
	FROM TN_80_APP_0025_BOM_HLINK AS BOMHLINK
	INNER JOIN #TMP_CHILDREN AS T ON T.ITEMID = BOMHLINK.CN_COMPONENT_OBJECT_ID
	WHERE BOMHLINK.CN_BOM_ID = @PARENTBOMID
	SET @ERROR = @ERROR + @@ERROR
	
	-- 从ITEM、BOM表中删除
	DELETE FROM TN_80_APP_0000_ITEM WHERE CN_ID = @ITEMID
	SET @ERROR = @ERROR + @@ERROR
	DELETE FROM TN_80_APP_0000_ITEM_HLINK WHERE CN_ID = @ITEMID
	SET @ERROR = @ERROR + @@ERROR
	DELETE FROM TN_80_APP_0025_BOM WHERE CN_ID = @BOMID
	SET @ERROR = @ERROR + @@ERROR
	
	IF @ERROR <> 0
	BEGIN
		SET @MSG = '删除合件失败，请联系管理员'
		RAISERROR(@MSG, 15, 1)
		ROLLBACK TRANSACTION
	END
	ELSE
	BEGIN
		SET @MSG = '处理完成，合件子件已经还原至原父件下。<BR/>由于合件的设置与删除会对BOM结构产生重大影响，请您仔细查证。<BR/>如有疑问请与管理员联系。'
		SELECT @MSG AS MSG, @SUCCESS AS SUCCESS
		COMMIT TRANSACTION
	END


END;
GO
