USE [MBOM_TJB]
GO
/****** Object:  StoredProcedure [dbo].[PROC_OPTIONALITEM_MAP_REMOVE]    Script Date: 05/15/2018 15:22:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_OPTIONALITEM_MAP_REMOVE]
(
@HLINKIDS VARCHAR(1000)
)
AS
BEGIN
	DECLARE @SUCCESS BIT = 1
	DECLARE @MSG VARCHAR(200) = ''

	DECLARE @DELCOUNT INT = 0
	DECLARE @IDCOUNT INT = 0

	SELECT @IDCOUNT = COUNT(ID) FROM SPLIT(@HLINKIDS,DEFAULT)
	
	DELETE FROM TN_OPTIONAL_ITEM_HLINK WHERE CN_HLINK_ID IN 
	( SELECT ID FROM SPLIT(@HLINKIDS,DEFAULT) )
	AND CN_IS_TOERP = 0

	SELECT @DELCOUNT = @@ROWCOUNT

	IF @DELCOUNT <> @IDCOUNT
	BEGIN
		SET @MSG = @MSG + '部分数据已经被发布至ERP，无法进行删除。'
	END
	

	IF @@ERROR <> 0
	BEGIN
		SET @SUCCESS = 0;
		SET @MSG = '操作失败，请重试或联系管理员。'
	END
	ELSE
	BEGIN
		SET @MSG = @MSG + '操作成功。'
	END
	SELECT @MSG AS MSG, @SUCCESS AS SUCCESS
END;
GO
