USE [MBOM_TJB]
GO
/****** Object:  StoredProcedure [dbo].[PROC_SET_ITEM_VIRTUAL]    Script Date: 05/15/2018 15:22:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_SET_ITEM_VIRTUAL]
(
	@BOMID INT,
	@ITEMID INT,
	@SHOW BIT,
	@USERID INT,
	@NAME VARCHAR(20),
	@LOGIN VARCHAR(20)
)
AS
BEGIN
	-- 105 表示零件类型
	DECLARE @COMPONENT_CLASS_ID INT = 105
	-- 12 为 MBOM虚拟件
	DECLARE @COMPONENT_OBJECT_ID INT = 12

	DECLARE @ERROR INT = 0
	DECLARE @SUCCESS BIT = 1
	DECLARE @MSG NVARCHAR(2000) = ''

	IF NOT EXISTS (
		SELECT 1
		FROM 
		TN_80_APP_0000_ITEM AS ITEM
		INNER JOIN TN_80_APP_0025_BOM AS BOM ON ITEM.CN_CODE = BOM.CN_CODE
		WHERE
		ITEM.CN_ID = @ITEMID
	)
	BEGIN
		SET @MSG = '设置失败：选择的件没有子件，无法设置为虚件' 
		RAISERROR('%s',15,1, @MSG)
		RETURN
	END

	IF EXISTS (
		SELECT 1 FROM TN_80_APP_0025_BOM_HLINK 
		WHERE 
		CN_BOM_ID = @BOMID 
		AND CN_COMPONENT_OBJECT_ID = @ITEMID
		AND CN_STATUS_MBOM = 'N'
		)
	BEGIN
		SET @MSG = '设置失败：选择的件已经设置为虚件或合件' 
		RAISERROR('%s',15,1, @MSG)
		RETURN
	END

	-- 2017年12月6日 更新，可以设置嵌套虚件 

	BEGIN TRANSACTION

	INSERT INTO [DBO].[TN_80_APP_0000_ITEM_HLINK]
           ([CN_ID]
           ,[CN_ISDELETE]
           ,[CN_COMPONENT_CLASS_ID]
           ,[CN_COMPONENT_OBJECT_ID]
           ,[CN_COMPONENT_OBJECT_VER_ID]
           ,[CN_COMPONENT_OBJECT_VERSION]
           ,[CN_S_ATTACH_DATA]
           ,[CN_ITEMSTATE_TAGGER_DATA]
           ,[CN_ISFOLDER]
           ,[CN_ISBORROW]
           ,[CN_ORDER]
           ,[CN_NUMBER]
           ,[CN_F_QUANTITY]
           ,[CN_UNIT]
           ,[CN_B_IS_ASSEMBLY]
           ,[CN_DISPLAYNAME]
           ,[CN_S_FROM]
           ,[CN_DESC]
           ,[CN_CREATE_BY]
           ,[CN_CREATE_NAME]
           ,[CN_CREATE_LOGIN]
           ,[CN_SYS_STATUS]
           ,[CN_SYS_NOTE] ) 
	SELECT
		    @ITEMID			-- ID 
		   ,0				-- ISDELETE
		   ,@COMPONENT_CLASS_ID
		   ,@COMPONENT_OBJECT_ID
		   ,0				-- COMPONENT OBJECT VER ID
		   ,''				-- COMPONENT OBJECT VERSION
		   ,''				-- ATTACH DATA
		   ,0				-- ITEMSTATE TAGGER DATA
		   ,0				-- ISFOLDER
		   ,0				-- ISBORROW
		   ,0				-- ORDER
		   ,0				-- NUMBER
		   ,0				-- QUANTITY
		   ,''				-- UNIT
		   ,0				-- IS ASEEMBLY
		   ,'MBOM虚拟件'	-- DISPLAYNAME
		   ,''				-- FROM
		   ,NULL			-- DESC
		   ,@USERID			-- CREATE BY
		   ,@NAME			-- CREATE NAME
		   ,@LOGIN			-- CREATE LOGIN
		   ,''				-- SYS STATUS
		   ,NULL			-- SYS NOTE 

	SET @ERROR = @@ERROR + @ERROR
	-- 更新 所有相关的BOM全部为虚件
	UPDATE TN_80_APP_0025_BOM_HLINK
	SET 
	CN_STATUS_MBOM = 'N'	
	--, CN_DT_MODIFY = GETDATE()	--暂时没此字段
	WHERE CN_COMPONENT_OBJECT_ID = @ITEMID

	SET @ERROR = @@ERROR + @ERROR;

	-- 查找所有到产品的链路将其存入虚件链路表
	WITH X AS 
	(
	SELECT
	0 AS LVL
	,CAST( CAST(ITEM.CN_ID AS VARCHAR(200)) +','+ CAST(@ITEMID AS VARCHAR(200)) AS VARCHAR(200)) AS LINK
	,ITEM.CN_ID AS ITEMID
	,ITEM.CN_CODE
	FROM TN_80_APP_0025_BOM_HLINK AS BOMHLINK
	INNER JOIN [DBO].[TN_80_APP_0025_BOM] AS BOM ON BOM.CN_ID = BOMHLINK.CN_BOM_ID
	INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON ITEM.CN_CODE = BOM.CN_CODE
	WHERE BOMHLINK.CN_COMPONENT_OBJECT_ID = @ITEMID AND (BOMHLINK.CN_STATUS_PBOM = '' OR BOMHLINK.CN_STATUS_PBOM = 'Y')

	UNION ALL

	SELECT 
	X.LVL + 1
	,CAST( CAST(ITEM.CN_ID AS VARCHAR(200)) +','+ X.LINK AS VARCHAR(200)) AS LINK
	,ITEM.CN_ID AS ITEMID
	,ITEM.CN_CODE
	FROM TN_80_APP_0025_BOM_HLINK AS BOMHLINK
	INNER JOIN [DBO].[TN_80_APP_0025_BOM] AS BOM ON BOM.CN_ID = BOMHLINK.CN_BOM_ID
	INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON ITEM.CN_CODE = BOM.CN_CODE
	INNER JOIN X ON X.ITEMID = BOMHLINK.CN_COMPONENT_OBJECT_ID
	WHERE (BOMHLINK.CN_STATUS_PBOM = '' OR BOMHLINK.CN_STATUS_PBOM = 'Y')
	)
	INSERT INTO [dbo].[TN_PRODUCT_DISCRETE_LINK]
           ([CN_TYPE]
           ,[CN_PRODUCT_ID]
           ,[CN_PRODUCT_CODE]
           ,[CN_PRODUCT_ITEM_CODE]
           ,[CN_LINK]
           ,[CN_ITEM_ID]
           ,[CN_CODE]
           ,[CN_ITEM_CODE]
           ,[CN_SHOWINTREE]
           ,[CN_CREATE_BY]
           ,[CN_CREATE_NAME]
           ,[CN_CREATE_LOGIN]) 
	SELECT DISTINCT 
		'MBOM虚拟件'
		,PROD.CN_ID
		,PROD.CN_CODE
		,PROD.CN_ITEM_CODE
		,X.LINK
		,ITEM.CN_ID
		,ITEM.CN_CODE
		,ITEM.CN_ITEM_CODE
		,@SHOW
		,@USERID
		,@NAME
		,@LOGIN
	FROM X
	INNER JOIN [TN_80_APP_0010_PRODUCT] AS PROD ON PROD.CN_CODE = X.CN_CODE
	INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON ITEM.CN_ID = @ITEMID
	
	SET @ERROR = @@ERROR + @ERROR;

	IF @ERROR <> 0
	BEGIN
		SET @SUCCESS = 0
		SET @MSG = '设置虚件失败，请联系管理员'
		ROLLBACK TRANSACTION
	END
	ELSE
	BEGIN
		SET @MSG = '设置虚件成功'
		COMMIT TRANSACTION
	END

	SELECT @MSG AS MSG, @SUCCESS AS SUCCESS

END;
GO
