USE [MBOM_TJB]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_ITEM_PROCESS]    Script Date: 05/15/2018 15:22:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_GET_ITEM_PROCESS]
(
@CODE NCHAR(30)
)
AS
BEGIN

SELECT 
PVL.CN_HLINK_ID,
PVL.CN_GX_CODE,
PVL.CN_GX_NAME,
PVL.CN_GXNR
FROM 
TN_80_APP_0020_PROCESS_VER AS P
INNER JOIN TN_80_APP_0020_PROCESS_VER_HLINK AS PVL ON P.CN_ID = PVL.CN_ID AND PVL.CN_SYS_STATUS = 'Y'
WHERE P.CN_CODE = @CODE AND P.CN_SYS_STATUS = 'Y'
ORDER BY PVL.CN_GX_CODE

END;
GO
