USE [MBOM_TJB]
GO
/****** Object:  StoredProcedure [dbo].[PROC_VIRTUAL_ITEM_DROP]    Script Date: 05/15/2018 15:22:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[PROC_VIRTUAL_ITEM_DROP]
(
@CODE VARCHAR(32),
@ITEMID INT
)
AS
BEGIN
	
	DECLARE @MSG VARCHAR(2000)
	DECLARE @SUCCESS BIT = 1
	DECLARE @ERROR INT = 0
 
	DECLARE @SELFBOMID INT
	DECLARE @MBOM_VER_ID INT
	DECLARE @DATE DATETIME = SYSDATETIME();

	
	-- 获取当前产品的最新版本ID
	SELECT TOP 1 @MBOM_VER_ID = CN_ID 
	FROM TN_80_APP_0040_MBOM_VER 
	WHERE CN_CODE = @CODE AND CN_SYS_STATUS = 'Y' AND CN_IS_TOERP <> 2
	ORDER BY CN_DT_CREATE DESC
	
	IF @MBOM_VER_ID IS NULL
	BEGIN
		SET @MSG = '获取产品版本信息失败，请联系管理员！'
		RAISERROR(@MSG, 15, 1)
		RETURN 
	END
	-- 检查引用件是否为虚件
	IF NOT EXISTS (
		SELECT 1 FROM TN_80_APP_0000_ITEM_HLINK
		WHERE CN_ID = @ITEMID
		AND CN_COMPONENT_CLASS_ID = 105
		AND CN_COMPONENT_OBJECT_ID = 12
		AND CN_SYS_STATUS = 'Y'
	)
	BEGIN
		SET @MSG = '所选件非虚件，无法引用'
		RAISERROR(@MSG, 15, 1)
		RETURN
	END

	SELECT 
	@SELFBOMID = BOM.CN_ID
	FROM
	TN_80_APP_0000_ITEM AS ITEM
	INNER JOIN TN_80_APP_0025_BOM AS BOM ON ITEM.CN_CODE = BOM.CN_CODE
	WHERE 
	ITEM.CN_ID = @ITEMID

	IF EXISTS (
		SELECT 1
		FROM TN_80_APP_0040_MBOM_HLINK
		WHERE 
		CN_VER_ID = @MBOM_VER_ID
		AND CN_SYS_STATUS = 'Y'
		AND CN_ITEMID = @ITEMID
		AND CN_TYPEID = 1
		AND CN_ISLINKED = 1
	)
	BEGIN
		SET @MSG = '该虚件被引用中，无法删除虚件，请取消本产品所有的引用后重试！'
		RAISERROR(@MSG, 15, 1)
		RETURN 
	END


	BEGIN TRANSACTION
	-- 从ITEMHLINK中删除属性
	DELETE FROM TN_80_APP_0000_ITEM_HLINK WHERE CN_ID = @ITEMID AND CN_COMPONENT_CLASS_ID = 105 AND CN_COMPONENT_OBJECT_ID = 12
	SET @ERROR = @ERROR + @@ERROR
	-- 确认所有的虚件都被取消引用了，这里直接更新虚件为禁用状态（由于没有被引用，所以没有下级，不需要禁用其下级）
	UPDATE TN_80_APP_0040_MBOM_HLINK
	SET 
		 CN_SYS_STATUS = 'N'
		,CN_DT_MODIFY = @DATE
	WHERE
		CN_VER_ID = @MBOM_VER_ID
		AND CN_SYS_STATUS = 'Y'
		AND CN_TYPEID = 1
		AND CN_ITEMID = @ITEMID
	SET @ERROR = @ERROR + @@ERROR
	-- 还原原来的
	UPDATE TN_80_APP_0040_MBOM_HLINK
	SET 
		 CN_ISLINKED = 1
		,CN_DT_MODIFY = @DATE
	WHERE
		CN_VER_ID = @MBOM_VER_ID
		AND CN_TYPEID = 0
		AND CN_ITEMID = @ITEMID
	SET @ERROR = @ERROR + @@ERROR
	
	
	IF @ERROR <> 0
	BEGIN
		SET @MSG = '取消虚件失败，请联系管理员。'
		RAISERROR(@MSG, 15, 1)
		ROLLBACK TRANSACTION
	END
	ELSE
	BEGIN
		SET @MSG = '取消虚件成功，列表将刷新。<br />由于虚件的设置与取消对BOM产生巨大影响，请您仔细查证。<br/>如有疑问请联系管理员。'
		SELECT @MSG AS MSG, @SUCCESS AS SUCCESS
		COMMIT TRANSACTION
	END
END;
GO
