USE [MBOM_TJB]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_MBOM_MAINTENANCETREE]    Script Date: 05/15/2018 15:22:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PROC_GET_MBOM_MAINTENANCETREE]
(
@CODE VARCHAR(50)
)
AS
BEGIN
	DECLARE @MSG VARCHAR(2000)
	DECLARE @SUCCESS BIT = 1
	DECLARE @ERROR INT = 0
	
	DECLARE @MBOM_VER_ID INT
	-- 需要先获取到产品的最新的正在使用中的版本
	SELECT @MBOM_VER_ID = CN_ID
	FROM TN_80_APP_0040_MBOM_VER
	WHERE CN_CODE = @CODE AND CN_SYS_STATUS = 'Y'
	
	IF @MBOM_VER_ID IS NULL
	BEGIN
		RAISERROR('版本信息获取失败，请联系管理员。', 15, 1)
		RETURN
	END
	
	-- 产品级
	SELECT 
		0 AS [LEVEL],
		CAST(NULL AS VARCHAR) AS PARENT_LINK,
		CAST(ITEM.CN_ID AS VARCHAR) AS LINK,
		CAST(NULL AS VARCHAR) AS PARENTID,
		CAST(ITEM.CN_ID AS VARCHAR) AS ID,
		ITEM.CN_ID AS CN_ITEMID,
		ITEM.CN_ITEM_CODE,
		ITEM.CN_CODE,
		ITEM.CN_NAME,
		0 AS CN_BOM_ID,
		0 AS CN_HLINK_ID, 
		1 AS QUANTITY,
		1 AS QUANTITY_ALL,
		'' AS CN_UNIT,
		CAST(0 AS BIT) AS CN_ISBORROW,
		CAST(1 AS BIT) AS IS_ASSEMBLY,
		0 AS CN_ORDER,
		0 AS CN_TYPEID
	INTO #TMP
	FROM TN_80_APP_0000_ITEM AS ITEM
	WHERE ITEM.CN_CODE = @CODE 
	
	DECLARE @BOM_ID INT
	SELECT @BOM_ID = CN_ID FROM TN_80_APP_0025_BOM WHERE CN_CODE = @CODE
	

	-- 查询出所有的件 	
	;WITH X AS
	(
		SELECT
			LEN(RTRIM(MBOM.CN_LINK)) - LEN(RTRIM(REPLACE(MBOM.CN_LINK, ',', ''))) AS [LEVEL]
			,MBOM.CN_PARENT_LINK AS PARENT_LINK
			,MBOM.CN_LINK AS LINK
			,REPLACE(MBOM.CN_PARENT_LINK, ',', '') AS PARENTID
			,REPLACE(MBOM.CN_LINK, ',', '') AS ID
			,MBOM.CN_ITEMID
			,ITEM.CN_ITEM_CODE
			,ITEM.CN_CODE
			,ITEM.CN_NAME
			,BOMHLINK.CN_BOM_ID
			,BOMHLINK.CN_HLINK_ID
			,BOMHLINK.CN_F_QUANTITY AS QUANTITY
			,BOMHLINK.CN_F_QUANTITY AS QUANTITY_ALL
			,BOMHLINK.CN_UNIT
			,BOMHLINK.CN_ISBORROW
			,BOMHLINK.CN_B_IS_ASSEMBLY AS IS_ASSEMBLY
			,BOMHLINK.CN_ORDER
			,MBOM.CN_TYPEID
		FROM TN_80_APP_0040_MBOM_HLINK AS MBOM
		INNER JOIN TN_80_APP_0025_BOM_HLINK AS BOMHLINK ON BOMHLINK.CN_HLINK_ID = MBOM.CN_BOM_HLINK_ID
		INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON ITEM.CN_ID = MBOM.CN_ITEMID
		WHERE 
			MBOM.CN_VER_ID = @MBOM_VER_ID 
			AND MBOM.CN_SYS_STATUS = 'Y'
			AND MBOM.CN_ISLINKED = 1
			AND MBOM.CN_ISSHOW = 1
			AND BOMHLINK.CN_BOM_ID = @BOM_ID
		UNION ALL
		SELECT
			LEN(RTRIM(MBOM.CN_LINK)) - LEN(RTRIM(REPLACE(MBOM.CN_LINK, ',', ''))) AS [LEVEL]
			,MBOM.CN_PARENT_LINK AS PARENT_LINK
			,MBOM.CN_LINK AS LINK
			,REPLACE(MBOM.CN_PARENT_LINK, ',', '') AS PARENTID
			,REPLACE(MBOM.CN_LINK, ',', '') AS ID
			,MBOM.CN_ITEMID
			,ITEM.CN_ITEM_CODE
			,ITEM.CN_CODE
			,ITEM.CN_NAME
			,BOMHLINK.CN_BOM_ID
			,BOMHLINK.CN_HLINK_ID
			,BOMHLINK.CN_F_QUANTITY AS QUANTITY
			,BOMHLINK.CN_F_QUANTITY AS QUANTITY_ALL
			,BOMHLINK.CN_UNIT
			,BOMHLINK.CN_ISBORROW
			,BOMHLINK.CN_B_IS_ASSEMBLY AS IS_ASSEMBLY
			,BOMHLINK.CN_ORDER
			,MBOM.CN_TYPEID
		FROM TN_80_APP_0040_MBOM_HLINK AS MBOM
		INNER JOIN TN_80_APP_0025_BOM_HLINK AS BOMHLINK ON BOMHLINK.CN_HLINK_ID = MBOM.CN_BOM_HLINK_ID
		INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON ITEM.CN_ID = MBOM.CN_ITEMID
		INNER JOIN X ON X.LINK = MBOM.CN_PARENT_LINK
		WHERE 
			MBOM.CN_VER_ID = @MBOM_VER_ID 
			AND MBOM.CN_SYS_STATUS = 'Y'
			AND MBOM.CN_ISLINKED = 1
			AND MBOM.CN_ISSHOW = 1
	)
	SELECT *
	INTO #ITEMS
	FROM X
	
	-- 连接产品
	SELECT *,'产品' AS MBOMTYPE FROM #TMP
	
	UNION
	SELECT ITEM.*,
	CASE ITEM.CN_TYPEID WHEN 0 THEN NULL ELSE
		CASE ITEM.CN_TYPEID WHEN 1 THEN 'V' ELSE 'C' END
	END AS MBOMTYPE
	FROM #ITEMS AS ITEM
	
	ORDER BY CN_ORDER
END;
GO
