USE [MBOM_TJB]
GO
/****** Object:  StoredProcedure [dbo].[PROC_MBOM_INTEGRITY_CHECK]    Script Date: 05/15/2018 15:22:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_MBOM_INTEGRITY_CHECK]
(
	@CODE CHAR(20)
)
AS
BEGIN
	DECLARE @MSG VARCHAR(2000);
	DECLARE @ERROR BIT = 0;
	 
	DECLARE @TMP VARCHAR(200)
	-- 检查所有子件，是否都已经有采购件或自制件属性，如果没有则不允许发布
	SET @TMP = '';
	WITH X AS 
	(
		SELECT 
		ITEM.CN_ID AS CN_ITEMID, 
		ITEM.CN_CODE,  
		BOMHLINK.CN_B_IS_ASSEMBLY AS IS_ASSEMBLY 
		FROM 
		TN_80_APP_0025_BOM AS BOM
		INNER JOIN TN_80_APP_0025_BOM_HLINK AS BOMHLINK ON BOM.CN_ID = BOMHLINK.CN_BOM_ID AND BOMHLINK.CN_STATUS_PBOM = 'Y'
		INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON BOMHLINK.CN_COMPONENT_OBJECT_ID = ITEM.CN_ID
		WHERE 
		BOM.CN_CODE = @CODE

		UNION ALL

		SELECT
		ITEM.CN_ID AS CN_ITEMID, 
		ITEM.CN_CODE,  
		BOMHLINK.CN_B_IS_ASSEMBLY 
		FROM 
		TN_80_APP_0025_BOM AS BOM
		INNER JOIN TN_80_APP_0025_BOM_HLINK AS BOMHLINK ON BOM.CN_ID = BOMHLINK.CN_BOM_ID AND BOMHLINK.CN_STATUS_PBOM = 'Y'
		INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON BOMHLINK.CN_COMPONENT_OBJECT_ID = ITEM.CN_ID
		INNER JOIN X ON	BOM.CN_CODE = X.CN_CODE AND X.IS_ASSEMBLY = 1
	) 
	SELECT DISTINCT CN_ITEMID AS ITEMID, CN_CODE AS CODE
	INTO #TMP_CHILDS
	FROM X
	OPTION (MAXRECURSION 32);

	IF EXISTS 
	(
		SELECT 1 
		FROM #TMP_CHILDS AS TMP 
		LEFT JOIN TN_80_APP_0000_ITEM_HLINK AS ITEMHLINK ON ITEMHLINK.CN_ID = TMP.ITEMID 
		AND ( 
			ITEMHLINK.CN_COMPONENT_CLASS_ID = 105 
			AND ITEMHLINK.CN_COMPONENT_OBJECT_ID IN (2,3,12,13)  
		)
		WHERE ITEMHLINK.CN_HLINK_ID IS NULL
	)
	BEGIN
		SELECT @TMP = RTRIM(TMP.CODE) + ',' + ISNULL(@TMP,'')  
		FROM #TMP_CHILDS AS TMP 
		LEFT JOIN TN_80_APP_0000_ITEM_HLINK AS ITEMHLINK ON ITEMHLINK.CN_ID = TMP.ITEMID 
		AND (
			ITEMHLINK.CN_COMPONENT_CLASS_ID = 105 
			AND ITEMHLINK.CN_COMPONENT_OBJECT_ID IN (2,3,12,13)
		)
		WHERE ITEMHLINK.CN_HLINK_ID IS NULL


		SET @MSG = '核查不通过，有子件不是采购或自制件：<br/>' + @TMP 
		RAISERROR(@MSG, 15, 1)
		SET @ERROR = 1
	END


	IF @ERROR <> 0
	BEGIN
		UPDATE TN_80_APP_0010_PRODUCT
		SET 
		CN_CHECK_STATUS = '核查不通过'
		WHERE CN_CODE = @CODE
	END
	ELSE
	BEGIN
		UPDATE TN_80_APP_0010_PRODUCT
		SET 
		CN_CHECK_STATUS = '核查通过',
		CN_STATUS = '可发布'
		WHERE CN_CODE = @CODE
	END

	SELECT CN_CODE
	,CN_ITEM_CODE
	,CN_NAME
	,CN_STATUS
	,CN_CHECK_STATUS
	,CN_SALE_SET
	,*
	FROM TN_80_APP_0010_PRODUCT
	WHERE CN_CODE = @CODE
END;
GO
