USE [MBOM_TJB]
GO
/****** Object:  StoredProcedure [dbo].[PROC_COMPOSITE_ITEM_LINK]    Script Date: 05/15/2018 15:22:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_COMPOSITE_ITEM_LINK]
(
@CODE VARCHAR(32),
@PARENTITEMID INT,
@ITEMID INT,
@PARENTLINK VARCHAR(100),
@LINK VARCHAR(100),
@USERID INT,
@NAME VARCHAR(20),
@LOGIN VARCHAR(20)
)
AS
BEGIN 
	DECLARE @MSG VARCHAR(2000);
	DECLARE @SUCCESS BIT = 1;
	DECLARE @ERROR INT = 0;
	
	DECLARE @MBOM_VER_ID INT
	DECLARE @DATE DATETIME = SYSDATETIME()
	
	IF @ITEMID = 0
	OR @PARENTITEMID = 0 
	OR LEN(RTRIM(ISNULL(@CODE,''))) = 0 
	OR LEN(RTRIM(ISNULL(@PARENTLINK,''))) = 0
	OR LEN(RTRIM(ISNULL(@LINK,''))) = 0 
	BEGIN
		SET @MSG = '参数不完整，请联系管理员'
		SELECT @MSG AS MSG, @SUCCESS AS SUCCESS
		RETURN
	END
	
	-- 获取当前产品的最新版本ID
	SELECT TOP 1 @MBOM_VER_ID = CN_ID 
	FROM TN_80_APP_0040_MBOM_VER 
	WHERE CN_CODE = @CODE AND CN_SYS_STATUS = 'Y' 
	ORDER BY CN_DT_CREATE DESC
	
	IF @MBOM_VER_ID IS NULL
	BEGIN
		SET @MSG = '获取产品版本信息失败，请联系管理员'
		RAISERROR(@MSG, 15, 1)
		RETURN 
	END
	
	-- 检查是否为合件
	IF NOT EXISTS (
	SELECT 1
	FROM TN_80_APP_0000_ITEM_HLINK AS ITEMHLINK 
	WHERE ITEMHLINK.CN_ID = @ITEMID 
	AND ITEMHLINK.CN_COMPONENT_CLASS_ID = 105 AND ITEMHLINK.CN_COMPONENT_OBJECT_ID = 13
	)
	BEGIN
		SET @MSG = '所选件非合件'
		SELECT @MSG AS MSG, @SUCCESS AS SUCCESS
		RETURN
	END
	
	-- 检查是否可以被引用  
	IF NOT EXISTS (
		SELECT 1 FROM
		TN_80_APP_0040_MBOM_HLINK
		WHERE CN_VER_ID = @MBOM_VER_ID
		AND CN_SYS_STATUS = 'Y'
		AND CN_ISLINKED = 0
		AND CN_TYPEID = 2
		AND CN_LINK = @LINK
	)
	BEGIN
		SET @MSG = '该合件无法被引用。可能原因：1.已经被引用；2.已被删除。如有疑问请联系管理员'
		RAISERROR(@MSG, 15, 1)
		RETURN
	END;
	-- 检查是否为直接子级或同级，否则不允许引用
	IF @PARENTLINK + ',' + CAST(@ITEMID AS VARCHAR) <> @LINK
	AND DBO.SPLIT_SUB(@PARENTLINK,-1,DEFAULT) <> DBO.SPLIT_SUB(@LINK,-1,DEFAULT)
	BEGIN
		SET @MSG = '该合件非所选件子级或同级'
		RAISERROR(@MSG, 15, 1)
		RETURN
	END

	DECLARE @BOMHLINKID INT
	DECLARE @ITEMCODE VARCHAR(32)
	DECLARE @ITEMNAME VARCHAR(32)
	DECLARE @BOMID INT
	
	DECLARE @ORIGIN_PARENT_CODE VARCHAR(32)
	DECLARE @ORIGIN_PARENT_BOMID INT
	
	DECLARE @PARENT_BOMID INT
	DECLARE @PARENT_CODE VARCHAR(32)
	DECLARE @MBOMVER INT
	
	SELECT 
		@MBOMVER = CN_VER
	FROM TN_80_APP_0040_MBOM_VER
	WHERE CN_ID = @MBOM_VER_ID

	SELECT 
		 @ITEMCODE = CN_CODE
		,@ITEMNAME = CN_NAME
	FROM TN_80_APP_0000_ITEM WHERE CN_ID = @ITEMID

	SELECT @BOMID = CN_ID
	FROM [dbo].[TN_80_APP_0025_BOM] WHERE CN_CODE = @ITEMCODE

	SELECT 
		 @PARENT_BOMID = BOM.CN_ID
		,@PARENT_CODE = BOM.CN_CODE
	FROM TN_80_APP_0000_ITEM AS ITEM
	INNER JOIN [TN_80_APP_0025_BOM] AS BOM ON BOM.CN_CODE = ITEM.CN_CODE
	WHERE ITEM.CN_ID = @PARENTITEMID
	
	SELECT 
		 @ORIGIN_PARENT_BOMID = BOM.CN_ID
		,@ORIGIN_PARENT_CODE = BOM.CN_CODE
	FROM TN_80_APP_0025_BOM_HLINK AS BOMHLINK
	INNER JOIN TN_80_APP_0025_BOM AS BOM ON BOM.CN_ID = BOMHLINK.CN_BOM_ID
	WHERE CN_COMPONENT_OBJECT_ID = @ITEMID

	BEGIN TRANSACTION
	
	-- 要引用的位置就等于取消引用的位置，直接修改状态
	IF @PARENTLINK + ',' + CAST(@ITEMID AS VARCHAR) = @LINK
	BEGIN
		UPDATE M
		SET 
			CN_ISLINKED = 1
			,CN_DT_MODIFY = @DATE
			,CN_DESC = '引用回原位置'
		FROM TN_80_APP_0040_MBOM_HLINK AS M
		WHERE CN_VER_ID = @MBOM_VER_ID
		AND CN_SYS_STATUS = 'Y'
		AND CN_ISLINKED = 0
		AND CN_TYPEID = 2
		AND CN_LINK = @LINK
		SET @ERROR = @ERROR + @@ERROR
	END
	ELSE
	BEGIN
		-- ------------------ --
		-- 修改BOM_HLINK关联
		-- ------------------ --
		
		-- 无效选中合件原本上级
		UPDATE BOMHLINK
		SET 
			 CN_STATUS_MBOM = 'N'
			,CN_DT_MODIFY = @DATE
			,CN_DESC = '合件'+@LINK+'被重新引用至他处'
		FROM TN_80_APP_0025_BOM_HLINK AS BOMHLINK
		INNER JOIN TN_80_APP_0040_MBOM_HLINK AS M ON M.CN_BOM_HLINK_ID = BOMHLINK.CN_HLINK_ID
		WHERE M.CN_VER_ID = @MBOM_VER_ID
		AND M.CN_SYS_STATUS = 'Y'
		AND M.CN_TYPEID = 2
		AND M.CN_LINK = @LINK
		SET @ERROR = @ERROR + @@ERROR
		
		-- BOM_HLINK添加新的关联，将选中的PARENTITEM作为父级
		INSERT INTO TN_80_APP_0025_BOM_HLINK
		(
			CN_S_BOM_TYPE,
			CN_BOM_ID,
			CN_COMPONENT_CLASS_ID,
			CN_COMPONENT_OBJECT_ID,
			CN_DISPLAYNAME,
			CN_ID_NOTICE, --当前产品的 BOM 中的ID；
			CN_CODE_NOTICE,--当前产品的物料编码+‘-‘ + 产品的 MBOM_VER 中的 CN_VER值
			CN_ORDER,
			CN_F_QUANTITY,
			CN_UNIT,
			CN_B_IS_ASSEMBLY,
			CN_ISBORROW,
			CN_STATUS_PBOM,
			CN_STATUS_MBOM,
			CN_SYS_STATUS,
			CN_CREATE_BY,
			CN_CREATE_LOGIN,
			CN_CREATE_NAME
		)
		SELECT
		'MBOM'
		,@PARENT_BOMID
		,100
		,@ITEMID
		,RTRIM(@ITEMCODE) + ' ' + RTRIM(@ITEMNAME)
		,@BOMID
		,RTRIM(@ITEMCODE) + '-' + CAST(@MBOMVER AS CHAR(1))
		,0
		,BOMHLINK.CN_F_QUANTITY
		,BOMHLINK.CN_UNIT
		,BOMHLINK.CN_B_IS_ASSEMBLY
		,BOMHLINK.CN_ISBORROW
		,''		-- STATUS_PBOM
		,'Y'	-- STATUS_MBOM
		,'Y'	-- SYS_STATUS
		,@USERID
		,@LOGIN
		,@NAME
		FROM TN_80_APP_0040_MBOM_HLINK AS MBOMHLINK
		INNER JOIN TN_80_APP_0025_BOM_HLINK AS BOMHLINK ON MBOMHLINK.CN_BOM_HLINK_ID = BOMHLINK.CN_HLINK_ID 
		WHERE
		MBOMHLINK.CN_VER_ID = @MBOM_VER_ID
		AND MBOMHLINK.CN_SYS_STATUS = 'Y'
		AND MBOMHLINK.CN_TYPEID = 2
		AND MBOMHLINK.CN_LINK = @LINK
		SET @ERROR = @ERROR + @@ERROR
		SET @BOMHLINKID = SCOPE_IDENTITY()
		
		-- ------------------ --
		-- 修改MBOM_HLINK关联
		-- ------------------ --
		
		-- 在MBOM_HLINK中添加合件父级
		--（保留原父级，以便回溯）
		INSERT INTO [TN_80_APP_0040_MBOM_HLINK]
		   ([CN_BOM_HLINK_ID]
		   ,[CN_VER_ID]
		   ,[CN_PARENT_LINK]
		   ,[CN_LINK]
		   ,[CN_ITEMID]
		   ,[CN_ISLINKED]
		   ,[CN_TYPEID]
		   ,[CN_TYPENAME]
		   ,[CN_DESC]
		   ,[CN_CREATE_BY]
		   ,[CN_CREATE_NAME]
		   ,[CN_CREATE_LOGIN])
		SELECT
		    @BOMHLINKID
		   ,@MBOM_VER_ID
		   ,@PARENTLINK
		   ,@PARENTLINK+','+CAST(@ITEMID AS VARCHAR)
		   ,@ITEMID
		   ,1
		   ,2
		   ,'合件'
		   ,'从原父级 '+@ORIGIN_PARENT_CODE+' 引用到合件 '+@PARENT_CODE+' 下'
		   ,@USERID
		   ,@NAME
		   ,@LOGIN
		
		
		-- 复制选中合件下级
		;WITH X AS
		(
		SELECT
			 CAST(@PARENTLINK+','+CAST(@ITEMID AS VARCHAR) AS VARCHAR(200)) AS PARENT_LINK
			,CAST(@PARENTLINK+','+CAST(@ITEMID AS VARCHAR)+','+CAST(ITEM.CN_ID AS VARCHAR) AS VARCHAR(200)) AS LINK
			,ITEM.CN_CODE AS CODE
			,ITEM.CN_ID AS ITEMID
			,BOMHLINK.CN_HLINK_ID AS BOMHLINKID
		FROM
		TN_80_APP_0025_BOM AS BOM 
		INNER JOIN TN_80_APP_0025_BOM_HLINK AS BOMHLINK ON BOMHLINK.CN_BOM_ID = BOM.CN_ID 
			AND (CN_STATUS_MBOM = 'Y' OR (CN_STATUS_PBOM = 'Y' AND CN_STATUS_MBOM <> 'N'))
			AND BOMHLINK.CN_SYS_STATUS <> 'N'
		INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON ITEM.CN_ID = BOMHLINK.CN_COMPONENT_OBJECT_ID
		WHERE
		BOMHLINK.CN_HLINK_ID = @BOMHLINKID 
		UNION ALL
		SELECT
			 CAST(X.LINK AS VARCHAR(200)) AS PARENT_LINK
			,CAST(X.LINK+','+CAST(ITEM.CN_ID AS VARCHAR) AS VARCHAR(200)) AS LINK
			,ITEM.CN_CODE
			,ITEM.CN_ID
			,BOMHLINK.CN_HLINK_ID
		FROM 
		TN_80_APP_0025_BOM AS BOM 
		INNER JOIN TN_80_APP_0025_BOM_HLINK AS BOMHLINK ON BOMHLINK.CN_BOM_ID = BOM.CN_ID 
			AND (CN_STATUS_MBOM = 'Y' OR (CN_STATUS_PBOM = 'Y' AND CN_STATUS_MBOM <> 'N'))
			AND BOMHLINK.CN_SYS_STATUS <> 'N'
		INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON ITEM.CN_ID = BOMHLINK.CN_COMPONENT_OBJECT_ID
		INNER JOIN X ON X.CODE = BOM.CN_CODE 
		)
		INSERT INTO [TN_80_APP_0040_MBOM_HLINK]
		   ([CN_BOM_HLINK_ID]
		   ,[CN_VER_ID]
		   ,[CN_PARENT_LINK]
		   ,[CN_LINK]
		   ,[CN_ITEMID]
		   ,[CN_ISLINKED]
		   ,[CN_TYPEID]
		   ,[CN_TYPENAME]
		   ,[CN_DESC]
		   ,[CN_CREATE_BY]
		   ,[CN_CREATE_NAME]
		   ,[CN_CREATE_LOGIN])
		SELECT
		    BOMHLINKID
		   ,@MBOM_VER_ID
		   ,X.PARENT_LINK
		   ,X.LINK
		   ,X.ITEMID
		   ,1
		   ,2
		   ,'合件'
		   ,'跟随合件 '+@ITEMCODE+' 从原链路变更到 '+@PARENT_CODE+' 下'
		   ,@USERID
		   ,@NAME
		   ,@LOGIN
		FROM X
		SET @ERROR = @ERROR + @@ERROR
		
		-- 无效选中合件下级
		UPDATE M
		SET 
			CN_SYS_STATUS = 'N'
			,CN_DT_MODIFY = @DATE
			,CN_DESC = '合件被引用到其他位置，无效原数据'
		FROM TN_80_APP_0040_MBOM_HLINK AS M
		WHERE CN_VER_ID = @MBOM_VER_ID
		AND CN_SYS_STATUS = 'Y'
		AND CN_TYPEID = 2
		AND CHARINDEX(','+@LINK+',', ','+CN_LINK+',') > 0
		SET @ERROR = @ERROR + @@ERROR

	END
	
	IF @ERROR <> 0
	BEGIN
		SET @MSG = '引用合件失败，请联系管理员'
		RAISERROR(@MSG, 15, 1)
		ROLLBACK TRANSACTION
		RETURN;
	END
	ELSE
	BEGIN
		COMMIT TRANSACTION
		SET @MSG = '引用合件成功'
		SELECT @MSG AS MSG, @SUCCESS AS SUCCESS
	END
END;
GO
