USE [MBOM_TJB]
GO
/****** Object:  StoredProcedure [dbo].[PROC_VIRTUAL_ITEM_LINK]    Script Date: 05/15/2018 15:22:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_VIRTUAL_ITEM_LINK]
(
@CODE VARCHAR(32),
@PARENTITEMID INT,
@ITEMID INT,
@PARENTLINK VARCHAR(200),
@LINK VARCHAR(200),
@USERID INT,
@NAME VARCHAR(20),
@LOGIN VARCHAR(20)
)
AS
BEGIN
	DECLARE @MSG VARCHAR(2000);
	DECLARE @SUCCESS BIT = 1;
	DECLARE @ERROR INT = 0;

	DECLARE @PARENTBOMID INT
	DECLARE @BOMID INT
	DECLARE @ITEMCODE VARCHAR(32)
	
	DECLARE @NOW DATETIME = SYSDATETIME()
	-- 检查参数是否有效
	IF @PARENTLINK = '' OR @LINK = '' OR @PARENTITEMID = 0 OR @ITEMID = 0
	BEGIN
		SET @SUCCESS = 0
		SET @MSG = '参数无效'
		RAISERROR(@MSG, 15, 1)
		RETURN
	END
	
	-- 获取最新使用中的版本号
	-- 先获取到产品的ITEM_ID，根据产品ITEM_ID获取产品代号
	DECLARE @MBOM_VER_ID INT
	SELECT TOP 1 @MBOM_VER_ID = CN_ID FROM TN_80_APP_0040_MBOM_VER WHERE CN_CODE = @CODE AND CN_SYS_STATUS = 'Y' AND CN_IS_TOERP <> 2 ORDER BY CN_DT_CREATE DESC
	
	IF @MBOM_VER_ID IS NULL
	BEGIN
		SET @SUCCESS = 0
		SET @MSG = '无法取得产品版本信息，操作终止。请联系管理员。'
		RAISERROR(@MSG, 15, 1)
		RETURN
	END;
	
	-- 检查引用件是否为虚件
	IF NOT EXISTS (
		SELECT 1 FROM TN_80_APP_0000_ITEM_HLINK
		WHERE CN_ID = @ITEMID
		AND CN_COMPONENT_CLASS_ID = 105
		AND CN_COMPONENT_OBJECT_ID = 12
		AND CN_SYS_STATUS = 'Y'
	)
	BEGIN
		SET @SUCCESS = 0
		SET @MSG = '所选件非虚件，无法引用'
		RAISERROR(@MSG, 15, 1)
		RETURN
	END
	
	-- 检查是否为子级，否则不允许引用
	IF CHARINDEX(','+@PARENTLINK+',', ','+@LINK+',') = 0
	BEGIN
		SET @SUCCESS = 0
		SET @MSG = '该虚件非所选件子级'
		RAISERROR(@MSG, 15, 1)
		RETURN
	END

	-- 检查是否已经被引用
	IF EXISTS (
		SELECT * FROM TN_80_APP_0040_MBOM_HLINK  
		WHERE CN_LINK = @LINK 
		AND CN_ISLINKED = 1
		AND CN_SYS_STATUS = 'Y'
		AND CN_VER_ID = @MBOM_VER_ID
	)
	BEGIN
		SET @SUCCESS = 0
		SET @MSG = '所选件非虚件或已经被引用'
		RAISERROR(@MSG, 15, 1)
		RETURN
	END;
	
	SELECT @ITEMCODE = CN_ITEM_CODE 
	FROM TN_80_APP_0000_ITEM
	WHERE CN_ID = @ITEMID

	SELECT @PARENTBOMID = BOM.CN_ID
	FROM TN_80_APP_0000_ITEM AS ITEM
	INNER JOIN TN_80_APP_0025_BOM AS BOM ON BOM.CN_CODE = ITEM.CN_CODE
	WHERE ITEM.CN_ID = @PARENTITEMID

	SELECT @BOMID = BOM.CN_ID
	FROM TN_80_APP_0000_ITEM AS ITEM
	INNER JOIN TN_80_APP_0025_BOM AS BOM ON BOM.CN_CODE = ITEM.CN_CODE
	WHERE ITEM.CN_ID = @ITEMID
	--获取乘积
	DECLARE @MULTIPLEVALUE INT = 0;
	DECLARE @MULTIPLELINK VARCHAR(100) = ''

	SELECT @MULTIPLELINK = SUBSTRING(REPLACE(','+@LINK+',', ','+@PARENTLINK+',', ','),2,LEN(REPLACE(','+@LINK+',', ','+@PARENTLINK+',', ','))-2)

	DECLARE @MULTIPLESTR VARCHAR(100)
	DECLARE @MULTIPLETABLE TABLE ( VALUE INT )

	;WITH X AS
	(
		SELECT
		
		CAST(ITEM.CN_ID AS VARCHAR(200)) AS LINK
		,CAST(BOMHLINK.CN_F_QUANTITY AS VARCHAR(200)) AS QUANTITYLINK
		,BOMINFO.CN_ID AS PARENTID
		FROM TN_80_APP_0000_ITEM AS ITEM
		INNER JOIN TN_80_APP_0025_BOM_HLINK AS BOMHLINK ON BOMHLINK.CN_COMPONENT_OBJECT_ID = ITEM.CN_ID 
			AND (CN_STATUS_MBOM = 'Y' OR (CN_STATUS_PBOM = 'Y' AND CN_STATUS_MBOM <> 'N'))
			AND BOMHLINK.CN_SYS_STATUS <> 'N'
		INNER JOIN TN_80_APP_0025_BOM AS BOM ON BOM.CN_ID = BOMHLINK.CN_BOM_ID
		INNER JOIN TN_80_APP_0000_ITEM AS BOMINFO ON BOMINFO.CN_CODE = BOM.CN_CODE
		WHERE ITEM.CN_ID = @ITEMID 
		UNION ALL
		SELECT
		CAST(CAST(ITEM.CN_ID AS VARCHAR(200))+ ','  + X.LINK AS VARCHAR(200)) AS LINK
		,CAST(CAST(BOMHLINK.CN_F_QUANTITY AS VARCHAR(200)) + ',' + X.QUANTITYLINK AS VARCHAR(200)) AS QUANTITYLINK
		,BOMINFO.CN_ID AS PARENTID
		FROM TN_80_APP_0000_ITEM AS ITEM
		INNER JOIN TN_80_APP_0025_BOM_HLINK AS BOMHLINK ON BOMHLINK.CN_COMPONENT_OBJECT_ID = ITEM.CN_ID 
			AND (CN_STATUS_MBOM = 'Y' OR (CN_STATUS_PBOM = 'Y' AND CN_STATUS_MBOM <> 'N'))
			AND BOMHLINK.CN_SYS_STATUS <> 'N'
		INNER JOIN TN_80_APP_0025_BOM AS BOM ON BOM.CN_ID = BOMHLINK.CN_BOM_ID
		INNER JOIN TN_80_APP_0000_ITEM AS BOMINFO ON BOMINFO.CN_CODE = BOM.CN_CODE
		INNER JOIN X ON X.PARENTID = ITEM.CN_ID 
	)
	SELECT @MULTIPLESTR = QUANTITYLINK
	FROM X
	WHERE X.LINK = @MULTIPLELINK
	
	INSERT INTO @MULTIPLETABLE
	SELECT ID
	FROM SPLIT(@MULTIPLESTR, DEFAULT)
	
	SELECT @MULTIPLEVALUE = ROUND(EXP(SUM(LOG(VALUE))),1) FROM @MULTIPLETABLE

	IF @MULTIPLEVALUE IS NULL
	BEGIN
		SET @MULTIPLEVALUE = 1
	END

	BEGIN TRANSACTION 
	-- 添加第一级子级到BOM_HLINK中
	INSERT INTO TN_80_APP_0025_BOM_HLINK
	(
		CN_BOM_ID,
		CN_S_BOM_TYPE,
		CN_BOM_ID_PRE,
		CN_HLINK_ID_PRE,
		CN_COMPONENT_CLASS_ID,
		CN_COMPONENT_OBJECT_ID,
		CN_DISPLAYNAME,
		CN_ORDER,
		CN_F_QUANTITY,
		CN_UNIT,
		CN_B_IS_ASSEMBLY,
		CN_ISBORROW,
		CN_STATUS_PBOM,
		CN_STATUS_MBOM,
		CN_SYS_STATUS,
		CN_CREATE_BY,
		CN_CREATE_NAME,
		CN_CREATE_LOGIN
	)
	SELECT DISTINCT
	@PARENTBOMID,
	'MBOM',
	BOMHLINK.CN_BOM_ID,
	BOMHLINK.CN_HLINK_ID,
	100,
	ITEM.CN_ID,
	RTRIM(ITEM.CN_CODE) + ' ' + ITEM.CN_NAME,
	(CN_BOM_ID * 10 + BOMHLINK.CN_ORDER) AS NEWORDER,
	BOMHLINK.CN_F_QUANTITY * @MULTIPLEVALUE AS QUANTITY,
	BOMHLINK.CN_UNIT,
	BOMHLINK.CN_B_IS_ASSEMBLY,
	BOMHLINK.CN_ISBORROW,
	'',
	'Y',
	'Y', --CN_SYS_STATUS
	@USERID,
	@NAME,
	@LOGIN
	FROM
	TN_80_APP_0040_MBOM_HLINK AS MBOMHLINK
	INNER JOIN TN_80_APP_0025_BOM_HLINK AS BOMHLINK ON MBOMHLINK.CN_BOM_HLINK_ID = BOMHLINK.CN_HLINK_ID
	INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON BOMHLINK.CN_COMPONENT_OBJECT_ID = ITEM.CN_ID
	WHERE
	MBOMHLINK.CN_VER_ID = @MBOM_VER_ID
	AND MBOMHLINK.CN_SYS_STATUS = 'Y'
	AND MBOMHLINK.CN_ISLINKED = 1
	AND BOMHLINK.CN_BOM_ID = @BOMID
	SET @ERROR = @ERROR + @@ERROR;
	-- MBOM_HLINK更新数据，将选中虚件的所有子级复制一份添加到选择父级下
	SELECT 
		SUBSTRING(
			REPLACE(
				','+[CN_LINK]+','
				, ','+CAST(@ITEMID AS VARCHAR)+',', '|'
				)
			,2
			,LEN(
				REPLACE(
				','+[CN_LINK]+','
				, ','+CAST(@ITEMID AS VARCHAR)+','
				, '|'
				)
			)-2
		) AS LINK
       ,CN_ID
	INTO #TMP_LINK_PRE
	FROM TN_80_APP_0040_MBOM_HLINK AS MBOMHLINK 
	WHERE 
	CN_VER_ID = @MBOM_VER_ID
	AND MBOMHLINK.CN_SYS_STATUS = 'Y'
	AND MBOMHLINK.CN_ISLINKED = 1
	AND @ITEMID <> CN_ITEMID
	-- 仅引用当前段的LINK，所以这个需要改成@LINK
	AND CHARINDEX(','+CAST(@LINK AS VARCHAR)+',', ','+CN_LINK+',') > 0
	
	SELECT SUBSTRING(LINK, CHARINDEX('|',LINK)+1, LEN(LINK)) AS LINK, T.CN_ID
	INTO #TMP_LINK
	FROM #TMP_LINK_PRE AS T
	WHERE LEN(LINK) <> CHARINDEX('|', LINK)
	
	INSERT INTO [TN_80_APP_0040_MBOM_HLINK]
       ([CN_BOM_HLINK_ID]
       ,[CN_VER_ID]
       ,[CN_PARENT_LINK]
       ,[CN_LINK]
       ,[CN_ITEMID]
       ,[CN_ISLINKED]
       ,[CN_TYPEID]
       ,[CN_TYPENAME]
       ,[CN_SYS_STATUS]
       ,[CN_DESC]
       ,[CN_CREATE_BY]
       ,[CN_CREATE_NAME]
       ,[CN_CREATE_LOGIN])
	SELECT
		[CN_BOM_HLINK_ID]
       ,@MBOM_VER_ID
       -- PARENTLINK应该是 @PARENTLINK + 当前LINK去除虚件前所有部分和去除当前ITEMID
       ,SUBSTRING(	
			REPLACE(
			   ','+@PARENTLINK+','+T.LINK+','
			   ,','+CAST(CN_ITEMID AS VARCHAR)+','
			   ,','
			   )
		   ,2
		   ,LEN(
				REPLACE(
				   ','+@PARENTLINK+','+T.LINK+','
				   ,','+CAST(CN_ITEMID AS VARCHAR)+','
				   ,','
				   )
			)-2
		)
       ,@PARENTLINK + ',' + T.LINK
       ,[CN_ITEMID]
       -- 引用
       ,1
		-- TYPEID 说明
		-- 0：普通件、1：虚件、2：烤漆合件、3：离散包、4：包装返厂
       ,1
       ,'虚件'
       ,'Y'
       ,'虚件[' + RTRIM(@ITEMCODE) + ']子级，虚件ID：' + CAST(@ITEMID AS VARCHAR)
       ,@USERID
       ,@NAME
       ,@LOGIN
	FROM TN_80_APP_0040_MBOM_HLINK AS MBOMHLINK 
	INNER JOIN #TMP_LINK AS T ON T.CN_ID = MBOMHLINK.CN_ID
	-- 更新虚件引用
	UPDATE M
	SET CN_ISLINKED = 1
	FROM TN_80_APP_0040_MBOM_HLINK AS M
	WHERE CN_VER_ID = @MBOM_VER_ID
	AND CN_TYPEID = 1
	AND CN_LINK = @LINK
	-- 同时更新MBOM的第一级子级的BOM_HLINK_ID为BOM_HLINK表新插入的CN_HLINK_ID 
	UPDATE MBOMHLINK
	SET
		CN_BOM_HLINK_ID = CN_HLINK_ID
	FROM TN_80_APP_0040_MBOM_HLINK AS MBOMHLINK
	INNER JOIN TN_80_APP_0025_BOM_HLINK AS BOMHLINK ON 
	CHARINDEX(','+CAST(@PARENTITEMID as varchar)+',',','+MBOMHLINK.CN_LINK+',') > 0
	and MBOMHLINK.CN_ITEMID = BOMHLINK.CN_COMPONENT_OBJECT_ID
	AND BOMHLINK.CN_BOM_ID = @PARENTBOMID 
	AND BOMHLINK.CN_COMPONENT_OBJECT_ID IN
	(
		SELECT CN_COMPONENT_OBJECT_ID
		FROM TN_80_APP_0025_BOM_HLINK
		WHERE CN_BOM_ID = @BOMID
	)
	WHERE MBOMHLINK.CN_VER_ID = @MBOM_VER_ID
	AND MBOMHLINK.CN_SYS_STATUS = 'Y'
	AND MBOMHLINK.CN_TYPEID = 1
	AND BOMHLINK.CN_STATUS_MBOM = 'Y'
	
	IF @ERROR <> 0
	BEGIN
		SET @MSG = '引用虚件失败，请联系管理员'
		RAISERROR(@MSG, 15, 1)

		ROLLBACK TRANSACTION
		RETURN;
	END
	ELSE
	BEGIN
		COMMIT TRANSACTION
		SET @MSG = '引用虚件成功'
		SELECT @MSG AS MSG, @SUCCESS AS SUCCESS
	END
END;
GO
