USE [MBOM_TJB]
GO
/****** Object:  StoredProcedure [dbo].[PROC_VIRTUAL_ITEM_UNLINK]    Script Date: 05/15/2018 15:22:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_VIRTUAL_ITEM_UNLINK]
(
@CODE VARCHAR(32),
@ITEMID INT,
@LINK VARCHAR(100),
@BOMHLINKID INT
)
AS
BEGIN
	DECLARE @MSG VARCHAR(2000)
	DECLARE @SUCCESS BIT = 1
	DECLARE @ERROR INT = 0
	
	DECLARE @MBOM_VER_ID INT
	-- 获取版本信息
	SELECT TOP 1 @MBOM_VER_ID = CN_ID FROM TN_80_APP_0040_MBOM_VER WHERE CN_CODE = @CODE AND CN_SYS_STATUS = 'Y' AND CN_IS_TOERP <> 2 ORDER BY CN_DT_CREATE DESC
	IF @MBOM_VER_ID IS NULL
	BEGIN
		SET @MSG = '产品版本信息获取失败，操作终止。请联系管理员'
		RAISERROR(@MSG, 15, 1)
		RETURN;
	END
	
	-- 判断选中件是否为虚件，不是虚件不予处理
	IF NOT EXISTS (
		SELECT 1
		FROM TN_80_APP_0000_ITEM_HLINK
		WHERE CN_ID = @ITEMID
		AND CN_SYS_STATUS = 'Y'
		AND CN_COMPONENT_CLASS_ID = 105
		AND CN_COMPONENT_OBJECT_ID = 12
	)
	BEGIN
		SET @MSG = '选择的件不是虚件，无法取消引用'
		RAISERROR(@MSG, 15, 1)
		RETURN;
	END
	
	-- 判断是否已经有引用，没有引用不做处理 
	IF NOT EXISTS (
		SELECT 1
		FROM TN_80_APP_0040_MBOM_HLINK
		WHERE CN_VER_ID = @MBOM_VER_ID
		AND CN_SYS_STATUS = 'Y'
		AND CN_LINK = @LINK
		AND CN_ISLINKED = 1
	)
	BEGIN
		SET @MSG = '虚件没有被引用，无需取消引用'
		RAISERROR(@MSG, 15, 1)
		RETURN;
	END
	
	DECLARE @DATE DATETIME = GETDATE();
	DECLARE @PARENTID INT
	DECLARE @PARENTLINK VARCHAR(2000)

	-- 父级的ID
	SET @PARENTID = [DBO].[SPLIT_SUB](@LINK,-1,DEFAULT) 
	
	BEGIN TRANSACTION
	
	UPDATE T
	SET T.CN_ISLINKED = 0
	FROM TN_80_APP_0040_MBOM_HLINK AS T
	WHERE CN_LINK = @LINK
	SET @ERROR = @ERROR + @@ERROR 
	
	-- 取消本虚件的链接
	SELECT *
	INTO #TMP_VIRUTAL_PARENTS
	FROM TN_80_APP_0040_MBOM_HLINK AS T
	WHERE CN_PARENT_LINK IN
	(
	SELECT DISTINCT CN_PARENT_LINK FROM TN_80_APP_0040_MBOM_HLINK
	WHERE CHARINDEX(','+CN_LINK+',', ','+@LINK+',') > 0
	)
	AND CN_ITEMID IN 
	(
	SELECT CN_ITEMID FROM TN_80_APP_0040_MBOM_HLINK
	WHERE CHARINDEX(','+@LINK+',', ','+CN_PARENT_LINK+',') > 0
	AND CN_SYS_STATUS = 'Y'
	)
	AND CN_VER_ID = @MBOM_VER_ID
	AND CN_SYS_STATUS = 'Y'
	AND CN_TYPEID = 1
	AND CN_ISLINKED = 1
	SET @ERROR = @ERROR + @@ERROR
	
	UPDATE TN_80_APP_0040_MBOM_HLINK
	SET 
		 CN_SYS_STATUS = 'N'
		,CN_DT_MODIFY = @DATE
		,CN_DESC = '由取消虚件['+@LINK+']的引用被删除'
	WHERE CN_ID IN
	(
		SELECT CN_ID FROM #TMP_VIRUTAL_PARENTS
		UNION
		SELECT B.CN_ID FROM #TMP_VIRUTAL_PARENTS AS A
		INNER JOIN TN_80_APP_0040_MBOM_HLINK AS B
		ON CHARINDEX(','+A.CN_LINK+',', ','+B.CN_PARENT_LINK+',') > 0
	)
	-- 把对应的BOM_HLINK的数据禁用，因为BOM_HLINK表是动态运算的，所以有且仅有一级需要删除
	UPDATE MBOM
	SET 
		 CN_STATUS_MBOM = 'N'
		,CN_DT_MODIFY = @DATE
		,CN_DT_EX_MBOM = @DATE
		,CN_DESC = CONVERT(CHAR(19),@DATE,20) + ' 取消虚件引用，虚件ID：'+ CAST(@ITEMID AS VARCHAR)
	FROM TN_80_APP_0025_BOM_HLINK AS MBOM
	INNER JOIN #TMP_VIRUTAL_PARENTS AS VP ON VP.CN_BOM_HLINK_ID = MBOM.CN_HLINK_ID
	WHERE CN_STATUS_MBOM = 'Y'
	AND CN_S_BOM_TYPE = 'MBOM'
	
	IF @ERROR <> 0
	BEGIN
		SET @MSG = '取消虚件引用失败，请联系管理员'
		RAISERROR(@MSG, 15, 1)
		ROLLBACK TRANSACTION
	END
	ELSE
	BEGIN
		SET @MSG = '已经成功取消虚件的引用'
		SELECT @MSG AS MSG, @SUCCESS AS SUCCESS
		COMMIT TRANSACTION
	END

END;
GO
