USE [MBOM_TJB]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_BOM_DIFF]    Script Date: 05/15/2018 15:22:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_GET_BOM_DIFF]
(
	@BOMID INT
)
AS
BEGIN
	SELECT
		 ITEM.CN_CODE
		,ITEM.CN_ITEM_CODE
		,A.[CN_HLINK_ID]
		,A.[CN_S_BOM_TYPE]
		,A.[CN_BOM_ID]
		,A.[CN_BOM_ID_PRE]
		,CASE WHEN A.CN_STATUS_PBOM = 'Y' THEN A.[CN_DISPLAYNAME] ELSE NULL END AS [CN_DISPLAYNAME]
		,CASE WHEN A.CN_STATUS_MBOM = 'Y' THEN A.[CN_DISPLAYNAME] ELSE NULL END AS MBOMNAME
		,A.[CN_ORDER]
		--,A.[CN_NUMBER]
		,A.[CN_F_QUANTITY] AS QUANTITY
		--,A.[CN_UNIT]
		--,A.[CN_B_IS_ASSEMBLY]
		--,A.[CN_ISBORROW]
		--,A.[CN_ISDELETE]
		--,A.[CN_CHA_PBOM_SIGN]
		--,A.[CN_CHA_PBOM_IMPACT_DO]
		--,A.[CN_S_FROM]
		--,A.[CN_IS_TOERP]
		--,A.[CN_SYS_NOTE]
		--,A.[CN_ID_NOTICE]
		--,A.[CN_CODE_NOTICE]
		,A.[CN_SYS_STATUS]
		,A.[CN_DT_CREATE]
		,A.[CN_STATUS_PBOM]
		,A.[CN_STATUS_MBOM]
		,A.[CN_DT_EF_PBOM]
		,A.[CN_DT_EX_PBOM]
		,A.[CN_DT_EF_MBOM]
		,A.[CN_DT_EX_MBOM]
		--,A.[CN_DT_EFFECTIVE]
		--,A.[CN_DT_EXPIRY]
		--,A.[CN_PDM_CLASS_ID]
		--,A.[CN_PDM_OBJECT_ID]
		--,A.[CN_GUID]
		--,A.[CN_DISCRETE_ID]
		--,A.[CN_DT_TOERP]
		--,A.[CN_CREATE_BY]
		--,A.[CN_CREATE_NAME]
		--,A.[CN_CREATE_LOGIN]
		--,A.[CN_DESC]
	FROM 
	TN_80_APP_0025_BOM_HLINK AS A
	INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON ITEM.CN_ID = A.CN_COMPONENT_OBJECT_ID
	WHERE 
	A.CN_BOM_ID = @BOMID

END;
GO
