USE [MBOM_TJB]
GO
/****** Object:  StoredProcedure [dbo].[PROC_ITEM_PUBLISH]    Script Date: 05/15/2018 15:22:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_ITEM_PUBLISH]
(
	@ITEMCODE VARCHAR(30),
	@USERID INT,
	@NAME VARCHAR(20),
	@LOGIN VARCHAR(20)
)
AS
BEGIN
	DECLARE @MSG VARCHAR(200) = '';
	DECLARE @SUCCESS BIT = 0;
	DECLARE @ERROR INT = 0;

	
	DECLARE @BATCHID INT;
	DECLARE @BOMID INT;
	DECLARE @PRODCODE VARCHAR(30);
	DECLARE @PRODITEMCODE VARCHAR(30);

	BEGIN TRANSACTION

	INSERT INTO [dbo].[TN_90_BUS_0005_BATCH]
			   ([CN_MODUEL_CODE]
			   ,[CN_INFO_TYPE]
			   ,[CN_CREATE_BY]
			   ,[CN_CREATE_NAME])
	SELECT 'MBOM','MBOM_P',@USERID,@NAME
	SET @ERROR = @@ERROR + @ERROR
	
	SELECT @BATCHID = SCOPE_IDENTITY();
	
	-- 获取BOMID
	SELECT @BOMID = CN_ID FROM TN_80_APP_0025_BOM WHERE CN_ITEM_CODE = @ITEMCODE
	-- 获取PROD_CODE
	SELECT @PRODCODE = CN_PRODUCT_BASE
	FROM TN_80_APP_0000_ITEM 
	WHERE CN_ITEM_CODE = @ITEMCODE
	-- 根据PROD_CODE 获取 PROD_ITEM_CODE
	SELECT @PRODITEMCODE = CN_ITEM_CODE
	FROM TN_80_APP_0010_PRODUCT
	WHERE CN_CODE = @PRODCODE

	
	-- 检查所有子件，是否都已经有采购件或自制件属性，如果没有则不允许发布
	DECLARE @TMP VARCHAR(200) = '';
	WITH X AS 
	(
		SELECT 
		ITEM.CN_ID AS CN_ITEMID, 
		ITEM.CN_CODE,  
		BOMHLINK.CN_B_IS_ASSEMBLY AS IS_ASSEMBLY 
		FROM 
		TN_80_APP_0025_BOM AS BOM
		INNER JOIN TN_80_APP_0025_BOM_HLINK AS BOMHLINK ON BOM.CN_ID = BOMHLINK.CN_BOM_ID AND BOMHLINK.CN_STATUS_PBOM = 'Y'
		INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON BOMHLINK.CN_COMPONENT_OBJECT_ID = ITEM.CN_ID
		WHERE 
		BOM.CN_ID = @BOMID

		UNION ALL

		SELECT
		ITEM.CN_ID AS CN_ITEMID, 
		ITEM.CN_CODE,  
		BOMHLINK.CN_B_IS_ASSEMBLY 
		FROM 
		TN_80_APP_0025_BOM AS BOM
		INNER JOIN TN_80_APP_0025_BOM_HLINK AS BOMHLINK ON BOM.CN_ID = BOMHLINK.CN_BOM_ID AND BOMHLINK.CN_STATUS_PBOM = 'Y'
		INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON BOMHLINK.CN_COMPONENT_OBJECT_ID = ITEM.CN_ID
		INNER JOIN X ON	BOM.CN_CODE = X.CN_CODE AND X.IS_ASSEMBLY = 1
	) 
	SELECT DISTINCT CN_ITEMID AS ITEMID, CN_CODE AS CODE
	INTO #TMP_CHILDS
	FROM X
	OPTION (MAXRECURSION 32);

	IF EXISTS 
	(
		SELECT 1 
		FROM #TMP_CHILDS AS TMP 
		LEFT JOIN TN_80_APP_0000_ITEM_HLINK AS ITEMHLINK ON ITEMHLINK.CN_ID = TMP.ITEMID 
		AND ( 
			ITEMHLINK.CN_COMPONENT_CLASS_ID = 105 
			AND ITEMHLINK.CN_COMPONENT_OBJECT_ID IN (2,3,12,13)  
		)
		WHERE ITEMHLINK.CN_HLINK_ID IS NULL
	)
	BEGIN
		SELECT TOP 3 @TMP = RTRIM(TMP.CODE) + ',' + ISNULL(@TMP,'')  
		FROM #TMP_CHILDS AS TMP 
		LEFT JOIN TN_80_APP_0000_ITEM_HLINK AS ITEMHLINK ON ITEMHLINK.CN_ID = TMP.ITEMID 
		AND (
			ITEMHLINK.CN_COMPONENT_CLASS_ID = 105 
			AND ITEMHLINK.CN_COMPONENT_OBJECT_ID IN (2,3,12,13)
		)
		WHERE ITEMHLINK.CN_HLINK_ID IS NULL


		SET @MSG = '核查不通过，有子件不是采购或自制件：' + @TMP + '...'
		RAISERROR(@MSG, 15, 1)
		SET @ERROR = 1
	END


	INSERT INTO [TN_80_APP_0025_BOM_RELEASE]
		([CN_BATCH_ID]
		,[CN_BOM_ID]
		,[CN_ITEM_CODE]
		,[CN_PRODUCT_CODE]) 
	SELECT 
		 @BATCHID
		,@BOMID
		,@ITEMCODE
		,@PRODITEMCODE

	SET @ERROR = @@ERROR + @ERROR

	IF @ERROR <> 0
	BEGIN
		SET @MSG = '发布失败'; 
		ROLLBACK TRANSACTION
	END
	ELSE
	BEGIN
		SET @MSG = '发布完成';
		SET @SUCCESS = 1
		COMMIT TRANSACTION 
	END

	SELECT @MSG AS MSG, @SUCCESS AS SUCCESS
END;


select * from TN_80_APP_0000_ITEM_HLINK
select * from TN_50_DIC_0005_ITEMTYPE
GO
