USE [MBOM_TJB]
GO
/****** Object:  StoredProcedure [dbo].[PROC_ITEM_UNLINK]    Script Date: 05/15/2018 15:22:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_ITEM_UNLINK]
(
@HLINKID INT
)
AS
BEGIN
	DECLARE @MSG NVARCHAR(200) = '已成功删除引用'
	DECLARE @SUCCESS BIT = 1
	
	IF NOT EXISTS ( SELECT 1 FROM TN_80_APP_0025_BOM_HLINK WHERE CN_HLINK_ID = @HLINKID AND CN_S_BOM_TYPE = '自定义物料' AND CN_IS_TOERP = 0)
	BEGIN
		SET @MSG = '物料不是自定义物料，或已经被发布至ERP。无法取消引用。'
		RAISERROR( @MSG, 15, 1 )
		RETURN
	END

	DELETE FROM TN_80_APP_0025_BOM_HLINK WHERE CN_HLINK_ID = @HLINKID AND CN_S_BOM_TYPE = '自定义物料'
	
	SELECT @SUCCESS AS SUCCESS, @MSG AS MSG
END;
GO
