USE [MBOM_TJB]
GO
/****** Object:  StoredProcedure [dbo].[PROC_OPTIONALITEMS_SET]    Script Date: 05/15/2018 15:22:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_OPTIONALITEMS_SET]
(
@ITEMIDS VARCHAR(1000),
@USERID INT,
@NAME VARCHAR(30),
@LOGIN VARCHAR(30)
)
AS
BEGIN
	DECLARE @MSG VARCHAR(300)
	DECLARE @SUCCESS BIT = 0
	DECLARE @ERROR INT = 0

	IF LEN(@ITEMIDS) = 0
	BEGIN
		SET @MSG = '请选择物料'
		SELECT @MSG AS MSG, @SUCCESS AS SUCCESS
		RETURN
	END
	
	INSERT INTO TN_80_APP_0000_ITEM_HLINK(
		CN_ID
		,CN_COMPONENT_CLASS_ID
		,CN_COMPONENT_OBJECT_ID  
		,CN_B_IS_ASSEMBLY
		,CN_DISPLAYNAME
		,CN_CREATE_BY
		,CN_CREATE_LOGIN
		,CN_CREATE_NAME
	)
	SELECT 
		ID
		,105
		,14
		,0 
		,'MBOM选装件'
		,@USERID
		,@NAME
		,@LOGIN
	FROM SPLIT(@ITEMIDS, DEFAULT)
	INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON ITEM.CN_ID = ID
	SELECT @ERROR = @ERROR + @@ERROR

	IF @ERROR <> 0
	BEGIN
		SET @MSG = '设置选装件失败，请联系管理员'
		SELECT @MSG AS MSG, @SUCCESS AS SUCCESS
	END
	ELSE
	BEGIN
		SET @MSG = '设置选装件成功！'
		SET @SUCCESS = 1
		SELECT @MSG AS MSG, @SUCCESS AS SUCCESS
	END
END;
GO
