USE [MBOM_TJB]
GO
/****** Object:  StoredProcedure [dbo].[PROC_DISABLE_BOMHLINK]    Script Date: 05/15/2018 15:22:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_DISABLE_BOMHLINK]
(
@HLINKID INT,
@USERID INT,
@NAME VARCHAR(30),
@LOGIN VARCHAR(30)
)
AS
BEGIN
	DECLARE @MSG VARCHAR(200) = '';
	DECLARE @SUCCESS BIT = 0;
	
	IF @HLINKID = 0
	BEGIN
		SET @MSG = '参数获取失败，请联系管理员（CORP-0001）。'
		SELECT @MSG AS MSG, @SUCCESS AS SUCCESS
		RETURN
	END


	UPDATE TN_80_APP_0025_BOM_HLINK 
	SET
		CN_ISDELETE = 1,
		CN_DT_EX_MBOM = SYSDATETIME(), 
		CN_SYS_STATUS = 'N'
	WHERE
		CN_HLINK_ID = @HLINKID 
		AND CN_S_BOM_TYPE = 'MBOM_P'

	UPDATE 
	TN_MBOM_CREATE_PUBLISH_HLINK 
	SET 
		 CN_SYS_STATUS = 'O'
		,CN_DESC = '被删除，已过期'
		,CN_DT_EXPIRE = SYSDATETIME()
	WHERE CN_BOM_HLINK_ID = @HLINKID

	
	SET @SUCCESS = 1
	SET @MSG = '已成功删除。'
	SELECT @MSG AS MSG, @SUCCESS AS SUCCESS

END;
GO
