USE [MBOM_TJB]
GO
/****** Object:  StoredProcedure [dbo].[PROC_BOMHLINK_CHILD_ADD]    Script Date: 05/15/2018 15:22:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_BOMHLINK_CHILD_ADD]
(
@PARENTITEMCODE VARCHAR(30),
@ITEMID INT,
@HLINKID INT,
@QUANTITY FLOAT,
@BYWHAT VARCHAR(200),
@USERID INT,
@NAME VARCHAR(30),
@LOGIN VARCHAR(30)
)
AS
BEGIN
	DECLARE @MSG VARCHAR(200) = '';
	DECLARE @SUCCESS BIT = 1;
	DECLARE @ERROR INT = 0

	IF @PARENTITEMCODE IS NULL OR LEN(@PARENTITEMCODE) = 0
	BEGIN
		SET @MSG = '父级物料代码为空，请联系管理员。';
		SELECT @MSG AS MSG,@SUCCESS AS SUCCESS
		RETURN
	END

	IF @QUANTITY = 0
	BEGIN
		SET @MSG = '请填写引用数量。';
		SELECT @MSG AS MSG,@SUCCESS AS SUCCESS
		RETURN
	END

	IF @BYWHAT IS NULL OR LEN(@BYWHAT) = 0
	BEGIN
		SET @MSG = '请填写变更理由。';
		SELECT @MSG AS MSG,@SUCCESS AS SUCCESS
		RETURN
	END

	IF NOT EXISTS ( SELECT 1 FROM TN_80_APP_0000_ITEM WHERE CN_ID = @ITEMID )
	BEGIN
		SET @MSG = '物料不存在，请联系管理员。';
		SELECT @MSG AS MSG,@SUCCESS AS SUCCESS
		RETURN
	END

	IF NOT EXISTS ( SELECT 1 FROM TN_80_APP_0025_BOM_HLINK WHERE CN_HLINK_ID = @HLINKID )
	BEGIN
		SET @MSG = '关联物料不存在，请联系管理员。';
		SELECT @MSG AS MSG,@SUCCESS AS SUCCESS
		RETURN
	END

	-- 父级物料
	DECLARE @BOMID INT
	DECLARE @PITEMID INT
	DECLARE @PCODE VARCHAR(30)
	-- 添加物料 
	DECLARE @CODE VARCHAR(30)
	DECLARE @ITEMCODE VARCHAR(30) 
	-- 关联物料
	DECLARE @LINKITEMID INT
	DECLARE @LINKCODE VARCHAR(30)
	DECLARE @LINKITEMCODE VARCHAR(30)
	-- 记录的BOM_HLINK_ID
	DECLARE @BOMHLINKID INT

	SELECT 
			@BOMID = BOM.CN_ID 
		   ,@PITEMID = ITEM.CN_ID
		   ,@PCODE = ITEM.CN_CODE
	FROM TN_80_APP_0025_BOM AS BOM
	INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON ITEM.CN_CODE = BOM.CN_CODE AND ITEM.CN_ITEM_CODE = BOM.CN_ITEM_CODE
	WHERE BOM.CN_ITEM_CODE = @PARENTITEMCODE
	
	SELECT 
			 @CODE = ITEM.CN_CODE
			,@ITEMCODE = ITEM.CN_ITEM_CODE
	FROM
			TN_80_APP_0000_ITEM AS ITEM
	WHERE
			ITEM.CN_ID = @ITEMID
	
	SELECT 
			 @LINKITEMID = ITEM.CN_ID
			,@LINKCODE = ITEM.CN_CODE
			,@LINKITEMCODE = ITEM.CN_ITEM_CODE
	FROM TN_80_APP_0025_BOM_HLINK 
	INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON ITEM.CN_ID = CN_COMPONENT_OBJECT_ID
	WHERE CN_HLINK_ID = @HLINKID

	BEGIN TRAN
	-- 变更物料添加至父级下
	INSERT INTO [dbo].[TN_80_APP_0025_BOM_HLINK]
           ([CN_S_BOM_TYPE]
           ,[CN_BOM_ID]
           ,[CN_COMPONENT_CLASS_ID]
           ,[CN_COMPONENT_OBJECT_ID]
           ,[CN_S_CODE]
           ,[CN_DISPLAYNAME]
           ,[CN_ORDER] 
           ,[CN_F_QUANTITY]
           ,[CN_UNIT] 
		   ,[CN_CHA_PBOM_SIGN]
           ,[CN_STATUS_MBOM]
		   ,[CN_MBOM_NOTICE]
           ,[CN_DESC]
		   ,[CN_CHA_PBOM_IMPACT_DO]
           ,[CN_CREATE_BY]
           ,[CN_CREATE_NAME]
           ,[CN_CREATE_LOGIN])
     SELECT
			'MBOM_P'
		   ,@BOMID
		   ,100
		   ,@ITEMID
		   ,ITEM.CN_ITEM_CODE
		   ,RTRIM(ITEM.CN_CODE) + ' ' + LTRIM(RTRIM(ITEM.CN_NAME))
		   ,0
		   ,@QUANTITY
		   ,ITEM.CN_UNIT
		   ,'Y'
		   ,'Y'
		   ,@BYWHAT
		   ,'由【MBOM变更维护】-【添加子件】所添加的子件'
		   ,'Y'
		   ,@USERID
		   ,@NAME
		   ,@LOGIN
	 FROM
			TN_80_APP_0000_ITEM AS ITEM
	 WHERE
			ITEM.CN_ID = @ITEMID
	SET @ERROR = @ERROR + @@ERROR 

	SET @BOMHLINKID = SCOPE_IDENTITY()

	-- 添加记录
	INSERT INTO [dbo].[TN_MBOM_CREATE_PUBLISH_HLINK]
			([CN_BOM_HLINK_ID]
			,[CN_LINK_BOM_HLINK_ID]
			,[CN_PARENT_ITEM_ID]
			,[CN_PARENT_CODE]
			,[CN_PARENT_ITEM_CODE]
			,[CN_ITEM_ID]
			,[CN_CODE]
			,[CN_ITEM_CODE]
            ,[CN_LINK_ITEM_ID]
            ,[CN_LINK_CODE]
            ,[CN_LINK_ITEM_CODE]
			,[CN_SYS_STATUS]
			,[CN_CHA_DESC]
			,[CN_CREATE_BY]
			,[CN_CREATE_NAME]
			,[CN_CREATE_LOGIN]
			,[CN_DESC]) 
	SELECT
			 @BOMHLINKID
			,@HLINKID
			,@PITEMID
			,@PCODE
			,@PARENTITEMCODE
			,@ITEMID
			,@CODE
			,@ITEMCODE
			,@LINKITEMID
			,@LINKCODE
			,@LINKITEMCODE
			,'Y'
			,@BYWHAT
			,@USERID
			,@NAME
			,@LOGIN
			,''

	SET @ERROR = @ERROR + @@ERROR 

	IF EXISTS ( SELECT 1 FROM TN_80_APP_0025_BOM_HLINK WHERE CN_HLINK_ID = @HLINKID AND CN_STATUS_PBOM = 'N')
	BEGIN
		-- 将HLINK记录值应用变更
		UPDATE TN_80_APP_0025_BOM_HLINK SET CN_STATUS_MBOM = CN_STATUS_PBOM, CN_CHA_PBOM_IMPACT_DO = 'Y' WHERE CN_HLINK_ID = @HLINKID
	END
	ELSE
	BEGIN
		UPDATE TN_80_APP_0025_BOM_HLINK SET CN_CHA_PBOM_IMPACT_DO = 'Y' WHERE CN_HLINK_ID = @HLINKID
	END
	SET @ERROR = @ERROR + @@ERROR 

	IF @ERROR <> 0
	BEGIN
		SET @MSG = '请联系管理员'
		SELECT @MSG AS MSG, @SUCCESS AS SUCCESS
		ROLLBACK TRANSACTION
	END
	ELSE
	BEGIN
		SET @MSG = '操作成功'
		SELECT @MSG AS MSG, @SUCCESS AS SUCCESS
		COMMIT TRANSACTION
	END
END;
GO
