USE [MBOM_TJB]
GO
/****** Object:  StoredProcedure [dbo].[PROC_OPTIONALITEM_MAP_ADD]    Script Date: 05/15/2018 15:22:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_OPTIONALITEM_MAP_ADD]
(
@ITEMID INT,
@ITEMIDS VARCHAR(500),
@USERID INT,
@LOGIN VARCHAR(30),
@NAME VARCHAR(30)
)
AS
BEGIN
	DECLARE @MSG VARCHAR(300) = ''
	DECLARE @SUCCESS BIT = 1
	DECLARE @ERROR INT = 0

	IF @ITEMID = 0
	BEGIN
		SET @MSG = '参数不能为空，请联系管理员。'
		SET @SUCCESS = 0
		SELECT @MSG AS MSG, @SUCCESS AS SUCCESS
		RETURN
	END


	INSERT INTO [dbo].[TN_OPTIONAL_ITEM_HLINK]
        ([CN_ID]
        ,[CN_OPTIONAL_ITEM_ID]
        ,[CN_CODE]
        ,[CN_ITEM_CODE]
        ,[CN_NAME]
        ,[CN_OPTIONAL_CODE]
        ,[CN_OPTIONAL_ITEM_CODE]
        ,[CN_OPTIONAL_NAME]
        ,[CN_IS_TOERP]
        ,[CN_SYS_STATUS]
        ,[CN_DT_EXPIRY_ERP]
        ,[CN_DT_CREATE]
        ,[CN_CREATE_BY]
        ,[CN_CREATE_LOGIN]
        ,[CN_CREATE_NAME]
        ,[CN_DESC]) 
	SELECT 
		@ITEMID
		,ID 
		,ITEM.CN_CODE
		,ITEM.CN_ITEM_CODE
		,ITEM.CN_NAME
		,OITEM.CN_CODE
		,OITEM.CN_ITEM_CODE
		,OITEM.CN_NAME
		,0
		,'Y'
		,'2100-01-01'
		,SYSDATETIME()
		,@USERID
		,@LOGIN
		,@NAME
		,''
	FROM SPLIT(@ITEMIDS, DEFAULT)
	INNER JOIN TN_80_APP_0000_ITEM AS OITEM ON OITEM.CN_ID = ID
	INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON ITEM.CN_ID = @ITEMID
	SET @ERROR = @ERROR + @@ERROR
	IF @ERROR <> 0
	BEGIN
		SET @MSG = '添加失败，请联系管理员。'
		SET @SUCCESS = 0
	END
	ELSE
	BEGIN
		SET @MSG = '添加成功';
	END
	SELECT @MSG AS MSG, @SUCCESS AS SUCCESS
END;
GO
