USE [MBOM_TJB]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_BOM_HLINK_CHILDREN]    Script Date: 05/15/2018 15:22:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_GET_BOM_HLINK_CHILDREN]
(
@ITEMCODE VARCHAR(30)
)
AS
BEGIN
	SELECT
	BOMHLINK.*
	FROM TN_80_APP_0025_BOM_HLINK AS BOMHLINK
	INNER JOIN TN_80_APP_0025_BOM AS BOM ON BOM.CN_ID = BOMHLINK.CN_BOM_ID
	WHERE
		BOM.CN_ITEM_CODE = @ITEMCODE 
		AND ( BOMHLINK.CN_SYS_STATUS = '' OR BOMHLINK.CN_SYS_STATUS = 'Y')
		AND ( CN_ISDELETE IS NULL OR CN_ISDELETE <> 1)

END;
GO
