USE [MBOM_TJB]
GO
/****** Object:  StoredProcedure [dbo].[PROC_COMPOSITE_EDIT_NAME]    Script Date: 05/15/2018 15:22:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_COMPOSITE_EDIT_NAME]
(
@ITEMID INT,
@NAME CHAR(24)
)
AS
BEGIN
	DECLARE @MSG VARCHAR(200)

	IF NOT EXISTS ( SELECT 1 FROM TN_80_APP_0040_MBOM_HLINK WHERE CN_ITEMID = @ITEMID AND (CN_TYPEID = 2 OR CN_TYPEID = 3 OR CN_TYPEID = 4 OR CN_TYPEID = 5) )
	BEGIN
		SET @MSG = '选中的件非合件，无法重新设置名称'
		RAISERROR( @MSG, 15, 1)
		RETURN
	END

	DECLARE @CODE CHAR(24)
	DECLARE @ERROR INT = 0
	DECLARE @SUCCESS BIT = 1

	SELECT @CODE = CN_CODE FROM TN_80_APP_0000_ITEM WHERE CN_ID = @ITEMID

	BEGIN TRAN

	UPDATE TN_80_APP_0025_BOM SET CN_NAME = @NAME WHERE CN_CODE = @CODE
	SET @ERROR = @ERROR + @@ERROR 
	UPDATE TN_80_APP_0000_ITEM SET CN_NAME = @NAME WHERE CN_ID = @ITEMID 
	SET @ERROR = @ERROR + @@ERROR 

	IF @ERROR <> 0
	BEGIN
		SET @MSG = '重新设置名称失败'
		RAISERROR( @MSG, 15, 1)
		ROLLBACK TRANSACTION
	END
	ELSE
	BEGIN
		SET @MSG = '已修改合件名称'
		SELECT @MSG AS MSG, @SUCCESS AS SUCCESS
		COMMIT TRANSACTION
	END
END;
GO
