USE [MBOM_TJB]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_ITEM_CATE_LIST]    Script Date: 05/15/2018 15:22:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_GET_ITEM_CATE_LIST]
(
@CODE NCHAR(24),
@CATENAME NCHAR(30) 
)
AS
BEGIN 

WITH X AS 
(
	SELECT
	M.CN_CODE AS PARENT_CODE,

	ITEM.CN_ID AS CN_ITEMID,
	ITEM.CN_ITEM_CODE,
	ITEM.CN_CODE,
	ITEM.CN_NAME,

	BOM.CN_ISBORROW,
	BOM.CN_B_IS_ASSEMBLY
	FROM 
	TN_80_APP_0025_BOM AS M
	INNER JOIN TN_80_APP_0025_BOM_HLINK AS BOM ON M.CN_ID = BOM.CN_BOM_ID AND BOM.CN_STATUS_PBOM = 'Y'
	INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON BOM.CN_COMPONENT_OBJECT_ID = ITEM.CN_ID
	WHERE 
	M.CN_CODE = @CODE

	UNION ALL
	SELECT T.* FROM
	(
	SELECT
	M.CN_CODE AS PARENT_CODE,
	ITEM.CN_ID AS CN_ITEMID,
	ITEM.CN_ITEM_CODE,
	ITEM.CN_CODE,
	ITEM.CN_NAME,

	BOM.CN_ISBORROW,
	BOM.CN_B_IS_ASSEMBLY
	FROM 
	TN_80_APP_0025_BOM AS M
	INNER JOIN TN_80_APP_0025_BOM_HLINK AS BOM ON M.CN_ID = BOM.CN_BOM_ID AND BOM.CN_STATUS_PBOM = 'Y'
	INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON BOM.CN_COMPONENT_OBJECT_ID = ITEM.CN_ID
	) AS T
	INNER JOIN X ON T.PARENT_CODE = X.CN_CODE AND X.CN_B_IS_ASSEMBLY = 1
)
SELECT distinct
X.CN_ITEMID,
X.CN_ITEM_CODE,
X.CN_CODE,
X.CN_NAME,
X.CN_B_IS_ASSEMBLY,
X.CN_ISBORROW,
convert(char(20),itemhl.CN_DT_CREATE,20) as PDATE,
case x.CN_ISBORROW when 1 then 'Y' end as ISBORROWSTR
FROM X
INNER JOIN TN_80_APP_0000_ITEM_HLINK AS ITEMHL 
ON X.CN_ITEMID = ITEMHL.CN_ID
AND ITEMHL.CN_COMPONENT_CLASS_ID = 105
AND ITEMHL.CN_DISPLAYNAME = @CATENAME
AND ITEMHL.CN_ISDELETE = 0
LEFT JOIN [TN_50_DIC_0005_ITEMTYPE] AS ITEMTYPE ON ITEMHL.CN_COMPONENT_OBJECT_ID = ITEMTYPE.CN_ID
AND ITEMTYPE.CN_SYS_STATUS = 'Y'
END;
GO
