USE [MBOM_TJB]
GO
/****** Object:  UserDefinedFunction [dbo].[SPLIT_SUB]    Script Date: 05/15/2018 15:22:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [dbo].[SPLIT_SUB]
(
	@STR VARCHAR(MAX),
	@IDX INT,
	@SPLITSTR VARCHAR(5) = ','
)
RETURNS VARCHAR(128)
AS
BEGIN
	DECLARE @RTN VARCHAR(128)
	DECLARE @CHARIDX INT = 0 
	DECLARE @LOOPCOUNT INT = LEN(@STR) - LEN(REPLACE(@STR,@SPLITSTR,'')) + 1
	SET @CHARIDX = CHARINDEX(@SPLITSTR,@STR)
	IF @IDX < 0
	BEGIN
		SET @LOOPCOUNT = @LOOPCOUNT + @IDX
	END
	ELSE
	BEGIN
		SET @LOOPCOUNT = @IDX
	END
	WHILE @CHARIDX <> 0
	BEGIN
		SET @RTN = SUBSTRING(@STR, 0, @CHARIDX)
		SET @STR = SUBSTRING(@STR, @CHARIDX + 1, LEN(@STR) - @CHARIDX) 
		SET @CHARIDX = CHARINDEX(@SPLITSTR,@STR)
		SET @LOOPCOUNT = @LOOPCOUNT - 1
		IF @LOOPCOUNT = 0
		BEGIN
			RETURN @RTN
		END
	END;
	RETURN @STR
END;
GO
