USE [MBOM_TJB]
GO
/****** Object:  StoredProcedure [dbo].[PROC_PRODUCT_TRANSFER_INITIATTE]    Script Date: 05/15/2018 15:22:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
得到PRODUCT 所有子ITEM

到ITEM表中从查询 CN_PRODUCT_BASE 是否为PRODUCT 的 CN_CODE

若条件
 CN_IS_TOERP  = 0
 则不可发布

 若
 CN_IS_TOERP = 1
 则可以继续发布
*/

CREATE PROC [dbo].[PROC_PRODUCT_TRANSFER_INITIATTE]
(
@CODE VARCHAR(200)
)
AS
BEGIN 
DECLARE @MSG NVARCHAR(2000);
DECLARE @SUCCESS BIT = 1;

DECLARE @TRANSFERCOUNT INT = 0

SELECT ID AS CODE INTO #TMP_TRANSFER FROM SPLIT(@CODE,DEFAULT);
-- 获取要转批的产品数量
SELECT @TRANSFERCOUNT = COUNT(1) FROM #TMP_TRANSFER;

WITH X AS 
(
	SELECT
	ITEM.CN_ID AS CN_ITEMID,
	ITEM.CN_CODE,

	BOM.CN_B_IS_ASSEMBLY

	FROM 
	TN_80_APP_0025_BOM AS M
	INNER JOIN TN_80_APP_0025_BOM_HLINK AS BOM ON M.CN_ID = BOM.CN_BOM_ID AND BOM.CN_STATUS_PBOM = 'Y'
	INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON BOM.CN_COMPONENT_OBJECT_ID = ITEM.CN_ID
	WHERE 
	M.CN_CODE IN ( SELECT CODE FROM #TMP_TRANSFER )

	UNION ALL

	SELECT
	ITEM.CN_ID AS CN_ITEMID,
	ITEM.CN_CODE,
	BOM.CN_B_IS_ASSEMBLY

	FROM 
	TN_80_APP_0025_BOM AS M
	INNER JOIN TN_80_APP_0025_BOM_HLINK AS BOM ON M.CN_ID = BOM.CN_BOM_ID AND BOM.CN_STATUS_PBOM = 'Y'
	INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON BOM.CN_COMPONENT_OBJECT_ID = ITEM.CN_ID
	INNER JOIN X ON M.CN_CODE = X.CN_CODE AND X.CN_B_IS_ASSEMBLY = 1
)
SELECT DISTINCT CN_ITEMID 
INTO #TMP_ITEMID
FROM X
--先查询出所有子件，存放在临时表中
--从临时表查询出所有本产品子件的直属父产品，若存在其他父级产品则判断是否已经发布
--1、已发布：
--	若已经发布则可以直接过滤掉。
--2、未发布：
--	2.1、判断是否已经可以发布，
--		2.1.1、若可以发布则提示用户需要同时发布。
--		2.1.2、若不能发布，则提示用户需要先完成此产品的发布。
SELECT 
ITEM.CN_PRODUCT_BASE,
COUNT(1) BORROWCOUNT
INTO #TMP_RELATEDPROD
FROM
#TMP_ITEMID AS TMP INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON TMP.CN_ITEMID = ITEM.CN_ID
WHERE
LEN(ITEM.CN_PRODUCT_BASE) > 0
AND CN_IS_TOERP = 0
GROUP BY ITEM.CN_PRODUCT_BASE,ITEM.CN_IS_TOERP

-- 判断是否都设置了销售件
IF EXISTS ( SELECT 1 FROM #TMP_TRANSFER AS T INNER JOIN TN_80_APP_0010_PRODUCT AS PROD ON PROD.CN_CODE = T.CODE AND PROD.CN_SALE_SET <> '设置完成' )
begin
	set @MSG = '销售件未设置完成，无法转批'
	set @SUCCESS = 0
	SELECT @MSG AS MSG, @SUCCESS AS CANTRANSFER
	return
end
-- 判断是否有借用
IF EXISTS ( SELECT 1 FROM #TMP_RELATEDPROD )
BEGIN
	-- 存在借用关系
	-- 判断其父级是否都已经发布
	-- 借用件的产品仍未发布，则不做发布处理
	IF EXISTS (
		SELECT 1
		FROM #TMP_RELATEDPROD 
		INNER JOIN TN_80_APP_0010_PRODUCT PROD ON CN_PRODUCT_BASE = PROD.CN_CODE AND PROD.CN_STATUS IN ('待发布','可发布')
	)
	BEGIN
		-- 判断是否都在一起，可以同时转批

		-- 不能转批
		IF EXISTS (
			SELECT 1 FROM #TMP_RELATEDPROD AS R 
			INNER JOIN TN_80_APP_0010_PRODUCT PROD ON R.CN_PRODUCT_BASE = PROD.CN_CODE AND PROD.CN_STATUS = '待发布'
			LEFT JOIN #TMP_TRANSFER AS T ON R.CN_PRODUCT_BASE = T.CODE 
			WHERE T.CODE IS NULL
		)
		BEGIN 
			SET @SUCCESS = 0

			SET @MSG = ISNULL(@MSG, '') + ' 该产品下有引用件：';

			SELECT 
			@MSG = ISNULL(@MSG, '') + '[' + RTRIM(PROD.CN_CODE) + ' ' + RTRIM(PROD.CN_NAME) + ']：' +
			CASE PROD.CN_SALE_SET WHEN '设置完成' THEN '' ELSE '销售件未设置' END +
			--CASE PROD.CN_CHECK_STATUS WHEN '核查通过' THEN '' ELSE '完整性' + RTRIM(PROD.CN_CHECK_STATUS) END + 
			'。' +
			'<BR/>' +
			CHAR(13) + CHAR(10)
			FROM 
			#TMP_RELATEDPROD BASEPROD
			INNER JOIN TN_80_APP_0010_PRODUCT PROD ON BASEPROD.CN_PRODUCT_BASE = PROD.CN_CODE AND PROD.CN_STATUS = '待发布' AND CN_SALE_SET = '未设置'
		
			DECLARE @PRODS NVARCHAR(500)
		
			SELECT 
			@PRODS = ISNULL(@PRODS, '') +
				'[' + RTRIM(PROD.CN_CODE) +
				/* ' ' + RTRIM(PROD.CN_NAME) + */
				']、'
			FROM 
			#TMP_RELATEDPROD BASEPROD
			INNER JOIN TN_80_APP_0010_PRODUCT PROD ON BASEPROD.CN_PRODUCT_BASE = PROD.CN_CODE AND PROD.CN_STATUS IN ('待发布','可发布')

			IF @PRODS IS NOT NULL
			BEGIN
				SET @MSG = ISNULL(@MSG, '') +  ''+ SUBSTRING( @PRODS, 0, LEN(@PRODS) ) + ' 需要统一发布。';
			END
		END

	END
END

--可以直接转批
IF @SUCCESS = 1
BEGIN
	UPDATE 
	TN_80_APP_0010_PRODUCT
	SET CN_STATUS = '转批中'
	WHERE CN_CODE IN ( SELECT CODE FROM #TMP_TRANSFER )

	SET @MSG = '转批完成';
END

SELECT @MSG AS MSG, @SUCCESS AS SUCCESS

-- 结束存储过程 --
END
GO
