USE [MBOM_TJB]
GO
/****** Object:  StoredProcedure [dbo].[PROC_COMPOSITE_ITEM_SET]    Script Date: 05/15/2018 15:22:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_COMPOSITE_ITEM_SET]
(
	@CODE VARCHAR(32),
	@BOMID INT,
	@PARENTLINK VARCHAR(200),
	@ITEMIDS VARCHAR(200),
	@TYPE VARCHAR(10),
	@USERID INT,
	@NAME VARCHAR(20),
	@LOGIN VARCHAR(20)
)
AS
BEGIN
	DECLARE @MSG VARCHAR(200) = ''
	DECLARE @ERROR INT = 0
	
	DECLARE @ITEMID INT 
	DECLARE @MBOM_VER_ID INT
	DECLARE @IS_SAME_PARENT BIT = 0
	DECLARE @ITEMIDCOUNT INT = 0
	DECLARE @BOMHLINKCOUNT INT = 0
	DECLARE @PARENT_ITEMID INT
	
	DECLARE @ITEMP1IDX INT = 0
	-- 新物料代号前缀由谁而来
	DECLARE @ITEMCODETMP VARCHAR(32)
	-- 新物料代号前缀
	DECLARE @ITEMCODEPRE VARCHAR(32)
	-- 新的物料代号。如果是烤漆件，则是以自己的物料号加后缀；如果是其他类型件，则是以直接父级的物料号加后缀。
	DECLARE @ITEMCODENEW VARCHAR(32)
	-- 新的物料名称，如果是烤漆件，则是以自己的名称作为新名称；如果是其他类型件，则是以直接父级的名称作为新名称。
	DECLARE @ITEMNAMENEW VARCHAR(200)
	DECLARE @ITEMIDNEW INT
	DECLARE @BOMIDNEW INT
	DECLARE @MBOMVER INT
	DECLARE @NOW DATETIME = SYSDATETIME()
	
	DECLARE @BOMHLINKID INT
	
	-- 产品信息
	DECLARE @PRODID INT
	DECLARE @PRODCODE CHAR(30)
	DECLARE @PRODITEMCODE CHAR(30)

	-- TYPE 类型说明：
	--	K：烤漆合件
	--	H：普通合件
	--	L：离散包；多个散件发送给供应商时，需要给出一个“离散包”的料号
	--	B：包塑返厂；在我厂焊接成后，发供应商加工包塑后再返回我厂
	IF @BOMID = 0 OR LEN(@PARENTLINK) = 0 OR LEN(@ITEMIDS) = 0 OR @TYPE NOT IN ('K','H','L','B')
	BEGIN
		SET @MSG = '参数传递错误，请联系管理员'
		RAISERROR( @MSG, 15, 1 )
		RETURN
	END
	
	-- 获取当前产品的最新版本ID
	SELECT TOP 1 @MBOM_VER_ID = CN_ID 
	FROM TN_80_APP_0040_MBOM_VER 
	WHERE CN_CODE = @CODE AND CN_SYS_STATUS = 'Y' 
	ORDER BY CN_DT_CREATE DESC
	
	IF @MBOM_VER_ID IS NULL
	BEGIN
		SET @MSG = '获取产品版本信息失败，请联系管理员！'
		RAISERROR(@MSG, 15, 1)
		RETURN 
	END
	
	SELECT @PARENT_ITEMID = ITEM.CN_ID
	FROM TN_80_APP_0025_BOM AS BOM
	INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON ITEM.CN_CODE = BOM.CN_CODE
	WHERE BOM.CN_ID = @BOMID

	SELECT * INTO #ITEMIDS FROM SPLIT(@ITEMIDS,DEFAULT)
	
	-- 链条上必须都不是合件或虚件,只能从下往上做,不能从上到下
	SELECT * INTO #LINKIDS FROM SPLIT(@PARENTLINK, DEFAULT)
	
	IF EXISTS (
		SELECT 1 FROM TN_80_APP_0000_ITEM_HLINK AS ITEMH
		JOIN #LINKIDS ON ITEMH.CN_ID = ID
		WHERE (ITEMH.CN_SYS_STATUS = '' OR ITEMH.CN_SYS_STATUS = 'Y')
		AND ITEMH.CN_COMPONENT_CLASS_ID = 105 
		AND (ITEMH.CN_COMPONENT_OBJECT_ID = 12 OR ITEMH.CN_COMPONENT_OBJECT_ID = 13)
	)
	BEGIN
		SET @MSG = '创建合件失败：所有父级都必须不是合件或虚件'
		RAISERROR( @MSG, 15, 1 )
		RETURN
	END

	SELECT @ITEMIDCOUNT = COUNT(1) FROM #ITEMIDS
	SELECT @BOMHLINKCOUNT = COUNT(DISTINCT CN_COMPONENT_OBJECT_ID) 
	FROM TN_80_APP_0025_BOM_HLINK AS BOMHLINK 
	WHERE BOMHLINK.CN_BOM_ID = @BOMID AND CN_COMPONENT_OBJECT_ID IN ( SELECT * FROM #ITEMIDS )
	-- 验证是否同一父级
	IF @BOMHLINKCOUNT <> @ITEMIDCOUNT
	BEGIN
		SET @MSG = '创建合件失败：不可跨父级创建'
		RAISERROR( @MSG, 15, 1 )
		RETURN
	END
	-- 单件无法作为普通合件,多件无法作为烤漆件
	-- 单件无法作为离散发包件，多件无法作为包塑反厂件
	IF @TYPE = 'B' AND @ITEMIDCOUNT > 1
	BEGIN
		SET @MSG = '创建合件失败：多个件无法创建为包塑反厂件'
		RAISERROR( @MSG, 15, 1 )
		RETURN
	END
	IF @TYPE = 'L' AND @ITEMIDCOUNT = 1
	BEGIN
		SET @MSG = '创建合件失败：单个件无法创建为离散发包件'
		RAISERROR( @MSG, 15, 1 )
		RETURN
	END
	IF @TYPE = 'K' AND @ITEMIDCOUNT > 1
	BEGIN
		SET @MSG = '创建合件失败：多个件无法创建为烤漆件'
		RAISERROR( @MSG, 15, 1 )
		RETURN
	END
	
	IF @TYPE = 'H' AND @ITEMIDCOUNT = 1
	BEGIN
		SET @MSG = '创建合件失败：单个件无法创建为普通合件'
		RAISERROR( @MSG, 15, 1 )
		RETURN
	END

	IF @TYPE = 'H' OR @TYPE = 'L' OR @TYPE = 'B'
	BEGIN
		SELECT @ITEMCODETMP = BOM.CN_ITEM_CODE,@ITEMNAMENEW = BOM.CN_NAME FROM TN_80_APP_0025_BOM AS BOM
		WHERE BOM.CN_ID = @BOMID
	END
	ELSE IF @TYPE = 'K'
	BEGIN
		SELECT @ITEMCODETMP = ITEM.CN_ITEM_CODE,@ITEMNAMENEW = ITEM.CN_NAME FROM TN_80_APP_0000_ITEM AS ITEM 
		WHERE  ITEM.CN_ID = @ITEMIDS
	END

	SET @ITEMP1IDX = PATINDEX('%K[1-9]P1', @ITEMCODETMP)
	IF @ITEMP1IDX = 0
	BEGIN
		SET @ITEMP1IDX = CHARINDEX('KP1', @ITEMCODETMP)
	END
	IF @ITEMP1IDX = 0
	BEGIN
		SET @ITEMP1IDX = CHARINDEX('P1', @ITEMCODETMP)
	END
	IF @ITEMP1IDX <= 0
	BEGIN
		SET @MSG = '创建合件失败：选择的产品名称不含[P1]，无法作为合件。'
		RAISERROR(@MSG, 15, 1)
		RETURN
	END
	SET @ITEMCODEPRE = SUBSTRING(@ITEMCODETMP, 1, @ITEMP1IDX - 1)
	
	-- 获取可用的合件名称
	DECLARE @TMP INT = 9
	DECLARE @AVAILABLENAMES TABLE ( CODE VARCHAR(200) )
	WHILE @TMP <> 0
	BEGIN
		INSERT INTO @AVAILABLENAMES VALUES ( @ITEMCODEPRE + 'K' + CAST(@TMP AS CHAR(1)) + 'P1' )
		SET @TMP = @TMP - 1
	END

	DELETE FROM @AVAILABLENAMES
	WHERE CODE 
	IN 
	(
		SELECT ITEM.CN_ITEM_CODE FROM TN_80_APP_0000_ITEM AS ITEM
		WHERE ITEM.CN_ITEM_CODE LIKE (@ITEMCODEPRE+'K[1-9]P1%') 
	)
	
	IF @TYPE = 'K' OR @TYPE = 'L' OR @TYPE = 'B'
	BEGIN
		DECLARE @BEFORE_ITEM_ID INT
		DECLARE @BEFORE_BOM_ID INT
		DECLARE @BEFORE_CHILDREN_COUNT INT
		
		SET @ITEMCODENEW  = @ITEMCODEPRE + 'KP1'
		SELECT 
			@BEFORE_ITEM_ID = ITEM.CN_ID,
			@BEFORE_BOM_ID = BOM.CN_ID
		FROM TN_80_APP_0000_ITEM  AS ITEM
		INNER JOIN TN_80_APP_0025_BOM AS BOM ON BOM.CN_CODE = ITEM.CN_CODE
		WHERE ITEM.CN_ITEM_CODE = @ITEMCODENEW
		IF @TYPE = 'K'
		BEGIN
			-- 烤漆合件
			-- 判断这个件是否已经是烤漆件,若已经是烤漆件则不需要再次烤漆
			IF EXISTS ( 
				SELECT 1 
				FROM TN_80_APP_0040_MBOM_HLINK 
				WHERE 
					CN_VER_ID = @MBOM_VER_ID
					AND CN_SYS_STATUS = 'Y'
					AND CN_LINK = @PARENTLINK + ',' + CAST(@BEFORE_ITEM_ID AS VARCHAR) 
			)
			BEGIN
				SET @MSG = '所选件已经是烤漆合件，无需再次设置。'
				RAISERROR( @MSG, 15, 1 )
				RETURN
			END
		END
		ELSE IF @TYPE = 'L' OR @TYPE = 'B'
		BEGIN
			-- 普通合件
			SET @ITEMCODENEW  = @ITEMCODEPRE + 'KP1'
		END
		-- 判断这个合件的名称是否之前被使用过
		-- 若使用的名称是同一个件,则直接引用
		-- 判断标准是
		-- 1.必须使用同样的代号
		-- 2.必须拥有同样的子件,不可多也不可少
		IF @BEFORE_BOM_ID IS NOT NULL AND @BEFORE_ITEM_ID IS NOT NULL
		BEGIN
			-- 说明这个件之前建过,看看是不是同一个
			-- 查出这个件的所有子件
			SELECT DISTINCT CN_COMPONENT_OBJECT_ID AS ITEMID
			INTO #BEFORE_CHILDREN
			FROM TN_80_APP_0025_BOM_HLINK
			WHERE CN_BOM_ID = @BEFORE_BOM_ID
			
			-- 获取两表之间相同件数量,如果数量和本次合件数量一致,那么确认是同一个父级
			SELECT @BEFORE_CHILDREN_COUNT = COUNT(1) FROM
			#ITEMIDS AS THIS_CHILDREN
			FULL JOIN #BEFORE_CHILDREN AS SAME_NAME_CHILREN ON SAME_NAME_CHILREN.ITEMID = THIS_CHILDREN.ID 
			
			
			-- 子件不一致,却使用了同一个名称,创建失败
			IF @BEFORE_CHILDREN_COUNT <> @ITEMIDCOUNT
			BEGIN
				SET @MSG = '合件创建失败：此物料号被占用。'
				RAISERROR( @MSG, 15, 1 )
				RETURN
			END
			ELSE
			BEGIN
				SET @IS_SAME_PARENT = 1
			END
		END
	END
	ELSE IF @TYPE = 'H'
	BEGIN
		IF NOT EXISTS ( SELECT 1 FROM @AVAILABLENAMES )
		BEGIN
			SET @MSG = '合件创建失败：同父级下合件数量达到9个，无法自动生成代号。'
			RAISERROR( @MSG, 15, 1 )
			RETURN
		END
		SELECT @ITEMCODENEW = MIN(CODE) FROM @AVAILABLENAMES 
	END
	
	-- 获取产品信息
	SELECT @PRODID = PROD.CN_ID, @PRODCODE = PROD.[CN_CODE], @PRODITEMCODE = PROD.[CN_ITEM_CODE]
	FROM  TN_80_APP_0000_ITEM AS ITEM
	INNER JOIN TN_80_APP_0010_PRODUCT AS PROD ON PROD.CN_CODE = ITEM.CN_CODE
	WHERE ITEM.CN_CODE = @CODE

	-- 记录MBOM_VER 
	SET @MBOMVER = (SELECT ISNULL(MAX(CN_VER),0)+1 FROM TN_80_APP_0040_MBOM_VER AS VER WHERE VER.CN_DT_TOERP = 2 AND VER.CN_ITEM_CODE = @ITEMCODENEW)
	

	-- 获取选中件父级
	SELECT
		 ITEM.CN_ID AS PARENTITEMID
		,BOM.CN_ID AS BOMID
		,BOMHLINK.CN_HLINK_ID AS BOMHLINKID
		,BOMHLINK.CN_F_QUANTITY AS QUANTITY
	INTO #TMP_PARENT
	FROM TN_80_APP_0025_BOM_HLINK AS BOMHLINK
	INNER JOIN TN_80_APP_0025_BOM AS BOM ON BOM.CN_ID = BOMHLINK.CN_BOM_ID
	INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON ITEM.CN_CODE = BOM.CN_CODE
	WHERE 
	BOM.CN_ID = @BOMID
	AND BOMHLINK.CN_COMPONENT_OBJECT_ID IN ( SELECT ID FROM #ITEMIDS )
	
	IF NOT EXISTS ( SELECT 1 FROM #TMP_PARENT )
	BEGIN
		SET @MSG = '合件创建失败：未能成功获取到选中件父级。'
		RAISERROR( @MSG, 15, 1 )
		RETURN
	END
	-- 开始事务
	BEGIN TRANSACTION
	
	-- 是同一个烤漆件
	IF @IS_SAME_PARENT = 1
	BEGIN
		-- 表示这次创建的是之前创建过的合件
		-- 获取之前已经创建好的合件的BOM_ID
		SELECT @BOMIDNEW = CN_ID FROM TN_80_APP_0025_BOM WHERE CN_ITEM_CODE = @ITEMCODENEW
		-- 获取之前已经创建好的合件的ITEM_ID
		SELECT @ITEMIDNEW = CN_ID FROM TN_80_APP_0000_ITEM WHERE CN_ITEM_CODE = @ITEMCODENEW
	END
	ELSE
	BEGIN
		-- 添加ITEM表记录，并记录ITEMID
		INSERT INTO [DBO].[TN_80_APP_0000_ITEM] ([CN_CODE],[CN_ITEM_CODE],[CN_NAME],[CN_CREATE_BY],[CN_CREATE_NAME],[CN_CREATE_LOGIN] ,[CN_SYS_STATUS])
		SELECT @ITEMCODENEW, @ITEMCODENEW, @ITEMNAMENEW, @USERID, @NAME, @LOGIN, 'Y'
		SET @ERROR = @ERROR + @@ERROR
		SET @ITEMIDNEW = SCOPE_IDENTITY()
		
		-- 增加ITEM_HLINK表对ITEM表的关联，标明MBOM合件
		INSERT INTO [DBO].[TN_80_APP_0000_ITEM_HLINK] ([CN_ID] ,[CN_COMPONENT_CLASS_ID] ,[CN_COMPONENT_OBJECT_ID] ,[CN_DISPLAYNAME],[CN_SYS_STATUS] ,[CN_CREATE_BY] ,[CN_CREATE_NAME] ,[CN_CREATE_LOGIN])
		VALUES ( @ITEMIDNEW ,105 ,13 ,'MBOM合件' ,'Y',@USERID ,@NAME ,@LOGIN )
		SET @ERROR = @ERROR + @@ERROR

		-- 添加BOM表记录，并记录BOMID
		INSERT INTO [DBO].[TN_80_APP_0025_BOM] ([CN_CODE],[CN_ITEM_CODE],[CN_TYPE], [CN_NAME] ,[CN_CREATE_BY] ,[CN_CREATE_NAME] ,[CN_CREATE_LOGIN])
		SELECT @ITEMCODENEW ,@ITEMCODENEW,'MBOM合件' ,@ITEMNAMENEW ,@USERID  ,@NAME ,@LOGIN
		SET @ERROR = @ERROR + @@ERROR
		SET @BOMIDNEW = SCOPE_IDENTITY()

		INSERT INTO [DBO].[TN_80_APP_0040_MBOM_VER]([CN_CODE] ,[CN_ITEM_CODE] ,[CN_NAME] ,[CN_TYPE],[CN_CREATE_BY],[CN_CREATE_NAME],[CN_CREATE_LOGIN],[CN_SYS_STATUS],[CN_VER])
		SELECT @ITEMCODENEW, @ITEMCODENEW, @ITEMNAMENEW, 'MBOM合件', @USERID, @NAME, @LOGIN, 'Y', @MBOMVER
		SET @ERROR = @ERROR + @@ERROR
	END
	-- ---------------- --
	-- 烤漆合件
	-- ---------------- --
	IF @TYPE = 'K' OR @TYPE = 'B'
	BEGIN
		SET @ITEMID = CAST(@ITEMIDS AS INT)
		-- -------------------- --
		-- 设置BOM_HLINK表关系
		-- -------------------- --
		
		-- 添加【新建合件】对【选中件】的引用
		INSERT INTO [DBO].[TN_80_APP_0025_BOM_HLINK]
			   ([CN_S_BOM_TYPE]
			   ,[CN_BOM_ID]
			   ,[CN_COMPONENT_OBJECT_ID]
			   ,[CN_F_QUANTITY]
			   ,[CN_DISPLAYNAME]
			   ,[CN_UNIT]
			   ,[CN_B_IS_ASSEMBLY]
			   ,[CN_STATUS_PBOM]
			   ,[CN_STATUS_MBOM]
			   ,[CN_SYS_STATUS]
			   ,[CN_CREATE_BY]
			   ,[CN_CREATE_NAME]
			   ,[CN_CREATE_LOGIN]
			   ,[CN_COMPONENT_CLASS_ID]
			   ,[CN_HLINK_ID_PRE]
			   ,[CN_ORDER]
			   ,[CN_ID_NOTICE]
			   ,[CN_CODE_NOTICE])
		SELECT
				'MBOM'
			   ,@BOMIDNEW
			   ,@ITEMID
			   ,1	--QUANTITY
			   ,ITEM.CN_ITEM_CODE + ' ' + ITEM.CN_NAME
			   ,'件'	--UNIT
			   ,1		--IS_ASSEMBLY
			   ,''		--STATUS_PBOM
			   ,'Y'		--STATUS_MBOM
			   ,'Y'		--SYS_STATUS
			   ,@USERID
			   ,@NAME
			   ,@LOGIN
			   ,100		--CLASS_ID
			   ,0		--ORDER
			   ,P.BOMHLINKID	--HLINKID_PRE
			   ,@ITEMID			--[CN_ID_NOTICE]
			   ,ITEM.CN_CODE + '-' + CAST(@MBOMVER AS CHAR(1)) --[CN_CODE_NOTICE]
		FROM #TMP_PARENT AS P
		INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON ITEM.CN_ID = @ITEMID
		WHERE ITEM.CN_ID = @ITEMID
		SET @ERROR = @ERROR + @@ERROR
	 
		-- 添加【选中件父级】对【新建合件】的引用
		INSERT INTO [DBO].[TN_80_APP_0025_BOM_HLINK]
			   ([CN_S_BOM_TYPE]
			   ,[CN_BOM_ID]
			   ,[CN_COMPONENT_OBJECT_ID]
			   ,[CN_DISPLAYNAME]
			   ,[CN_F_QUANTITY]
			   ,[CN_UNIT]
			   ,[CN_B_IS_ASSEMBLY]
			   ,[CN_STATUS_PBOM]
			   ,[CN_STATUS_MBOM]
			   ,[CN_SYS_STATUS]
			   ,[CN_CREATE_BY]
			   ,[CN_CREATE_NAME]
			   ,[CN_CREATE_LOGIN]
			   ,[CN_COMPONENT_CLASS_ID]
			   ,[CN_ORDER]
			   ,[CN_HLINK_ID_PRE]
			   ,[CN_ID_NOTICE]
			   ,[CN_CODE_NOTICE])
		SELECT
				'MBOM'
			   ,@BOMID
			   ,@ITEMIDNEW
			   ,@ITEMCODENEW + ' ' + @ITEMNAMENEW
			   ,T.QUANTITY
			   ,'件'	--UNIT
			   ,1		--IS_ASSEMBLY
			   ,''		--STATUS_PBOM
			   ,'Y'		--STATUS_MBOM
			   ,'Y'		--SYS_STATUS
			   ,@USERID
			   ,@NAME
			   ,@LOGIN
			   ,100			--CLASS_ID
			   ,0			--ORDER
			   ,T.BOMHLINKID--HLINKID_PRE
			   ,@BOMIDNEW										--[CN_ID_NOTICE]
			   ,@ITEMCODENEW + '-' + CAST(@MBOMVER AS CHAR(1))	--[CN_CODE_NOTICE]
		FROM #TMP_PARENT AS T
		INNER JOIN TN_80_APP_0025_BOM_HLINK AS BOMHLINK ON BOMHLINK.CN_HLINK_ID = T.BOMHLINKID
		SET @ERROR = @ERROR + @@ERROR 
	END
	-- ---------------- --
	-- 普通合件
	-- ---------------- --
	ELSE IF @TYPE = 'H' OR @TYPE = 'L'
	BEGIN
		
		-- -------------------- --
		-- 设置BOM_HLINK表关系
		-- -------------------- --
		
		-- 添加【新建合件】对【选中件】的引用
		INSERT INTO [DBO].[TN_80_APP_0025_BOM_HLINK]
			   ([CN_S_BOM_TYPE]
			   ,[CN_BOM_ID]
			   ,[CN_COMPONENT_OBJECT_ID]
			   ,[CN_BOM_ID_PRE]
			   ,[CN_HLINK_ID_PRE]
			   ,[CN_DISPLAYNAME]
			   ,[CN_ORDER]
			   ,[CN_F_QUANTITY]
			   ,[CN_UNIT]
			   ,[CN_B_IS_ASSEMBLY]
			   ,[CN_STATUS_PBOM]
			   ,[CN_STATUS_MBOM]
			   ,[CN_SYS_STATUS]
			   ,[CN_CREATE_BY]
			   ,[CN_CREATE_NAME]
			   ,[CN_CREATE_LOGIN]
			   ,[CN_COMPONENT_CLASS_ID]
			   ,[CN_ID_NOTICE]
			   ,[CN_CODE_NOTICE])
		SELECT
			'MBOM'
			,@BOMIDNEW
			,ITEM.CN_ID
			,@BOMID
			,BOMHLINK.CN_HLINK_ID
			,RTRIM(ITEM.CN_CODE) + ' ' + ITEM.CN_NAME
			,BOMHLINK.CN_ORDER
			,BOMHLINK.CN_F_QUANTITY
			,BOMHLINK.CN_UNIT
			,BOMHLINK.CN_B_IS_ASSEMBLY
			,''		-- STATUS_PBOM
			,'Y'	-- STATUS_MBOM
			,'Y'	-- SYS_STATUS
			,@USERID
			,@NAME
			,@LOGIN
			,100
			,BOMHLINK.CN_BOM_ID
			,RTRIM(ITEM.CN_ITEM_CODE) + '-' + CAST(@MBOMVER AS CHAR(1))
		FROM #ITEMIDS
		INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON ITEM.CN_ID = ID
		INNER JOIN TN_80_APP_0025_BOM_HLINK AS BOMHLINK ON BOMHLINK.CN_BOM_ID = @BOMID AND CN_COMPONENT_OBJECT_ID = ITEM.CN_ID
		SET @ERROR = @ERROR + @@ERROR
		
		-- BOM_HLINK表添加关联
		-- 添加【选中件父级】对【新建合件】的引用
		INSERT INTO [DBO].[TN_80_APP_0025_BOM_HLINK]
			   ([CN_S_BOM_TYPE]
			   ,[CN_BOM_ID]
			   ,[CN_COMPONENT_OBJECT_ID]
			   ,[CN_DISPLAYNAME]
			   ,[CN_F_QUANTITY]
			   ,[CN_UNIT]
			   ,[CN_B_IS_ASSEMBLY]
			   ,[CN_STATUS_PBOM]
			   ,[CN_STATUS_MBOM]
			   ,[CN_SYS_STATUS]
			   ,[CN_CREATE_BY]
			   ,[CN_CREATE_NAME]
			   ,[CN_CREATE_LOGIN]
			   ,[CN_COMPONENT_CLASS_ID]
			   ,[CN_ORDER]
			   ,[CN_BOM_ID_PRE]
			   ,[CN_ID_NOTICE]
			   ,[CN_CODE_NOTICE])
		SELECT
				'MBOM'
			   ,@BOMID
			   ,@ITEMIDNEW
			   ,@ITEMCODENEW + ' ' + @ITEMNAMENEW
			   ,1
			   ,'件'	--UNIT
			   ,1		--IS_ASSEMBLY
			   ,''		--STATUS_PBOM
			   ,'Y'		--STATUS_MBOM
			   ,'Y'		--SYS_STATUS
			   ,@USERID
			   ,@NAME
			   ,@LOGIN
			   ,100			--CLASS_ID
			   ,0			--ORDER
			   ,@BOMID		--[CN_BOM_ID_PRE]
			   ,@BOMIDNEW	--[CN_ID_NOTICE]
			   ,@ITEMCODENEW + '-' + CAST(@MBOMVER AS CHAR(1)) --[CN_CODE_NOTICE]
		SET @ERROR = @ERROR + @@ERROR
	END
	-- -------------------- --
	-- 设置BOM_HLINK表关系
	-- -------------------- --
	
	-- 使选中件上级取消对他的引用
	UPDATE BOMHLINK
	SET 
		 CN_STATUS_MBOM = 'N'
		,CN_DT_EX_MBOM = @NOW
		,CN_DESC = '用户设置为合件'
	FROM TN_80_APP_0025_BOM_HLINK AS BOMHLINK
	INNER JOIN #ITEMIDS ON CN_COMPONENT_OBJECT_ID = ID  AND CN_BOM_ID = @BOMID 
	SET @ERROR = @ERROR + @@ERROR
	
	-- --------------------- --
	-- 设置MBOM_HLINK表关系
	-- --------------------- --
	
	-- 使选中件上级取消对他的引用
	UPDATE TN_80_APP_0040_MBOM_HLINK
	SET 
		 CN_ISLINKED = 0
		,CN_DT_MODIFY = @NOW
		,CN_DESC = '用户设置为合件'
	WHERE 
		CN_VER_ID = @MBOM_VER_ID
		AND CN_ISLINKED = 1
		AND CN_SYS_STATUS = 'Y'
		AND CN_ITEMID IN ( SELECT ID FROM #ITEMIDS )
		AND [DBO].SPLIT_SUB(CN_PARENT_LINK,0,DEFAULT) = @PARENT_ITEMID
	SET @ERROR = @ERROR + @@ERROR 
	
	-- 在MBOM_HLINK表中添加新建的合件及他的下级
	-- 获取BOMHLINKID
	SELECT @BOMHLINKID = CN_HLINK_ID
	FROM TN_80_APP_0025_BOM_HLINK
	WHERE CN_COMPONENT_OBJECT_ID = @ITEMIDNEW
	-- 在【选中件父级】下添加【新建合件】
	INSERT INTO TN_80_APP_0040_MBOM_HLINK
	(
		 CN_VER_ID
		,CN_BOM_HLINK_ID
		,CN_PARENT_LINK
		,CN_LINK
		,CN_ITEMID
		,CN_TYPEID
		,CN_TYPENAME
		,CN_CREATE_BY
		,CN_CREATE_NAME
		,CN_CREATE_LOGIN
		,CN_DESC
	)
	SELECT 
		 @MBOM_VER_ID
		,@BOMHLINKID
		,@PARENTLINK
		,@PARENTLINK+','+CAST(@ITEMIDNEW AS VARCHAR)
		,@ITEMIDNEW
		,2
		,'合件'
		,@USERID
		,@NAME
		,@LOGIN
		,'用户新建合件，物料代号：'+@ITEMCODENEW
	SET @ERROR = @ERROR + @@ERROR
	
	-- 添加【新建合件】的【下级】
	;WITH X AS 
	(
		SELECT
			 CAST(@PARENTLINK+','+CAST(@ITEMIDNEW AS VARCHAR) AS VARCHAR(200)) AS PARENTLINK
			,CAST(@PARENTLINK+','+CAST(@ITEMIDNEW AS VARCHAR)+','+CAST(ITEM.CN_ID AS VARCHAR) AS VARCHAR(200)) AS LINK
			,BOMHLINK.CN_HLINK_ID AS BOMHLINKID
			,ITEM.CN_CODE AS CODE
			,ITEM.CN_ID AS ITEMID
		FROM TN_80_APP_0025_BOM AS BOM
		INNER JOIN TN_80_APP_0025_BOM_HLINK AS BOMHLINK ON BOMHLINK.CN_BOM_ID = BOM.CN_ID
			AND (CN_STATUS_MBOM = 'Y' OR (CN_STATUS_PBOM = 'Y' AND CN_STATUS_MBOM <> 'N'))
			AND BOMHLINK.CN_SYS_STATUS <> 'N'
		INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON ITEM.CN_ID = BOMHLINK.CN_COMPONENT_OBJECT_ID
		WHERE 
		BOMHLINK.CN_BOM_ID = @BOMIDNEW 
		UNION ALL
		SELECT
			 CAST(X.LINK AS VARCHAR(200))
			,CAST(X.LINK+','+CAST(ITEM.CN_ID AS VARCHAR) AS VARCHAR(200))
			,BOMHLINK.CN_HLINK_ID AS BOMHLINKID
			,ITEM.CN_CODE AS CODE
			,ITEM.CN_ID AS ITEMID
		FROM TN_80_APP_0025_BOM AS BOM
		INNER JOIN TN_80_APP_0025_BOM_HLINK AS BOMHLINK ON BOMHLINK.CN_BOM_ID = BOM.CN_ID
			AND (CN_STATUS_MBOM = 'Y' OR (CN_STATUS_PBOM = 'Y' AND CN_STATUS_MBOM <> 'N'))
			AND BOMHLINK.CN_SYS_STATUS <> 'N'
		INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON ITEM.CN_ID = BOMHLINK.CN_COMPONENT_OBJECT_ID
		INNER JOIN X ON X.CODE = BOM.CN_CODE
	)
	INSERT INTO TN_80_APP_0040_MBOM_HLINK
	(
		 CN_VER_ID
		,CN_BOM_HLINK_ID
		,CN_PARENT_LINK
		,CN_LINK
		,CN_ITEMID
		,CN_TYPEID
		,CN_TYPENAME
		,CN_CREATE_BY
		,CN_CREATE_NAME
		,CN_CREATE_LOGIN
		,CN_DESC
	)
	SELECT 
		 @MBOM_VER_ID
		,X.BOMHLINKID
		,X.PARENTLINK
		,X.LINK
		,X.ITEMID
		,2
		,'合件'
		,@USERID
		,@NAME
		,@LOGIN
		,'用户创建合件子级，父级物料代号：'+@ITEMCODENEW
	FROM X
	SET @ERROR = @ERROR + @@ERROR
	
	IF @ERROR <> 0
	BEGIN
		IF @IS_SAME_PARENT = 1
			SET @MSG = '合件['+@ITEMCODENEW+']重用失败，请联系管理员。'
		ELSE
			SET @MSG = '创建合件失败：执行过程中出现错误，请联系管理员'
		RAISERROR(@MSG, 15, 1)
		ROLLBACK TRANSACTION
	END
	ELSE
	BEGIN
		IF @IS_SAME_PARENT = 1
			SET @MSG = '已成功重用合件['+@ITEMCODENEW+']。'
		ELSE
			SET @MSG = @MSG + '创建合件成功！'
		SELECT @MSG AS MSG, CAST(1 AS BIT) AS SUCCESS
		COMMIT TRANSACTION
	END
END;
GO
