USE [MBOM_TJB]
GO
/****** Object:  UserDefinedFunction [dbo].[SPLIT]    Script Date: 05/15/2018 15:22:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[SPLIT]
(
	@STR VARCHAR(MAX),
	@SPLITSTR VARCHAR(5) = ','
)
RETURNS  @TABLE TABLE( ID VARCHAR(128) )
AS
BEGIN
DECLARE @CHARIDX INT = 0 
SET @CHARIDX = CHARINDEX(@SPLITSTR,@STR)
WHILE @CHARIDX <> 0
BEGIN
	INSERT INTO @TABLE VALUES ( SUBSTRING(@STR,1 ,@CHARIDX - 1) )
	SET @STR = SUBSTRING(@STR, @CHARIDX + 1, LEN(@STR) - @CHARIDX) 
	SET @CHARIDX = CHARINDEX(@SPLITSTR,@STR)
END;
INSERT INTO @TABLE VALUES ( @STR )
DELETE FROM @TABLE WHERE LEN(ID) = 0
RETURN
END;
GO
