USE [MBOM_TJB]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_PRODUCT_DISCRETE_LIST]    Script Date: 05/15/2018 15:22:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[PROC_GET_PRODUCT_DISCRETE_LIST] 
(
@CODE CHAR(32)
)
AS
BEGIN 
	DECLARE @MBOM_VER_ID INT
	
	-- 获取产品MBOM版本号，如果获取失败则不能进行下一步操作
	SELECT TOP 1 @MBOM_VER_ID = CN_ID
	FROM TN_80_APP_0040_MBOM_VER AS MBOMVER
	WHERE MBOMVER.CN_CODE = @CODE AND CN_SYS_STATUS = 'Y'
	ORDER BY CN_DT_CREATE DESC
	
	IF @MBOM_VER_ID IS NULL
	BEGIN
		RAISERROR('获取产品版本信息失败，请联系管理员！', 15, 1)
		RETURN
	END

	-- 查询离散区中所有父级
	SELECT 
		0 AS [LEVEL],
		REPLACE(CN_LINK,','+CAST(CN_ITEMID AS VARCHAR(200)), '') AS PARENT_LINK,
		CN_LINK AS LINK,

		REPLACE(REPLACE(CN_LINK,','+CAST(CN_ITEMID AS VARCHAR(200)), ''),',','') AS PARENTID,
		REPLACE(CN_LINK,',','') AS ID,

		CN_ITEMID,
		ITEM.CN_ITEM_CODE,
		ITEM.CN_CODE,
		ITEM.CN_NAME,

		BOMH.CN_F_QUANTITY AS QUANTITY,
		'件' AS CN_UNIT,
		CAST(1 AS BIT) AS IS_ASSEMBLY,
		0 AS CN_ORDER,
		CAST(1 AS BIT) AS ISROOT,
		CN_ISLINKED AS ISLINKED,
		BOMH.CN_HLINK_ID AS BOMHLINKID,
		CASE MAX(ITEMH.CN_COMPONENT_OBJECT_ID) WHEN 12 THEN 'V' ELSE 'C' END AS MBOMTYPE,
		CASE CN_TYPEID WHEN 1 THEN 'V' ELSE 'C' END AS TYPEID
	INTO #TMP
	FROM TN_80_APP_0040_MBOM_HLINK AS T
	INNER JOIN TN_80_APP_0025_BOM_HLINK AS BOMH ON BOMH.CN_HLINK_ID = T.CN_BOM_HLINK_ID
	INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON ITEM.CN_ID = T.CN_ITEMID
	INNER JOIN TN_80_APP_0000_ITEM_HLINK AS ITEMH ON ITEMH.CN_ID = ITEM.CN_ID
	AND ITEMH.CN_COMPONENT_CLASS_ID = 105
	AND ( ITEMH.CN_COMPONENT_OBJECT_ID = 12 OR ITEMH.CN_COMPONENT_OBJECT_ID = 13 )
	AND ( ITEMH.CN_SYS_STATUS = 'Y' OR ITEMH.CN_SYS_STATUS = '' )
	WHERE CN_VER_ID = @MBOM_VER_ID
	AND T.CN_SYS_STATUS = 'Y'
	GROUP BY 
	  T.CN_LINK
	, T.CN_ITEMID
	, T.CN_ISLINKED
	, ITEM.CN_ITEM_CODE
	, ITEM.CN_CODE
	, ITEM.CN_NAME
	, BOMH.CN_HLINK_ID
	, BOMH.CN_F_QUANTITY
	, CN_TYPEID
	
	UPDATE T
	SET ISROOT = 0
	FROM #TMP AS T
	CROSS JOIN #TMP AS T2
	WHERE T.CN_ITEMID <> T2.CN_ITEMID
	AND CHARINDEX(CAST(T2.LINK AS VARCHAR), T.LINK) > 0
	
	SELECT * FROM #TMP 
	WHERE MBOMTYPE = TYPEID
END;
GO
