USE [MBOM_TJB]
GO
/****** Object:  StoredProcedure [dbo].[PROC_MBOM_MAINTENANCE]    Script Date: 05/15/2018 15:22:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_MBOM_MAINTENANCE]
(
@CODE CHAR(24),
@USERID INT,
@NAME VARCHAR(20),
@LOGIN VARCHAR(20)
)
AS
BEGIN
	DECLARE @MSG VARCHAR(2000) = ''
	DECLARE @ERROR INT = 0
	DECLARE @SUCCESS BIT = 1
	-- 产品ITEMID
	DECLARE @ITEMID INT = 0
	-- 是否需要创建新的版本
	DECLARE @CREATENEW BIT = 0
	--MBOM新版本的ID。
	DECLARE @MBOM_VER_ID INT
	--MBOM版本号
	DECLARE @MBOMVER INT

	-- 获取产品ITEMID
	SELECT @ITEMID = CN_ID FROM TN_80_APP_0000_ITEM WHERE CN_CODE = @CODE 

	-- 获取最新的版本号
	SET @MBOMVER = (SELECT ISNULL(MAX(CN_VER),0)+1 FROM TN_80_APP_0040_MBOM_VER AS VER WHERE VER.CN_DT_TOERP = 2 AND VER.CN_ITEM_CODE = @CODE)
	-- 如果有之前的数据，说明之前创建过版本，只不过被禁用了
	IF EXISTS ( SELECT 1 FROM TN_80_APP_0040_MBOM_VER AS MBOMV WHERE MBOMV.CN_CODE = @CODE )
	BEGIN
		-- 获取最新版本版本号
		SELECT TOP 1 @MBOM_VER_ID = CN_ID
		FROM TN_80_APP_0040_MBOM_VER
		WHERE CN_CODE = @CODE 
		AND CN_SYS_STATUS = 'Y'
		AND CN_IS_TOERP <> 2
		ORDER BY CN_DT_CREATE DESC
		IF @MBOM_VER_ID IS NULL
		BEGIN
			-- 没有正在使用的版本，所有历史版本都已发布
		SET @MSG = '当前产品为已被转批发布，系统将为您创建一个新的MBOM版本。点击“确定”后继续。'
			SET @CREATENEW = 1
		END
	END
	ELSE
	BEGIN
		--没有历史版本，是新版本
		-- 无历史MBOM信息，为首次转批。
		SET @MSG = '当前产品为首次转批，系统将为您创建第一个MBOM版本。点击“确定”后继续。'
		SET @CREATENEW = 1
	END

	-- 开启事务
	BEGIN TRANSACTION
	
	-- 若是需要创建新版本
	IF @CREATENEW = 1
	BEGIN 
		-- 创建新版本
		INSERT INTO [dbo].[TN_80_APP_0040_MBOM_VER]
			([CN_CODE]
			,[CN_ITEM_CODE]
			,[CN_NAME]
			,[CN_TYPE]
			,[CN_VER]
			,[CN_SYS_STATUS]
			,[CN_CREATE_BY]
			,[CN_CREATE_NAME]
			,[CN_CREATE_LOGIN])
		SELECT TOP 1
			 [CN_CODE]
			,[CN_ITEM_CODE]
			,[CN_NAME]
			,'产品'
			,@MBOMVER
			,'Y'		-- SYS_STATUS
			,@USERID
			,@NAME
			,@LOGIN
		FROM [dbo].[TN_80_APP_0030_PBOM_VER] as PBOM_VER
	    WHERE PBOM_VER.CN_CODE = @CODE AND PBOM_VER.CN_SYS_STATUS = 'Y'
	    ORDER BY PBOM_VER.CN_DT_CREATE DESC
		SET @ERROR = @ERROR + @@ERROR

		-- 获取MBOM_VER表ID
		SET @MBOM_VER_ID = SCOPE_IDENTITY()

		-- 创建新版本 写入【MBOM_VER_HLINK】 
		INSERT INTO [dbo].[TN_80_APP_0040_MBOM_VER_HLINK]
           ([CN_ID]							-- mbom_ver_id
           ,[CN_COMPONENT_CLASS_ID]			-- pbom_ver 所属的 class_id
           ,[CN_COMPONENT_OBJECT_ID]		-- pbom_ver 的 id
           ,[CN_COMPONENT_OBJECT_VER_ID]	-- 
           ,[CN_COMPONENT_OBJECT_VERSION]	-- 
           ,[CN_CREATE_BY]
           ,[CN_CREATE_NAME]
           ,[CN_CREATE_LOGIN]
           ,[CN_SYS_STATUS]
		   -- 必填字段
		   ,[CN_F_QUANTITY]
		   ,[CN_UNIT]
		   ,[CN_DISPLAYNAME] )
		SELECT TOP 1
			@MBOM_VER_ID
           ,121
           ,PBOM_VER.CN_ID
           ,-1
		   ,PBOM_VER.CN_VER
		   ,@USERID
		   ,@NAME
		   ,@LOGIN
		   ,'Y'
		   -- 必填字段
		   ,0
		   ,''
		   ,''
		FROM [dbo].[TN_80_APP_0030_PBOM_VER] as PBOM_VER
	    WHERE 
		PBOM_VER.CN_CODE = @CODE AND
		PBOM_VER.CN_SYS_STATUS = 'Y'
		ORDER BY CN_DT_CREATE DESC
		SET @ERROR = @ERROR + @@ERROR;
		
		-- 获取所有PBOM，复制一份到MBOM_HLINK表中
		;WITH X AS 
		(
			SELECT
			CAST(@ITEMID AS VARCHAR(200)) AS PARENT_LINK,
			CAST(CAST(@ITEMID AS VARCHAR(200)) + ',' + CAST(ITEM.CN_ID AS VARCHAR(200)) AS VARCHAR(200)) AS LINK, 
			@ITEMID AS PARENT_ID,
			ITEM.CN_ID AS CN_ITEMID,
			ITEM.CN_ITEM_CODE,
			ITEM.CN_CODE,
			ITEM.CN_NAME,

			BOMHLINK.CN_B_IS_ASSEMBLY AS IS_ASSEMBLY,
			BOMHLINK.CN_HLINK_ID,
			CASE BOMHLINK.CN_STATUS_MBOM WHEN 'N' THEN 0 ELSE 1 END AS ISLINKED,
			CAST(BOMHLINK.CN_STATUS_PBOM AS VARCHAR) AS STATUS_PBOM
			FROM 
			TN_80_APP_0025_BOM AS BOM
			INNER JOIN TN_80_APP_0025_BOM_HLINK AS BOMHLINK ON BOM.CN_ID = BOMHLINK.CN_BOM_ID
			AND (CN_STATUS_PBOM = 'Y' OR (CN_STATUS_PBOM = '' AND CN_STATUS_MBOM <> 'N' ))
			AND BOMHLINK.CN_SYS_STATUS <> 'N'
			INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON BOMHLINK.CN_COMPONENT_OBJECT_ID = ITEM.CN_ID
			WHERE 
			BOM.CN_CODE = @CODE

			UNION ALL

			SELECT
			CAST(ISNULL(X.PARENT_LINK+',','')+ CAST(X.[CN_ITEMID] AS VARCHAR(200)) AS VARCHAR(200)),
			CAST(CAST(X.[LINK] AS VARCHAR(200)) +',' + CAST(ITEM.CN_ID AS VARCHAR(200)) AS VARCHAR(200)), 
			X.CN_ITEMID AS PARENT_ID,
			ITEM.CN_ID AS CN_ITEMID,
			ITEM.CN_ITEM_CODE,
			ITEM.CN_CODE,
			ITEM.CN_NAME, 
			BOMHLINK.CN_B_IS_ASSEMBLY,
			BOMHLINK.CN_HLINK_ID,
			CASE BOMHLINK.CN_STATUS_MBOM WHEN 'N' THEN 0 ELSE 1 END AS ISLINKED,
			-- 如果上级的PBOM等于空，那么沿用上级
			CAST(CASE X.STATUS_PBOM WHEN '' THEN '' ELSE BOMHLINK.CN_STATUS_PBOM END AS VARCHAR)
			FROM 
			TN_80_APP_0025_BOM AS BOM
			INNER JOIN TN_80_APP_0025_BOM_HLINK AS BOMHLINK ON BOM.CN_ID = BOMHLINK.CN_BOM_ID
			INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON BOMHLINK.CN_COMPONENT_OBJECT_ID = ITEM.CN_ID
			AND (CN_STATUS_PBOM = 'Y' OR (CN_STATUS_PBOM = '' AND CN_STATUS_MBOM <> 'N' ))
			AND BOMHLINK.CN_SYS_STATUS <> 'N'
			INNER JOIN X ON	BOM.CN_CODE = X.CN_CODE AND X.IS_ASSEMBLY = 1
		)
		INSERT INTO TN_80_APP_0040_MBOM_HLINK
		(
			CN_BOM_HLINK_ID
			,CN_PARENT_LINK
			,CN_LINK
			,CN_ITEMID
			,CN_ISLINKED
			,CN_TYPEID
			,CN_VER_ID
			,CN_CREATE_BY
			,CN_CREATE_NAME
			,CN_CREATE_LOGIN
		)
		SELECT 
			CN_HLINK_ID
			,PARENT_LINK
			,LINK
			,CN_ITEMID
			,X.ISLINKED
			,CASE X.STATUS_PBOM WHEN '' THEN -1 ELSE 0 END
			,@MBOM_VER_ID
			,@USERID
			,@NAME
			,@LOGIN
		FROM X
		ORDER BY CN_HLINK_ID
		OPTION (MAXRECURSION 32);
		SET @ERROR = @ERROR + @@ERROR
		
		-- --------------- --
		-- 清除重复数据。
		-- --------------- --
		SELECT 
		CN_LINK, 
		MIN(CN_ID) AS CN_ID
		INTO #TMP_MULTIPLE 
		FROM TN_80_APP_0040_MBOM_HLINK 
		WHERE CN_VER_ID = @MBOM_VER_ID
		GROUP BY CN_LINK
		HAVING COUNT(1) > 1
		
		DELETE M 
		FROM TN_80_APP_0040_MBOM_HLINK AS M
		INNER JOIN #TMP_MULTIPLE AS T ON T.CN_LINK = M.CN_LINK AND M.CN_ID <> T.CN_ID
		WHERE M.CN_VER_ID = @MBOM_VER_ID
		
		-- -------------------- --
		-- 获取所有虚件合件。
		-- -------------------- --
		
		-- 根据ITEMID找到合件
		SELECT DISTINCT ITEMH.CN_ID
		INTO #TMP_COMBINES
		FROM
		TN_80_APP_0040_MBOM_HLINK AS MH
		INNER JOIN TN_80_APP_0000_ITEM_HLINK AS ITEMH ON ITEMH.CN_ID = MH.CN_ITEMID
		AND ITEMH.CN_COMPONENT_CLASS_ID = 105
		AND ITEMH.CN_COMPONENT_OBJECT_ID = 13
		AND ITEMH.CN_SYS_STATUS = 'Y'
		WHERE
		CN_VER_ID = @MBOM_VER_ID
		-- 找到合件，更改TYPEID
		UPDATE MH
		SET
		--0：普通件、1：虚件、2：合件
		CN_TYPEID = 2,
		CN_TYPENAME = '合件',
		MH.CN_DESC = '初始化时为合件'
		FROM
		TN_80_APP_0040_MBOM_HLINK AS MH
		INNER JOIN #TMP_COMBINES AS COMBINE ON CN_ITEMID = COMBINE.CN_ID
		WHERE
		CN_VER_ID = @MBOM_VER_ID 
		-- 找到合件子级
		UPDATE T
		SET
		--0：普通件、1：虚件、2：合件
		CN_TYPEID = 2,
		CN_TYPENAME = '合件',
		CN_DESC = '初始化时为合件子级'
		FROM
		TN_80_APP_0040_MBOM_HLINK AS MH
		INNER JOIN TN_80_APP_0040_MBOM_HLINK AS T ON CHARINDEX(','+MH.CN_LINK+',', ','+T.CN_LINK+',') > 0
		WHERE
		MH.CN_VER_ID = @MBOM_VER_ID 
		AND T.CN_VER_ID = @MBOM_VER_ID
		AND MH.CN_TYPEID = 2
		AND T.CN_TYPEID = 0
		-- 根据ITEMID找到虚件
		SELECT DISTINCT ITEMH.CN_ID
		INTO #TMP_VIRTUALS
		FROM TN_80_APP_0040_MBOM_HLINK AS MH
		INNER JOIN TN_80_APP_0000_ITEM_HLINK AS ITEMH ON ITEMH.CN_ID = MH.CN_ITEMID
		AND ITEMH.CN_COMPONENT_CLASS_ID = 105
		AND ITEMH.CN_COMPONENT_OBJECT_ID = 12
		AND ITEMH.CN_SYS_STATUS = 'Y'
		WHERE 
		CN_VER_ID = @MBOM_VER_ID
		
		UPDATE MH
		SET 
		MH.CN_ISSHOW = 0,
		MH.CN_DESC = '初始化时为虚件'
		FROM
		TN_80_APP_0040_MBOM_HLINK AS MH 
		INNER JOIN #TMP_VIRTUALS AS T ON CN_ITEMID = T.CN_ID
		WHERE CN_VER_ID = @MBOM_VER_ID
		/*
		-- 虚件设置后如果有引用是不会在LINK中有体现的，这里又需要获取到虚件的子级。
		-- 可以先获取原件下级列表，因为引用虚件会把虚件第一级子级引用。
		-- 获取到所有虚件下级后，通过在MBOM_HLINK表中查找所有含有这些件且TYPEID等于-1的件（所有不属于原PBOM的件TYPEID都是-1）。
		-- 获取虚件后半段LINK
		*/
		-- 获取虚件所有子级ID，用这些子级ID再连MBOMHLINK表查询所有TYPE=-1的，就一定是虚件子级了
		SELECT 
			MBOMHLINK.CN_ITEMID AS ITEMID
			,VIRTUAL.CN_ID AS PARENTID
		INTO #TMP_VIRTUAL_CHILDREN
		FROM TN_80_APP_0040_MBOM_HLINK AS MBOMHLINK
		CROSS JOIN #TMP_VIRTUALS AS VIRTUAL
		WHERE CN_VER_ID = @MBOM_VER_ID
		AND CHARINDEX(','+CAST(VIRTUAL.CN_ID AS VARCHAR)+',', ','+MBOMHLINK.CN_PARENT_LINK+',') > 0
		
		-- 更新虚件属性值
		UPDATE MH
		SET
		--0：普通件、1：虚件、2：合件、3：离散包、4：包装返厂、5：烤漆合件
		MH.CN_TYPEID = 1,
		MH.CN_TYPENAME = '虚件',
		MH.CN_DESC = '初始化时为虚件子级，虚件父级：'+CAST(T.PARENTID AS VARCHAR)
		FROM
		TN_80_APP_0040_MBOM_HLINK AS MH
		INNER JOIN #TMP_VIRTUAL_CHILDREN AS T ON CHARINDEX(','+CAST(T.ITEMID AS VARCHAR)+',', ','+MH.CN_LINK+',') > 0
		WHERE 
		MH.CN_VER_ID = @MBOM_VER_ID
		AND MH.CN_TYPEID = -1
		-- 添加虚件父级
		INSERT INTO TN_80_APP_0040_MBOM_HLINK
		(
			 CN_BOM_HLINK_ID
			,CN_PARENT_LINK
			,CN_LINK
			,CN_ITEMID
			,CN_SYS_STATUS
			,CN_VER_ID
			,CN_ISSHOW
			,CN_TYPEID
			,CN_TYPENAME 
			,CN_CREATE_BY
			,CN_CREATE_NAME
			,CN_CREATE_LOGIN
			,CN_DESC
		)
		SELECT 
			 CN_BOM_HLINK_ID
			,CN_PARENT_LINK
			,CN_LINK
			,CN_ITEMID
			,'Y'
			,CN_VER_ID
			,0
			,1
			,'虚件'
			,CN_CREATE_BY
			,CN_CREATE_NAME
			,CN_CREATE_LOGIN
			,'从原普通件复制而来的虚件'
		FROM
		TN_80_APP_0040_MBOM_HLINK AS MH 
		INNER JOIN #TMP_VIRTUALS AS T ON T.CN_ID = MH.CN_ITEMID
		AND MH.CN_VER_ID = @MBOM_VER_ID
	END

	IF @ERROR = 0
	BEGIN
		COMMIT TRANSACTION
	END
	ELSE
	BEGIN
		SET @MSG = '执行过程出错，请联系管理员'
		SET @SUCCESS = 0
		ROLLBACK TRANSACTION
	END

	SELECT @MSG AS MSG, @SUCCESS AS SUCCESS
END;
GO
