ALTER FUNCTION GETMBOMVER
(
@PROD_ITEMCODE VARCHAR(32)
)
RETURNS @TABLE TABLE( CN_GUID UNIQUEIDENTIFIER, CN_DT_EFFECTIVE DATE, CN_DT_EXPIRY DATE )
AS
BEGIN
	DECLARE @DATE DATETIME = GETDATE()
	INSERT INTO @TABLE
	SELECT TOP 1 CN_GUID, CN_DT_EFFECTIVE, CN_DT_EXPIRY
	FROM TN_80_APP_0040_MBOM_VER 
	WHERE
		CN_ITEM_CODE = @PROD_ITEMCODE 
		AND CN_DT_EFFECTIVE < @DATE
		AND CN_DT_EXPIRY > @DATE 
		AND CN_IS_TOERP < 2
		ORDER BY CN_DT_CREATE DESC
	RETURN
END