ALTER PROCEDURE [dbo].[PROC_COMPOSITE_ITEM_SET]
(
	@PROD_ITEMCODE VARCHAR(32),
	@GUIDS VARCHAR(2000),
	@TYPE VARCHAR(10),
	@ITEMTYPE VARCHAR(30),
	@USERID INT,
	@NAME VARCHAR(20),
	@LOGIN VARCHAR(20)
)
AS
BEGIN
	DECLARE @MSG VARCHAR(200) = ''
	DECLARE @ERROR INT = 0
	
	DECLARE @ITEMP1IDX INT = 0
	-- 新物料代号基础值，如果是烤漆件，则是自身物料号，否则为直接父级的物料号。
	DECLARE @ITEMCODE_BASE VARCHAR(32)
	-- 新的物料名称，如果是烤漆件，则是自身物料名称，否则为直接父级的物料名称。
	DECLARE @NAME_NEW VARCHAR(200)
	-- 新物料代号前缀
	DECLARE @ITEMCODE_PRE VARCHAR(32)
	-- 新的物料代号。以新物料代号基础值+后缀拼接
	DECLARE @ITEMCODE_NEW VARCHAR(32)
	
	DECLARE @DATE DATETIME = GETDATE()
	DECLARE @GUID UNIQUEIDENTIFIER
	DECLARE @TBL_GUID TABLE( CN_GUID UNIQUEIDENTIFIER )
	
	INSERT INTO @TBL_GUID
	SELECT ID FROM dbo.SPLIT(@GUIDS,DEFAULT)
	
	DECLARE @ITEMCOUNT INT
	
	SELECT @ITEMCOUNT = COUNT(1) FROM @TBL_GUID
	
	IF @ITEMCOUNT = 1
	BEGIN
		SET @GUID = @GUIDS
	END
	
	-- TYPE 类型说明：
	--	K：烤漆合件
	--	H：普通合件
	--	L：离散包；多个散件发送给供应商时，需要给出一个“离散包”的料号
	--	B：包塑返厂；在我厂焊接成后，发供应商加工包塑后再返回我厂
	IF LEN(@PROD_ITEMCODE) = 0 OR LEN(@GUIDS) = 0 OR @TYPE NOT IN ('K','H','L','B')
	BEGIN
		SET @MSG = '参数传递错误，请联系管理员'
		RAISERROR( @MSG, 15, 1 )
		RETURN
	END
	
	-- 获取版本
	DECLARE @GUID_VER UNIQUEIDENTIFIER
	DECLARE @DTEF DATE, @DTEX DATE
	SELECT 
	  @GUID_VER = CN_GUID
	, @DTEF = CN_DT_EFFECTIVE
	, @DTEX = CN_DT_EXPIRY 
	FROM dbo.GETMBOMVER(@PROD_ITEMCODE) 
	IF @GUID_VER IS NULL
	BEGIN
		SET @MSG = '版本信息丢失，无法继续操作。请联系管理员。' 
		RAISERROR('%s',15,1, @MSG)
		RETURN
	END
	
	-- 获取新物料代号基础值和新物料名称
	IF @TYPE = 'H' OR @TYPE = 'L' OR @TYPE = 'B'
	BEGIN
		SELECT @ITEMCODE_BASE = CN_ITEM_CODE,@NAME_NEW = CN_NAME 
		FROM TN_80_APP_0040_MBOM_HLINK AS MBOM
		INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON ITEM.CN_ITEM_CODE = MBOM.CN_ITEMCODE_PARENT
		WHERE 
			MBOM.CN_GUID = ( SELECT TOP 1 T.[CN_GUID] FROM @TBL_GUID AS T )
			AND MBOM.CN_DT_EFFECTIVE_PBOM < @DATE
			AND MBOM.CN_DT_EXPIRY_PBOM > @DATE
			AND MBOM.CN_DT_EXPIRY > @DATE 
	END
	ELSE IF @TYPE = 'K'
	BEGIN
		SELECT @ITEMCODE_BASE = ITEM.CN_ITEM_CODE,@NAME_NEW = ITEM.CN_NAME 
		FROM TN_80_APP_0040_MBOM_HLINK AS MBOM
		INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON ITEM.CN_ITEM_CODE = MBOM.CN_ITEMCODE
		WHERE MBOM.CN_GUID = @GUID
		AND MBOM.CN_DT_EFFECTIVE_PBOM < @DATE
		AND MBOM.CN_DT_EXPIRY_PBOM > @DATE
		AND MBOM.CN_DT_EXPIRY > @DATE
	END

	SET @ITEMP1IDX = PATINDEX('%K[1-9]P1', @ITEMCODE_BASE)
	IF @ITEMP1IDX = 0
	BEGIN
		SET @ITEMP1IDX = CHARINDEX('KP1', @ITEMCODE_BASE)
	END
	IF @ITEMP1IDX = 0
	BEGIN
		SET @ITEMP1IDX = CHARINDEX('P1', @ITEMCODE_BASE)
	END
	IF @ITEMP1IDX <= 0
	BEGIN
		SET @MSG = '创建合件失败：选择的产品名称不含[P1]，无法作为合件。'
		RAISERROR(@MSG, 15, 1)
		RETURN
	END
	SET @ITEMCODE_PRE = SUBSTRING(@ITEMCODE_BASE, 1, @ITEMP1IDX - 1)
	
	-- 穷举可用的合件名称
	DECLARE @TMP INT = 9
	DECLARE @AVAILABLENAMES TABLE ( CODE VARCHAR(200) )
	WHILE @TMP <> 0
	BEGIN
		INSERT INTO @AVAILABLENAMES VALUES ( @ITEMCODE_PRE + 'K' + CAST(@TMP AS CHAR(1)) + 'P1' )
		SET @TMP = @TMP - 1
	END
	
	-- 从可用的合件名称中删除已经使用的
	DELETE NAMES
	FROM @AVAILABLENAMES AS NAMES
	INNER JOIN TN_80_APP_0040_MBOM_HLINK AS MBOM ON MBOM.CN_ITEMCODE = NAMES.CODE
	AND MBOM.CN_DT_EFFECTIVE_PBOM < @DATE
	AND MBOM.CN_DT_EXPIRY_PBOM > @DATE
	AND MBOM.CN_DT_EXPIRY > @DATE 
	
	-- 计算【新物料号】
	IF @TYPE = 'H'
	BEGIN
		-- 普通合件
		SELECT @ITEMCODE_NEW = MIN(CODE) FROM @AVAILABLENAMES
		-- 没有可以使用的物料号
		IF @ITEMCODE_NEW IS NULL
		BEGIN
			SET @MSG = '创建合件失败：所创建普通合件数量已达上限。'
			RAISERROR(@MSG, 15, 1)
			RETURN
		END
	END
	ELSE
	BEGIN
		SET @ITEMCODE_NEW  = @ITEMCODE_PRE + 'KP1'
	END
	
	
	DECLARE @CODE VARCHAR(32)
	DECLARE @PARENTCODE VARCHAR(32)
	DECLARE @QUANTITY FLOAT = 1
	-- 获取选中件父级CODE
	SELECT TOP 1 @PARENTCODE = MBOM.CN_ITEMCODE_PARENT
	FROM TN_80_APP_0040_MBOM_HLINK AS MBOM
	WHERE MBOM.CN_GUID = ( SELECT TOP 1 CN_GUID FROM @TBL_GUID )
	AND MBOM.CN_DT_EFFECTIVE_PBOM < @DATE
	AND MBOM.CN_DT_EXPIRY_PBOM > @DATE
	AND MBOM.CN_DT_EXPIRY > @DATE 

	-- 获取数量
	IF @ITEMCOUNT = 1
	BEGIN
		SELECT @QUANTITY = CN_QUANTITY
		FROM TN_80_APP_0040_MBOM_HLINK AS MBOM
		WHERE MBOM.CN_GUID = @GUID
		AND MBOM.CN_DT_EFFECTIVE_PBOM < @DATE
		AND MBOM.CN_DT_EXPIRY_PBOM > @DATE
		AND MBOM.CN_DT_EXPIRY > @DATE 
		-- 获取选中件的CODE
		SELECT @CODE = CN_ITEMCODE
		FROM TN_80_APP_0040_MBOM_HLINK
		WHERE CN_GUID = @GUID
		AND CN_DT_EFFECTIVE_PBOM < @DATE
		AND CN_DT_EXPIRY_PBOM > @DATE
		AND CN_DT_EXPIRY > @DATE 
		
		-- 如果创建的CODE与选中的CODE相同，则不允许创建合件 
		IF @ITEMCODE_NEW = @CODE
		BEGIN
			SET @MSG = '创建合件失败：合件代号重复。'
			RAISERROR(@MSG, 15, 1)
			RETURN
		END
		IF @PARENTCODE = @ITEMCODE_NEW
		BEGIN
			SET @MSG = '创建合件失败：合件代号重复。'
			RAISERROR(@MSG, 15, 1)
			RETURN
		END
	END
	
	
	-- 开始事务
	BEGIN TRANSACTION
	
	IF NOT EXISTS (
		SELECT 1 FROM TN_80_APP_0000_ITEM
		WHERE CN_ITEM_CODE = @ITEMCODE_NEW
	)
	BEGIN
		DECLARE @ITEMID_NEW INT
		-- 添加ITEM表记录
		INSERT INTO [DBO].[TN_80_APP_0000_ITEM] ([CN_CODE],[CN_ITEM_CODE],[CN_NAME],[CN_CREATE_BY],[CN_CREATE_NAME],[CN_CREATE_LOGIN] ,[CN_SYS_STATUS])
		SELECT @ITEMCODE_NEW, @ITEMCODE_NEW, @NAME_NEW, @USERID, @NAME, @LOGIN, 'Y'
		SET @ERROR = @ERROR + @@ERROR
		SET @ITEMID_NEW = SCOPE_IDENTITY()
		
		-- 添加BOM表记录
		INSERT INTO [DBO].[TN_80_APP_0025_BOM] ([CN_CODE],[CN_ITEM_CODE],[CN_TYPE], [CN_NAME] ,[CN_CREATE_BY] ,[CN_CREATE_NAME] ,[CN_CREATE_LOGIN])
		SELECT @ITEMCODE_NEW ,@ITEMCODE_NEW,'MBOM合件' ,@NAME_NEW ,@USERID  ,@NAME ,@LOGIN
		SET @ERROR = @ERROR + @@ERROR

		-- 添加ITEMHLINK表记录。添加属性
		-- 获取ITEMTYPE
		SELECT ID AS TYPEID INTO #TMP_ITEMTYPES
		FROM DBO.SPLIT(@ITEMTYPE,DEFAULT) 

		INSERT INTO [TN_80_APP_0000_ITEM_HLINK]
           ([CN_ID]
           ,[CN_COMPONENT_CLASS_ID]
           ,[CN_COMPONENT_OBJECT_ID]
           ,[CN_DISPLAYNAME]
           ,[CN_SYS_STATUS]
           ,[CN_DT_CREATE]
           ,[CN_DT_EFFECTIVE]
           ,[CN_DT_EXPIRY]
           ,[CN_DT_TOERP]
           ,[CN_CREATE_BY]
           ,[CN_CREATE_NAME]
           ,[CN_CREATE_LOGIN])
		SELECT
           @ITEMID_NEW
           ,105
           ,ITEMTYPE.CN_ID
           ,ITEMTYPE.CN_NAME
           ,'Y'
           ,@DATE
           ,@DATE
           ,'2100-01-01'
           ,'2100-01-01'
           ,@USERID
           ,@NAME
           ,@LOGIN
		FROM TN_50_DIC_0005_ITEMTYPE AS ITEMTYPE
		INNER JOIN #TMP_ITEMTYPES ON TYPEID = ITEMTYPE.CN_ID
	END
	
	DECLARE @GUID_COMBINE_SELECETD UNIQUEIDENTIFIER
	DECLARE @GUID_NEW UNIQUEIDENTIFIER = NEWID()
	
	CREATE TABLE #TBL_SELECTED
	(
		 CN_GUID UNIQUEIDENTIFIER
		,CN_GUID_LINK UNIQUEIDENTIFIER
		,CN_ITEMCODE_PARENT VARCHAR(32)
		,CN_ITEMCODE VARCHAR(32)
		,CN_QUANTITY FLOAT
		,CN_DISPLAYNAME VARCHAR(80)
		,CN_ORDER INT
		,CN_UNIT VARCHAR(10)
		,CN_ISBORROW BIT
		,CN_DT_EFFECTIVE DATETIME
		,CN_GUID_EF UNIQUEIDENTIFIER
		,CN_IS_TOERP SMALLINT
		,CN_CREATE_BY INT
		,CN_CREATE_NAME VARCHAR(32)
		,CN_CREATE_LOGIN VARCHAR(32)
	)
	
	IF @ITEMCOUNT = 1
	BEGIN
		
		-- 判断是否存在【新建合件】对【选中件】的引用
		SELECT @GUID_COMBINE_SELECETD = MBOM.CN_GUID
		FROM TN_80_APP_0040_MBOM_HLINK AS MBOM
		WHERE 
		CN_ITEMCODE_PARENT = @ITEMCODE_NEW
		AND CN_ITEMCODE = @CODE
		AND CN_DT_EFFECTIVE_PBOM < @DATE
		AND CN_DT_EXPIRY_PBOM > @DATE
		AND CN_DT_EXPIRY > @DATE 
		
		IF @GUID_COMBINE_SELECETD IS NULL
		BEGIN
			SET @GUID_COMBINE_SELECETD = NEWID()
			-- 添加【新建合件】对【选中件】的引用
			INSERT INTO #TBL_SELECTED
			SELECT
				 @GUID_COMBINE_SELECETD AS CN_GUID
				,NULL AS CN_GUID_LINK
				,@ITEMCODE_NEW AS CN_ITEMCODE_PARENT
				,MBOM.CN_ITEMCODE
				,1 AS CN_QUANTITY
				,MBOM.CN_DISPLAYNAME
				,MBOM.CN_ORDER
				,MBOM.CN_UNIT
				,MBOM.CN_ISBORROW
				,@DTEF AS CN_DT_EFFECTIVE
				,@GUID_VER AS CN_GUID_EF
				,0 AS CN_IS_TOERP
				,@USERID AS CN_CREATE_BY
				,@NAME AS CN_CREATE_NAME
				,@LOGIN AS CN_CREATE_LOGIN
			FROM TN_80_APP_0040_MBOM_HLINK AS MBOM
			INNER JOIN @TBL_GUID AS T ON T.CN_GUID = MBOM.CN_GUID
			WHERE
				MBOM.CN_DT_EFFECTIVE_PBOM < @DATE
				AND MBOM.CN_DT_EXPIRY_PBOM > @DATE
				AND MBOM.CN_DT_EXPIRY > @DATE 
		END
	END
	ELSE
	BEGIN
		
		-- 添加【新建合件】对【选中件】的引用
		INSERT INTO #TBL_SELECTED
		SELECT
			 NEWID() AS CN_GUID
			,MBOM.CN_GUID AS CN_GUID_LINK
			,@ITEMCODE_NEW AS CN_ITEMCODE_PARENT
			,MBOM.CN_ITEMCODE
			,CASE @ITEMCOUNT WHEN 1 THEN 1 ELSE MBOM.CN_QUANTITY END AS CN_QUANTITY
			,MBOM.CN_DISPLAYNAME
			,MBOM.CN_ORDER
			,MBOM.CN_UNIT
			,MBOM.CN_ISBORROW
			,@DTEF AS CN_DT_EFFECTIVE
			,@GUID_VER AS CN_GUID_EF
			,0 AS CN_IS_TOERP
			,@USERID AS CN_CREATE_BY
			,@NAME AS CN_CREATE_NAME
			,@LOGIN AS CN_CREATE_LOGIN
		FROM TN_80_APP_0040_MBOM_HLINK AS MBOM
		INNER JOIN @TBL_GUID AS T ON T.CN_GUID = MBOM.CN_GUID
		WHERE
			MBOM.CN_DT_EFFECTIVE_PBOM < @DATE
			AND MBOM.CN_DT_EXPIRY_PBOM > @DATE
			AND MBOM.CN_DT_EXPIRY > @DATE 
	END
	
	-- 添加【选中件父级】对【新建合件】的引用
	INSERT INTO TN_80_APP_0040_MBOM_HLINK
	(
		 [CN_GUID]
		,[CN_GUID_LINK]
		,[CN_GUID_EF]
		,[CN_ITEMCODE_PARENT]
		,[CN_ITEMCODE]
		,[CN_QUANTITY]
		,[CN_DISPLAYNAME]
		,[CN_ORDER]
		,[CN_UNIT]
		,[CN_ISBORROW]
		,[CN_DT_EFFECTIVE]
		,[CN_IS_TOERP]
		,[CN_CREATE_BY]
		,[CN_CREATE_NAME]
		,[CN_CREATE_LOGIN]
	)
	SELECT
		 @GUID_NEW
		,CASE @ITEMCOUNT WHEN 1 THEN @GUID ELSE NULL END AS CN_GUID
		,@GUID_VER
		,@PARENTCODE
		,@ITEMCODE_NEW
		,@QUANTITY
		,@ITEMCODE_NEW + ' ' + @NAME_NEW
		,0
		,'件'
		,0
		,@DTEF
		,0
		,@USERID
		,@NAME
		,@LOGIN
	SET @ERROR = @ERROR + @@ERROR 
	
	INSERT INTO TN_80_APP_0040_MBOM_HLINK
	(
		 [CN_GUID]
		,[CN_GUID_LINK]
		,[CN_GUID_EF]
		,[CN_ITEMCODE_PARENT]
		,[CN_ITEMCODE]
		,[CN_QUANTITY]
		,[CN_DISPLAYNAME]
		,[CN_ORDER]
		,[CN_UNIT]
		,[CN_ISBORROW]
		,[CN_DT_EFFECTIVE]
		,[CN_IS_TOERP]
		,[CN_CREATE_BY]
		,[CN_CREATE_NAME]
		,[CN_CREATE_LOGIN]
	)
	SELECT 
		 [CN_GUID]
		,[CN_GUID_LINK]
		,[CN_GUID_EF]
		,[CN_ITEMCODE_PARENT]
		,[CN_ITEMCODE]
		,[CN_QUANTITY]
		,[CN_DISPLAYNAME]
		,[CN_ORDER]
		,[CN_UNIT]
		,[CN_ISBORROW]
		,[CN_DT_EFFECTIVE]
		,[CN_IS_TOERP]
		,[CN_CREATE_BY]
		,[CN_CREATE_NAME]
		,[CN_CREATE_LOGIN]
	FROM #TBL_SELECTED
	SET @ERROR = @ERROR + @@ERROR

	-- 添加新建合件的合件属性
	INSERT INTO [dbo].[TN_80_APP_0040_MBOM_VER_HLINK]
		([CN_GUID_VER]
		,[CN_GUID]
		,[CN_STATUS]
		,[CN_TYPE]
		,[CN_DT_CREATE]
		,[CN_DESC]
		,[CN_CREATE_BY]
		,[CN_CREATE_NAME]
		,[CN_CREATE_LOGIN])
     VALUES
		(@GUID_VER
		,@GUID_NEW
		,'Y'
		,'C'
		,@DATE
		,@NAME + ' 新建合件['+@ITEMCODE_NEW+']'
		,@USERID
		,@NAME
		,@LOGIN)
	-- 失效原件
	UPDATE MBOM
	SET 
		 CN_GUID_EX = @GUID_VER
		,CN_DT_EXPIRY = @DATE
		,CN_DESC = @NAME + ' 以此为基准新建合件['+@ITEMCODE_NEW+']，失效原件'
	FROM TN_80_APP_0040_MBOM_HLINK AS MBOM
	INNER JOIN @TBL_GUID AS T ON T.CN_GUID = MBOM.CN_GUID
	WHERE
		CN_DT_EFFECTIVE_PBOM < @DATE
		AND CN_DT_EXPIRY_PBOM > @DATE
		AND CN_DT_EFFECTIVE < @DATE
		AND CN_DT_EXPIRY > @DATE
	-- 更新选中件的合件ITEMCODE
	UPDATE MBOM
	SET CN_ITEMCODE_COMBINE = @ITEMCODE_NEW
	FROM TN_80_APP_0040_MBOM_HLINK AS MBOM
	INNER JOIN @TBL_GUID AS G ON G.CN_GUID = MBOM.CN_GUID
	
	IF @ERROR <> 0
	BEGIN
		SET @MSG = '新建合件失败：执行过程中出现错误，请联系管理员'
		RAISERROR(@MSG, 15, 1)
		ROLLBACK TRANSACTION
	END
	ELSE
	BEGIN
		SET @MSG = @MSG + '创建合件成功！'
		SELECT @MSG AS MSG, CAST(1 AS BIT) AS SUCCESS
		COMMIT TRANSACTION
	END
END;
