ALTER PROCEDURE [dbo].[PROC_GET_PRODUCT_ITEM_BY_CATEGORYNAME]
(
@PROD_ITEMCODE NCHAR(24),
@CATEGORYNAME NCHAR(30) 
)
AS
BEGIN 
	DECLARE @DATE DATETIME = GETDATE()
	;WITH X AS 
	(
		SELECT
		ITEM.CN_ID AS ITEMID,
		ITEM.CN_ITEM_CODE AS ITEM_CODE,
		ITEM.CN_CODE AS CODE,
		ITEM.CN_NAME AS NAME,

		PBOMHLINK.CN_ISBORROW AS ISBORROW
		FROM 
		TN_80_APP_0030_PBOM_HLINK AS PBOMHLINK
		INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON PBOMHLINK.CN_ITEMCODE = ITEM.CN_ITEM_CODE
		WHERE 
		PBOMHLINK.CN_ITEMCODE_PARENT = @PROD_ITEMCODE
		AND PBOMHLINK.CN_DT_EFFECTIVE < @DATE
		AND PBOMHLINK.CN_DT_EXPIRY > @DATE

		UNION ALL

		SELECT
		ITEM.CN_ID AS CN_ITEMID,
		ITEM.CN_ITEM_CODE,
		ITEM.CN_CODE,
		ITEM.CN_NAME,

		PBOMHLINK.CN_ISBORROW
		FROM
		TN_80_APP_0030_PBOM_HLINK AS PBOMHLINK
		INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON PBOMHLINK.CN_ITEMCODE = ITEM.CN_ITEM_CODE
		INNER JOIN X ON X.ITEM_CODE = PBOMHLINK.CN_ITEMCODE_PARENT
		WHERE
		PBOMHLINK.CN_DT_EFFECTIVE < @DATE
		AND PBOMHLINK.CN_DT_EXPIRY > @DATE

	)
	SELECT 
	* 
	INTO #TMP
	FROM 
	(
	SELECT 
	CN_ID AS ITEMID
	,CN_ITEM_CODE AS ITEM_CODE
	,CN_CODE AS CODE
	,CN_NAME AS NAME
	,CAST(0 AS BIT) AS ISBORROW
	,NULL AS ISBORROWSTR
	FROM TN_80_APP_0000_ITEM WHERE CN_ITEM_CODE = @PROD_ITEMCODE
	UNION
	SELECT DISTINCT
	X.ITEMID,
	X.ITEM_CODE,
	X.CODE,
	X.NAME,
	X.ISBORROW,
	CASE X.ISBORROW WHEN 1 THEN 'Y' END AS ISBORROWSTR
	FROM X
	) AS T 

	SELECT 
	X.*
	,CONVERT(CHAR(20),ITEMHL.CN_DT_CREATE,20) AS PDATE
	FROM #TMP AS X
	INNER JOIN TN_80_APP_0000_ITEM_HLINK AS ITEMHL 
	ON X.ITEMID = ITEMHL.CN_ID
	AND ITEMHL.CN_COMPONENT_CLASS_ID = 105
	AND ITEMHL.CN_DISPLAYNAME = @CATEGORYNAME
	ORDER BY ITEM_CODE
END;
GO
[PROC_GET_PRODUCT_ITEM_BY_CATEGORYNAME] 'HGS6H468000P1','销售件'
