ALTER PROCEDURE [dbo].[PROC_COMPOSITE_ITEM_LINK]
(
	@PROD_ITEMCODE VARCHAR(32),
	@ITEMCODE_PARENT VARCHAR(32),
	@GUID UNIQUEIDENTIFIER,
	@USERID INT,
	@NAME VARCHAR(20),
	@LOGIN VARCHAR(20)
)
AS
BEGIN 
	DECLARE @MSG VARCHAR(2000);
	DECLARE @SUCCESS BIT = 1;
	DECLARE @ERROR INT = 0;
	
	DECLARE @DATE DATETIME = GETDATE()
	
	-- 获取版本
	DECLARE @GUID_VER UNIQUEIDENTIFIER
	DECLARE @DTEF DATE, @DTEX DATE
	SELECT 
	  @GUID_VER = CN_GUID
	, @DTEF = CN_DT_EFFECTIVE
	, @DTEX = CN_DT_EXPIRY 
	FROM dbo.GETMBOMVER(@PROD_ITEMCODE) 
	IF @GUID_VER IS NULL
	BEGIN
		SET @MSG = '版本信息丢失，无法继续操作。请联系管理员。' 
		RAISERROR('%s',15,1, @MSG)
		RETURN
	END
	
	-- 检查是否为合件
	IF NOT EXISTS (
		SELECT 1
		FROM TN_80_APP_0040_MBOM_VER_HLINK
		WHERE 
			CN_GUID_VER = @GUID_VER
			AND CN_GUID = @GUID
			AND CN_TYPE = 'C'
			AND CN_STATUS = '_C'
	)
	BEGIN
		SET @MSG = '引用失败：所选件非合件，或已经被引用。'
		SELECT @MSG AS MSG, @SUCCESS AS SUCCESS
		RETURN
	END
	
	-- 检查引用件是否合法
	-- 1.不能引用到虚件下
	-- 2.不能引用到非组件下
	IF EXISTS (
		SELECT 1 FROM 
		TN_80_APP_0040_MBOM_HLINK AS MBOM
		LEFT JOIN TN_80_APP_0040_MBOM_VER_HLINK AS MBOMHLINK ON MBOMHLINK.CN_GUID = MBOM.CN_GUID
		WHERE CN_ITEMCODE = @ITEMCODE_PARENT
		AND CN_DT_EFFECTIVE_PBOM < @DATE
		AND CN_DT_EXPIRY_PBOM > @DATE
		AND CN_DT_EXPIRY > @DATE 
		AND MBOMHLINK.CN_ID IS NOT NULL
		AND MBOMHLINK.CN_TYPE = 'V'
	)
	BEGIN
		SET @MSG = '引用失败：不能引用到虚件下。'
		SELECT @MSG AS MSG, @SUCCESS AS SUCCESS
		RETURN
	END
	
	BEGIN TRANSACTION
	
	-- 将合件引用到选择件下
	UPDATE MBOM
	SET 
		 CN_ITEMCODE_PARENT = @ITEMCODE_PARENT
		,CN_DESC = @NAME + ' 引用合件'
	FROM TN_80_APP_0040_MBOM_HLINK MBOM
	WHERE
	CN_GUID = @GUID
	AND CN_DT_EFFECTIVE_PBOM < @DATE
	AND CN_DT_EXPIRY_PBOM > @DATE
	AND CN_DT_EXPIRY > @DATE 
	SET @ERROR = @ERROR + @@ERROR
	-- 更新合件引用状态为Y
	UPDATE MBOMHLINK
	SET CN_STATUS = 'Y'
	FROM TN_80_APP_0040_MBOM_VER_HLINK AS MBOMHLINK
	WHERE 
	CN_GUID_VER = @GUID_VER
	AND CN_GUID = @GUID
	SET @ERROR = @ERROR + @@ERROR
	
	
	IF @ERROR = 0
	BEGIN
		SET @MSG = '引用合件成功'
		COMMIT TRANSACTION
	END
	ELSE
	BEGIN
		SET @MSG = '引用合件失败，请联系管理员'
		ROLLBACK TRANSACTION
	END
	SELECT @MSG AS MSG, @SUCCESS AS SUCCESS
END;
