ALTER PROCEDURE [dbo].[PROC_GET_PRODUCT_SELLITEM_LATEST]
(
@PROD_ITEMCODE NCHAR(24)
)
AS
BEGIN
	--获取最新版本的产品属性表
	DECLARE @DATE DATETIME = GETDATE()
	DECLARE @GUID_VER UNIQUEIDENTIFIER
	SELECT TOP 1 
		@GUID_VER = CN_GUID
	FROM TN_80_APP_0010_PRODUCT_VER
	WHERE CN_PRODUCT_ITEMCODE = @PROD_ITEMCODE AND CN_STATUS = 'Y' AND CN_IS_TOERP = 0
	ORDER BY CN_DT_CREATE DESC

	;WITH X AS 
	(
		SELECT
		ITEM.CN_ID AS CN_ITEMID,
		ITEM.CN_ITEM_CODE AS CN_ITEMCODE,
		ITEM.CN_CODE,
		ITEM.CN_NAME,

		PBOMHLINK.CN_UNIT,
		1 AS [CN_ORDER]

		FROM
		TN_80_APP_0030_PBOM_HLINK AS PBOMHLINK
		INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON  PBOMHLINK.CN_ITEMCODE = ITEM.CN_ITEM_CODE
		WHERE 
			PBOMHLINK.CN_ITEMCODE_PARENT = @PROD_ITEMCODE
			AND PBOMHLINK.CN_DT_EFFECTIVE < @DATE
			AND PBOMHLINK.CN_DT_EXPIRY > @DATE

		UNION ALL
		
		SELECT
		ITEM.CN_ID,
		ITEM.CN_ITEM_CODE,
		ITEM.CN_CODE,
		ITEM.CN_NAME,

		PBOMHLINK.CN_UNIT,
		X.[CN_ORDER] + 1
		FROM 
		TN_80_APP_0030_PBOM_HLINK AS PBOMHLINK
		INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON  PBOMHLINK.CN_ITEMCODE = ITEM.CN_ITEM_CODE
		INNER JOIN X ON X.CN_ITEMCODE = PBOMHLINK.CN_ITEMCODE_PARENT
		WHERE
			PBOMHLINK.CN_DT_EFFECTIVE < @DATE
			AND PBOMHLINK.CN_DT_EXPIRY > @DATE
	)
	SELECT 
	ROW_NUMBER () OVER (ORDER BY X.ITEMID) AS ROWNUMBER,
	X.*, 
	PRODH.CN_F_QUANTITY as F_QUANTITY,
	CASE WHEN PRODH.CN_HLINK_ID IS NULL THEN 0 ELSE 1 END AS SALESET,
	CUST.CN_ID AS CUSTOMER_ID,
	PRODH.CN_CUSTOMERNAME AS CUSTOMERNAME,
	PRODH.CN_CUSTOMERITEMCODE AS CUSTOMERITEMCODE,
	PRODH.CN_CUSTOMERITEMNAME AS CUSTOMERITEMNAME,
	PRODH.CN_SHIPPINGADDR AS SHIPPINGADDR
	INTO #TMP
	FROM
	(
		SELECT 
		ITEM.CN_ID AS ITEMID,
		ITEM.CN_ITEM_CODE AS ITEM_CODEM,
		ITEM.CN_CODE AS CODE,
		ITEM.CN_NAME AS NAME,
		ITEM.CN_UNIT AS UNIT,
		0 AS [ORDER]
		FROM
		TN_80_APP_0000_ITEM AS ITEM
		WHERE CN_ITEM_CODE = @PROD_ITEMCODE
		
		UNION
		
		SELECT 
		CN_ITEMID,
		CN_ITEMCODE,
		CN_CODE,
		CN_NAME,
		CN_UNIT,
		CN_ORDER
		FROM X
	) AS X
	LEFT JOIN TN_80_APP_0010_PRODUCT_HLINK AS PRODH ON PRODH.CN_COMPONENT_OBJECT_ID = ITEMID
		AND PRODH.CN_DT_EXPIRY > @DATE
		AND PRODH.CN_COMPONENT_CLASS_ID = 100
		AND PRODH.CN_GUID_VER = @GUID_VER
	LEFT JOIN TN_APP_0090_CUSTOMER AS CUST ON CUST.CN_NAME = PRODH.CN_CUSTOMERNAME
	OPTION (MAXRECURSION 32);

	SELECT MAX(ROWNUMBER) AS ROWNUMBER
	INTO #DEDUPLICATION
	FROM #TMP
	GROUP BY ITEMID;
	
	SELECT 
	*
	FROM #TMP AS T 
	WHERE ROWNUMBER IN 
	(SELECT ROWNUMBER FROM #DEDUPLICATION)
	ORDER BY [ORDER]
END;
GO

[PROC_GET_PRODUCT_SELLITEM_LATEST] 'HGS7A4368000P1'