ALTER PROCEDURE [dbo].[PROC_MBOM_INTEGRITY_CHECK]
(
	@PROD_ITEMCODE VARCHAR(32)
)
AS
BEGIN
	DECLARE @MSG VARCHAR(2000);
	DECLARE @ERROR BIT = 0;
	
	DECLARE @TMP VARCHAR(200) = ''
	DECLARE @GUID_VER UNIQUEIDENTIFIER
	-- 获取最新版本
	SELECT @GUID_VER = CN_GUID
	FROM DBO.GETMBOMVER(@PROD_ITEMCODE)

	-- 
	IF @GUID_VER IS NULL
	BEGIN
		SET @MSG = '核查不通过，未创建MBOM版本。'
		RAISERROR(@MSG, 15, 1)
		RETURN
	END

	-- 判断所有虚件是否都已引用 
	SET @TMP = ''
	IF EXISTS (
		SELECT 1 
		FROM TN_80_APP_0040_MBOM_VER_HLINK
		WHERE CN_GUID_VER = @GUID_VER
		AND CN_TYPE = 'V'
		AND CN_STATUS = '_V'
	)
	BEGIN
		SELECT @TMP = MBOMHLINK.CN_ITEMCODE + '，' + @TMP
		FROM TN_80_APP_0040_MBOM_VER_HLINK AS VERHLINK
		INNER JOIN TN_80_APP_0040_MBOM_HLINK AS MBOMHLINK ON MBOMHLINK.CN_GUID = VERHLINK.CN_GUID
		WHERE
		CN_GUID_VER = @GUID_VER
		AND CN_TYPE = 'V'
		AND CN_STATUS = '_V'

		SET @MSG = '核查不通过，以下<span style="color:#FF00FF">虚件</span>未引用：<p style="color:#FF00FF">' + SUBSTRING(@TMP,1,LEN(@TMP)-1) +'</p>'
		RAISERROR(@MSG, 15, 1)
		SET @ERROR = 1
	END
	-- 判断所有合件是否都已引用
	SET @TMP = ''
	IF EXISTS (
		SELECT 1 
		FROM TN_80_APP_0040_MBOM_VER_HLINK
		WHERE CN_GUID_VER = @GUID_VER
		AND CN_TYPE = 'C'
		AND CN_STATUS = '_C'
	)
	BEGIN
		SELECT @TMP = MBOMHLINK.CN_ITEMCODE + '，' + @TMP
		FROM TN_80_APP_0040_MBOM_VER_HLINK AS VERHLINK
		INNER JOIN TN_80_APP_0040_MBOM_HLINK AS MBOMHLINK ON MBOMHLINK.CN_GUID = VERHLINK.CN_GUID
		WHERE
		CN_GUID_VER = @GUID_VER
		AND CN_TYPE = 'V'
		AND CN_STATUS = '_C'

		SET @MSG = '核查不通过，以下<span style="color:blue">合件</span>未引用：<p style="color:blue">' + SUBSTRING(@TMP,1,LEN(@TMP)-1) +'</p>'
		RAISERROR(@MSG, 15, 1)
		SET @ERROR = 1
	END

	-- 检查所有子件，是否都已经有采购件或自制件属性，如果没有则不允许发布
	SET @TMP = '';
	WITH X AS 
	(
		SELECT 
		ITEM.CN_ID AS CN_ITEMID, 
		MBOMHLINK.CN_ITEMCODE
		FROM 
		TN_80_APP_0040_MBOM_HLINK AS MBOMHLINK
		INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON ITEM.CN_ITEM_CODE = MBOMHLINK.CN_ITEMCODE
		WHERE
		MBOMHLINK.CN_ITEMCODE_PARENT = @PROD_ITEMCODE

		UNION ALL

		SELECT
		ITEM.CN_ID AS CN_ITEMID, 
		MBOMHLINK.CN_ITEMCODE
		FROM 
		TN_80_APP_0040_MBOM_HLINK AS MBOMHLINK
		INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON ITEM.CN_ITEM_CODE = MBOMHLINK.CN_ITEMCODE
		INNER JOIN X ON X.CN_ITEMCODE = MBOMHLINK.CN_ITEMCODE_PARENT
	) 
	SELECT DISTINCT CN_ITEMID AS ITEMID, CN_ITEMCODE AS ITEMCODE
	INTO #TMP_CHILDS
	FROM X
	OPTION (MAXRECURSION 32);

	IF EXISTS 
	(
		SELECT 1 
		FROM #TMP_CHILDS AS TMP 
		LEFT JOIN TN_80_APP_0000_ITEM_HLINK AS ITEMHLINK ON ITEMHLINK.CN_ID = TMP.ITEMID 
		AND ( 
			ITEMHLINK.CN_COMPONENT_CLASS_ID = 105 
			AND ITEMHLINK.CN_COMPONENT_OBJECT_ID IN (2,3,12,13)  
		)
		WHERE 
		ITEMHLINK.CN_HLINK_ID IS NULL 
	)
	BEGIN
		SELECT @TMP = RTRIM(TMP.ITEMCODE) + ',' + ISNULL(@TMP,'')  
		FROM #TMP_CHILDS AS TMP 
		LEFT JOIN TN_80_APP_0000_ITEM_HLINK AS ITEMHLINK ON ITEMHLINK.CN_ID = TMP.ITEMID 
		AND (
			ITEMHLINK.CN_COMPONENT_CLASS_ID = 105 
			AND ITEMHLINK.CN_COMPONENT_OBJECT_ID IN (2,3,12,13)
		)
		WHERE 
		ITEMHLINK.CN_HLINK_ID IS NULL 


		SET @MSG = '核查不通过，有子件不是采购或自制件：<p>' + SUBSTRING(@TMP,1,LEN(@TMP)-1)+'</p>'
		RAISERROR(@MSG, 15, 1)
		SET @ERROR = 1
	END


	IF @ERROR <> 0
	BEGIN
		UPDATE TN_80_APP_0010_PRODUCT
		SET 
		CN_CHECK_STATUS = '核查不通过'
		WHERE CN_CODE = @PROD_ITEMCODE
	END
	ELSE
	BEGIN
		UPDATE TN_80_APP_0010_PRODUCT
		SET 
		CN_CHECK_STATUS = '核查通过',
		CN_STATUS = '可发布'
		WHERE CN_CODE = @PROD_ITEMCODE
	END

	SELECT CN_CODE
	,CN_ITEM_CODE
	,CN_NAME
	,CN_STATUS
	,CN_CHECK_STATUS
	,CN_SALE_SET
	,*
	FROM TN_80_APP_0010_PRODUCT
	WHERE CN_ITEM_CODE = @PROD_ITEMCODE
END;
