ALTER PROCEDURE [dbo].[PROC_MBOM_VER_CREATE]
(
@PROD_ITEMCODE VARCHAR(30),
@VER VARCHAR(10),
@DT_EFFECTIVE DATE,
@DT_EXPIRY DATE,
@DESC VARCHAR(80),
@PBOMVER_GUID UNIQUEIDENTIFIER,
@USERID INT,
@NAME VARCHAR(20),
@LOGIN VARCHAR(20)
)
AS
BEGIN
	DECLARE @MSG VARCHAR(2000) = ''
	DECLARE @ERROR INT = 0
	DECLARE @SUCCESS BIT = 1
	-- 产品数据
	DECLARE @PROD_ITEMID INT
	DECLARE @PROD_ITEMNAME VARCHAR(30)
	DECLARE @PROD_CODE VARCHAR(30)
	-- MBOM新版本的ID。
	DECLARE @MBOM_VER_ID INT
	DECLARE @MBOM_VER_GUID UNIQUEIDENTIFIER = NEWID()
	-- 上个版本的GUID
	DECLARE @GUID_VER_LAST UNIQUEIDENTIFIER
	-- 获取产品数据
	SELECT 
		 @PROD_ITEMID = CN_ID 
		,@PROD_ITEMNAME = CN_NAME
		,@PROD_CODE = CN_CODE
	FROM TN_80_APP_0000_ITEM 
	WHERE CN_ITEM_CODE = @PROD_ITEMCODE 
	-- 当前日期 
	DECLARE @DATE DATETIME = GETDATE()
 
	-- 判断是否需要创建新版本
	-- 获取当前产品的MBOM版本
	IF EXISTS (
		SELECT 1 
		FROM TN_80_APP_0040_MBOM_VER
		WHERE CN_ITEM_CODE = @PROD_ITEMCODE
		AND CN_IS_TOERP < 2
		AND CN_DT_EFFECTIVE < @DATE
		AND CN_DT_EXPIRY > @DATE
	)
	BEGIN
		SET @MSG = '产品有未完成发布的MBOM版本，无需创建新版本。'
		SELECT @MSG AS MSG, @SUCCESS AS SUCCESS
		RETURN
	END

	-- 如果版本生效小于等于上个版本日期，禁止创建
	IF EXISTS (
	SELECT 1
	FROM TN_80_APP_0040_MBOM_VER
	WHERE CN_ITEM_CODE = @PROD_ITEMCODE
	AND CN_DT_EFFECTIVE >= @DT_EFFECTIVE
	)
	BEGIN
		SET @MSG = '生效期不能小于或等于之前创建过的版本生效日期，请选择其他日期。'
		SELECT @MSG AS MSG, @SUCCESS AS SUCCESS
		RETURN
	END

	-- 获取上个版本的GUID_VER
	SELECT TOP 1 @GUID_VER_LAST = CN_GUID
	FROM TN_80_APP_0040_MBOM_VER
	WHERE CN_ITEM_CODE = @PROD_ITEMCODE
	ORDER BY CN_DT_EFFECTIVE DESC
 
	-- 开启事务
	BEGIN TRANSACTION

	-- 更新之前版本状态为空
	UPDATE [TN_80_APP_0040_MBOM_VER]
	SET CN_STATUS = ''
	WHERE CN_ITEM_CODE = @PROD_ITEMCODE
	SET @ERROR = @ERROR + @@ERROR
	-- 添加新版本
	INSERT INTO [TN_80_APP_0040_MBOM_VER]
           ([CN_GUID]
           ,[CN_GUID_PBOM]
           ,[CN_STATUS]
           ,[CN_VER]
           ,[CN_NAME]
           ,[CN_CODE]
           ,[CN_ITEM_CODE]
           ,[CN_DESC]
           ,[CN_DT_CREATE]
           ,[CN_DT_EFFECTIVE]
           ,[CN_DT_EXPIRY]
           ,[CN_CREATE_BY]
           ,[CN_CREATE_NAME]
           ,[CN_CREATE_LOGIN])
	VALUES (
			@MBOM_VER_GUID
           ,@PBOMVER_GUID
           ,'Y'
           ,@VER
           ,@PROD_ITEMNAME
           ,@PROD_CODE
           ,@PROD_ITEMCODE
           ,@DESC
           ,@DATE
           ,@DT_EFFECTIVE
           ,@DT_EXPIRY
           ,@USERID
           ,@NAME
           ,@LOGIN)
	SET @ERROR = @ERROR + @@ERROR

	-- 继承上个版本所有虚件合件自定义件设置
	INSERT INTO [dbo].[TN_80_APP_0040_MBOM_VER_HLINK]
		([CN_GUID_VER]
		,[CN_GUID]
		,[CN_STATUS]
		,[CN_TYPE]
		,[CN_DT_CREATE]
		,[CN_DESC]
		,[CN_CREATE_BY]
		,[CN_CREATE_NAME]
		,[CN_CREATE_LOGIN])
	SELECT
		 @MBOM_VER_GUID
		,[CN_GUID]
		,[CN_STATUS]
		,[CN_TYPE]
		,@DATE
		,'继承版本 ' + CAST(@GUID_VER_LAST AS VARCHAR(64))
        ,@USERID
        ,@NAME
        ,@LOGIN
	FROM [TN_80_APP_0040_MBOM_VER_HLINK]
	WHERE CN_GUID_VER = @GUID_VER_LAST
	SET @ERROR = @ERROR + @@ERROR
 
	IF @ERROR = 0
	BEGIN
		SET @MSG = '已成功创建版本，版本GUID：' + CAST(@MBOM_VER_GUID AS VARCHAR(64))
		COMMIT TRANSACTION
	END
	ELSE
	BEGIN
		SET @MSG = '执行过程出错，请联系管理员'
		SET @SUCCESS = 0
		ROLLBACK TRANSACTION
	END

	SELECT @MSG AS MSG, @SUCCESS AS SUCCESS

END