ALTER PROCEDURE [dbo].[PROC_VIRTUAL_ITEM_SET]
(
	@PROD_ITEMCODE VARCHAR(32),
	@GUID UNIQUEIDENTIFIER,
	@USERID INT,
	@NAME VARCHAR(20),
	@LOGIN VARCHAR(20)
)
AS
BEGIN
	DECLARE @ITEMCODE VARCHAR(32)
	DECLARE @DATE DATETIME = GETDATE()
	
	DECLARE @ERROR INT = 0
	DECLARE @SUCCESS BIT = 1
	DECLARE @MSG NVARCHAR(2000) = ''
	
	-- 获取版本
	DECLARE @GUID_VER UNIQUEIDENTIFIER
	DECLARE @DTEF DATE, @DTEX DATE
	SELECT 
	  @GUID_VER = CN_GUID
	, @DTEF = CN_DT_EFFECTIVE
	, @DTEX = CN_DT_EXPIRY 
	FROM dbo.GETMBOMVER(@PROD_ITEMCODE) 
	IF @GUID_VER IS NULL
	BEGIN
		SET @MSG = '版本信息丢失，无法继续操作。请联系管理员。' 
		RAISERROR('%s',15,1, @MSG)
		RETURN
	END
	
	--获取ITEM信息
	SELECT 
	@ITEMCODE = CN_ITEMCODE
	FROM TN_80_APP_0040_MBOM_HLINK
	WHERE CN_GUID = @GUID
	AND CN_DT_EFFECTIVE_PBOM < @DATE
	AND CN_DT_EXPIRY_PBOM > @DATE 
	AND CN_DT_EXPIRY > @DATE 

	IF NOT EXISTS (
		SELECT 1
		FROM TN_80_APP_0040_MBOM_HLINK
		WHERE
		CN_ITEMCODE_PARENT = @ITEMCODE
		AND CN_DT_EFFECTIVE_PBOM < @DATE
		AND CN_DT_EXPIRY_PBOM > @DATE 
		AND CN_DT_EXPIRY > @DATE 
	)
	BEGIN
		SET @MSG = '设置失败：选择的件不是组件，不含有下级，无法设置为虚件' 
		RAISERROR('%s',15,1, @MSG)
		RETURN
	END

	IF EXISTS (
		SELECT 1 FROM TN_80_APP_0040_MBOM_VER_HLINK 
		WHERE 
		CN_GUID_VER = @GUID_VER
		AND CN_GUID = @GUID
	)
	BEGIN
		SET @MSG = '设置失败：选择的件已含有其他件属性' 
		RAISERROR('%s',15,1, @MSG)
		RETURN
	END 
	
	BEGIN TRANSACTION
	
	-- 失效虚件
	UPDATE DBO.TN_80_APP_0040_MBOM_HLINK
	SET 
		 CN_DT_EXPIRY = @DATE
		,CN_DESC = CONVERT(CHAR(19),@DATE,20) + ' ' + @NAME + ' 设为虚件'
	WHERE CN_GUID = @GUID
	AND CN_DT_EFFECTIVE_PBOM < @DATE
	AND CN_DT_EXPIRY_PBOM > @DATE
	AND CN_DT_EFFECTIVE < @DATE
	AND CN_DT_EXPIRY > @DATE
	
	IF EXISTS ( SELECT 1 FROM TN_80_APP_0040_MBOM_HLINK WHERE CN_GUID = @GUID AND CN_IS_TOERP > 0 )
	BEGIN
		-- 如果已经TOERP则添加一条新记录，并使用一个新的GUID
		DECLARE @GUID_NEW UNIQUEIDENTIFIER = NEWID()
		--
		INSERT INTO [dbo].[TN_80_APP_0040_MBOM_HLINK]
			   ([CN_GUID]
			   ,[CN_GUID_PBOM]
			   ,[CN_GUID_LINK]
			   ,[CN_GUID_EF]
			   ,[CN_GUID_EX]
			   ,[CN_ITEMCODE_PARENT]
			   ,[CN_ITEMCODE]
			   ,[CN_QUANTITY]
			   ,[CN_DISPLAYNAME]
			   ,[CN_ORDER]
			   ,[CN_UNIT]
			   ,[CN_ISBORROW]
			   ,[CN_ISMBOM]
			   ,[CN_DT_CREATE]
			   ,[CN_DT_EFFECTIVE_PBOM]
			   ,[CN_DT_EXPIRY_PBOM]
			   ,[CN_DT_EFFECTIVE]
			   ,[CN_DT_EXPIRY]
			   ,[CN_DESC]
			   ,[CN_CREATE_BY]
			   ,[CN_CREATE_NAME]
			   ,[CN_CREATE_LOGIN])
		SELECT 
				@GUID_NEW
			   ,[CN_GUID_PBOM]
			   ,[CN_GUID_LINK]
			   ,[CN_GUID_EF]
			   ,[CN_GUID_EX]
			   ,[CN_ITEMCODE_PARENT]
			   ,[CN_ITEMCODE]
			   ,[CN_QUANTITY]
			   ,[CN_DISPLAYNAME]
			   ,[CN_ORDER]
			   ,[CN_UNIT]
			   ,[CN_ISBORROW]
			   ,[CN_ISMBOM]
			   ,@DATE
			   ,[CN_DT_EFFECTIVE_PBOM]
			   ,[CN_DT_EXPIRY_PBOM]
			   ,@DTEF
			   ,@DATE	-- 因为是虚件，添加的时候就得"过期"
			   ,[CN_DESC]
			   ,@USERID
			   ,@NAME
			   ,@LOGIN
		FROM TN_80_APP_0040_MBOM_HLINK
		WHERE CN_GUID = @GUID
		-- 后面虚件的属性得添加到新建的记录上
		SET @GUID = @GUID_NEW
	END

	-- 添加虚件属性。
	INSERT INTO [dbo].[TN_80_APP_0040_MBOM_VER_HLINK]
		([CN_GUID_VER]
		,[CN_GUID]
		,[CN_STATUS]
		,[CN_TYPE]
		,[CN_DT_CREATE]
		,[CN_DESC]
		,[CN_CREATE_BY]
		,[CN_CREATE_NAME]
		,[CN_CREATE_LOGIN])
     VALUES
		(@GUID_VER
		,@GUID
		,'_V'
		,'V'
		,@DATE
		,@NAME + ' 设置为虚件'
		,@USERID
		,@NAME
		,@LOGIN)
	SET @ERROR = @ERROR + @@ERROR
	
	IF @ERROR = 0
	BEGIN
		SET @MSG = '设置虚件成功'
		COMMIT TRANSACTION
	END
	ELSE
	BEGIN
		SET @SUCCESS = 0
		SET @MSG = '设置虚件失败，请联系管理员'
		ROLLBACK TRANSACTION
	END

	SELECT @MSG AS MSG, @SUCCESS AS SUCCESS

END;
