ALTER PROC [dbo].[PROC_GET_PRODUCT_MBOM_LATEST]
(
@PROD_ITEMCODE VARCHAR(50)
)
AS
BEGIN
	DECLARE @MSG VARCHAR(2000)
	DECLARE @SUCCESS BIT = 1
	DECLARE @ERROR INT = 0
	
	DECLARE @DATE DATETIME = GETDATE()
	DECLARE @GUID_PROCESS_VER UNIQUEIDENTIFIER
	-- 获取MBOM版本
	DECLARE @GUID_VER UNIQUEIDENTIFIER
	DECLARE @DTEF DATE, @DTEX DATE
	SELECT 
	  @GUID_VER = CN_GUID
	, @DTEF = CN_DT_EFFECTIVE
	, @DTEX = CN_DT_EXPIRY 
	FROM dbo.GETMBOMVER(@PROD_ITEMCODE) 
	IF @GUID_VER IS NULL
	BEGIN
		SET @MSG = '该产品尚未创建MBOM版本。请联系管理员。' 
		RAISERROR('%s',15,1, @MSG)
		RETURN
	END
	-- 获取工序版本
	SELECT TOP 1 @GUID_PROCESS_VER = CN_GUID
	FROM TN_80_APP_1050_PRODUCTION_LINE_PROCESS_VER
	WHERE CN_PRODUCT_ITEMCODE = @PROD_ITEMCODE
	AND CN_DT_EFFECTIVE < @DATE
	AND CN_DT_EXPIRY > @DATE
	ORDER BY CN_DT_EFFECTIVE DESC

	-- 产品信息
	SELECT 
		0 AS [LEVEL]
		,CAST(NULL AS VARCHAR) AS PARENTID
		,CAST('P' AS VARCHAR) AS ID
		,ITEM.CN_ID AS ITEMID
		,RTRIM(ITEM.CN_NAME) AS NAME
		,RTRIM(ITEM.CN_CODE) AS CODE
		,RTRIM(ITEM.CN_ITEM_CODE) AS ITEMCODE
		,CAST(NULL AS UNIQUEIDENTIFIER) AS [GUID]
		,1 AS QUANTITY
		,'件' AS UNIT
		,CAST(0 AS BIT) AS ISBORROW
		,0 AS [ORDER]
		,'产品' AS [TYPE]
		,'Y' AS [STATUS]
	INTO #PRODUCT
	FROM TN_80_APP_0000_ITEM AS ITEM
	WHERE ITEM.CN_ITEM_CODE = @PROD_ITEMCODE 
	
	DECLARE @PROD_ITEMID INT 
	SELECT @PROD_ITEMID = CN_ID 
	FROM TN_80_APP_0000_ITEM
	WHERE CN_ITEM_CODE = @PROD_ITEMCODE
	
	-- 查询出所有父级虚件
	;WITH X AS 
	(
		SELECT
			1 AS CN_LEVEL
			,CAST('P' AS VARCHAR(200)) AS CN_PARENTID
			,CAST('P'+ SUBSTRING(CAST(MBOMHLINK.CN_GUID AS CHAR(36)),1,5) AS VARCHAR(200)) AS CN_ID
			,ITEM.CN_ID AS CN_ITEMID
			,RTRIM(ITEM.CN_NAME) AS CN_NAME
			,RTRIM(ITEM.CN_CODE) AS CN_CODE
			,RTRIM(ITEM.CN_ITEM_CODE) AS CN_ITEMCODE
			,MBOMHLINK.CN_GUID
			,MBOMHLINK.CN_QUANTITY
			,MBOMHLINK.CN_UNIT
			,MBOMHLINK.CN_ISBORROW
			,MBOMHLINK.CN_ORDER 
		FROM TN_80_APP_0040_MBOM_HLINK AS MBOMHLINK 
		INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON ITEM.CN_ITEM_CODE = MBOMHLINK.CN_ITEMCODE
		WHERE MBOMHLINK.CN_ITEMCODE_PARENT = @PROD_ITEMCODE
		UNION ALL
		SELECT
			 X.CN_LEVEL + 1
			,CAST(X.CN_ID AS VARCHAR(200))
			,CAST(X.CN_ID + SUBSTRING(CAST(MBOMHLINK.CN_GUID AS CHAR(36)),1,5) AS VARCHAR(200))
			,ITEM.CN_ID AS CN_ITEMID
			,RTRIM(ITEM.CN_NAME) AS CN_NAME
			,RTRIM(ITEM.CN_CODE) AS CN_CODE
			,RTRIM(ITEM.CN_ITEM_CODE) AS CN_ITEMCODE
			,MBOMHLINK.CN_GUID
			,MBOMHLINK.CN_QUANTITY
			,MBOMHLINK.CN_UNIT
			,MBOMHLINK.CN_ISBORROW
			,MBOMHLINK.CN_ORDER 
		FROM TN_80_APP_0040_MBOM_HLINK AS MBOMHLINK
		INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON ITEM.CN_ITEM_CODE = MBOMHLINK.CN_ITEMCODE
		INNER JOIN X ON X.CN_ITEMCODE = MBOMHLINK.CN_ITEMCODE_PARENT
	)
	SELECT DISTINCT
	X.*
	,VERHLINK.CN_TYPE AS CN_TYPE
	,VERHLINK.CN_STATUS AS CN_STATUS
	INTO #ITEM_PARENT_VIRTUAL
	FROM X
	INNER JOIN TN_80_APP_0040_MBOM_VER_HLINK AS VERHLINK 
	ON VERHLINK.CN_GUID = X.CN_GUID 
	AND VERHLINK.CN_GUID_VER = @GUID_VER
	AND ( VERHLINK.CN_STATUS = '_V' OR VERHLINK.CN_STATUS = '_VL' )

	-- 将查询出的父级虚件下级查询出来
	;WITH X AS
	(
		SELECT
			 PV.CN_LEVEL + 1 AS CN_LEVEL
			,CAST(PV.CN_ID AS VARCHAR(200)) AS CN_PARENTID
			,CAST(PV.CN_ID+ SUBSTRING(CAST(MBOMHLINK.CN_GUID AS CHAR(36)),1,5) AS VARCHAR(200)) AS CN_ID
			,ITEM.CN_ID AS CN_ITEMID
			,RTRIM(ITEM.CN_NAME) AS CN_NAME
			,RTRIM(ITEM.CN_CODE) AS CN_CODE
			,RTRIM(ITEM.CN_ITEM_CODE) AS CN_ITEMCODE
			,MBOMHLINK.CN_GUID
			,MBOMHLINK.CN_QUANTITY
			,MBOMHLINK.CN_UNIT
			,MBOMHLINK.CN_ISBORROW
			,MBOMHLINK.CN_ORDER 
		FROM TN_80_APP_0040_MBOM_HLINK AS MBOMHLINK
		INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON ITEM.CN_ITEM_CODE = MBOMHLINK.CN_ITEMCODE
		INNER JOIN #ITEM_PARENT_VIRTUAL AS PV ON PV.CN_ITEMCODE = MBOMHLINK.CN_ITEMCODE_PARENT
		WHERE
			CN_DT_EFFECTIVE_PBOM < @DATE
			AND CN_DT_EXPIRY_PBOM > @DATE
			AND CN_DT_EFFECTIVE < @DATE
			AND CN_DT_EXPIRY > @DATE
		
		UNION ALL
		
		SELECT
			 X.CN_LEVEL + 1
			,CAST(X.CN_ID AS VARCHAR(200))
			,CAST(X.CN_ID + SUBSTRING(CAST(MBOMHLINK.CN_GUID AS CHAR(36)),1,5) AS VARCHAR(200))
			,ITEM.CN_ID AS ITEMID
			,RTRIM(ITEM.CN_NAME)
			,RTRIM(ITEM.CN_CODE)
			,RTRIM(ITEM.CN_ITEM_CODE)
			,MBOMHLINK.CN_GUID
			,MBOMHLINK.CN_QUANTITY
			,MBOMHLINK.CN_UNIT
			,MBOMHLINK.CN_ISBORROW
			,MBOMHLINK.CN_ORDER 
		FROM TN_80_APP_0040_MBOM_HLINK AS MBOMHLINK
		INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON ITEM.CN_ITEM_CODE = MBOMHLINK.CN_ITEMCODE
		INNER JOIN X ON X.CN_ITEMCODE = MBOMHLINK.CN_ITEMCODE_PARENT
		WHERE
			CN_DT_EFFECTIVE_PBOM < @DATE
			AND CN_DT_EXPIRY_PBOM > @DATE
			AND CN_DT_EFFECTIVE < @DATE
			AND CN_DT_EXPIRY > @DATE
	)
	SELECT 
		 CN_LEVEL
		,CN_PARENTID
		,X.CN_ID
		,CN_ITEMID
		,CN_NAME
		,CN_CODE
		,CN_ITEMCODE
		,X.CN_GUID
		,CN_QUANTITY
		,CN_UNIT
		,CN_ISBORROW
		,CN_ORDER
		,ISNULL(VERHLINK.CN_TYPE,'') AS CN_TYPE
		,ISNULL(VERHLINK.CN_STATUS,'Y') AS CN_STATUS
	INTO #ITEM_CHILD_VIRTUAL
	FROM X
	LEFT JOIN TN_80_APP_0040_MBOM_VER_HLINK AS VERHLINK 
	ON VERHLINK.CN_GUID = X.CN_GUID 
	AND VERHLINK.CN_GUID_VER = @GUID_VER

	-- 查询出所有的物料
	;WITH X AS
	(
		SELECT
			 1 AS CN_LEVEL
			,CAST('P' AS VARCHAR(200)) AS CN_PARENTID
			,CAST('P'+ SUBSTRING(CAST(MBOMHLINK.CN_GUID AS CHAR(36)),1,5) AS VARCHAR(200)) AS CN_ID
			,ITEM.CN_ID AS CN_ITEMID
			,RTRIM(ITEM.CN_NAME) AS CN_NAME
			,RTRIM(ITEM.CN_CODE) AS CN_CODE
			,RTRIM(ITEM.CN_ITEM_CODE) AS CN_ITEMCODE
			,MBOMHLINK.CN_GUID
			,MBOMHLINK.CN_QUANTITY
			,MBOMHLINK.CN_UNIT
			,MBOMHLINK.CN_ISBORROW
			,MBOMHLINK.CN_ORDER 
		FROM TN_80_APP_0040_MBOM_HLINK AS MBOMHLINK
		INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON ITEM.CN_ITEM_CODE = MBOMHLINK.CN_ITEMCODE
		WHERE
			MBOMHLINK.CN_ITEMCODE_PARENT = @PROD_ITEMCODE
			AND CN_DT_EFFECTIVE_PBOM < @DATE
			AND CN_DT_EXPIRY_PBOM > @DATE
			AND CN_DT_EFFECTIVE < @DATE
			AND CN_DT_EXPIRY > @DATE
		
		UNION ALL
		
		SELECT
			 X.CN_LEVEL + 1
			,CAST(X.CN_ID AS VARCHAR(200))
			,CAST(X.CN_ID + SUBSTRING(CAST(MBOMHLINK.CN_GUID AS CHAR(36)),1,5) AS VARCHAR(200))
			,ITEM.CN_ID AS ITEMID
			,RTRIM(ITEM.CN_NAME)
			,RTRIM(ITEM.CN_CODE)
			,RTRIM(ITEM.CN_ITEM_CODE)
			,MBOMHLINK.CN_GUID
			,MBOMHLINK.CN_QUANTITY
			,MBOMHLINK.CN_UNIT
			,MBOMHLINK.CN_ISBORROW
			,MBOMHLINK.CN_ORDER 
		FROM TN_80_APP_0040_MBOM_HLINK AS MBOMHLINK
		INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON ITEM.CN_ITEM_CODE = MBOMHLINK.CN_ITEMCODE
		INNER JOIN X ON X.CN_ITEMCODE = MBOMHLINK.CN_ITEMCODE_PARENT
		WHERE
			CN_DT_EFFECTIVE_PBOM < @DATE
			AND CN_DT_EXPIRY_PBOM > @DATE
			AND CN_DT_EFFECTIVE < @DATE
			AND CN_DT_EXPIRY > @DATE
	)
	SELECT 
		 CN_LEVEL
		,CN_PARENTID
		,X.CN_ID
		,CN_ITEMID
		,CN_NAME
		,CN_CODE
		,CN_ITEMCODE
		,X.CN_GUID
		,CN_QUANTITY
		,CN_UNIT
		,CN_ISBORROW
		,CN_ORDER 
	INTO #ITEM
	FROM X
	
	SELECT 
		T.*,
		CASE PVH.CN_IS_ASSEMBLED WHEN 1 THEN PLP.CN_PROCESS_NAME ELSE '' END AS ASSEMBLED,
		CASE PVH.CN_IS_FEEDED WHEN 1 THEN PLP.CN_PROCESS_NAME ELSE '' END AS FEEDED,
		PVH.CN_IS_EMPTY AS ISEMPTY
	FROM
	(
	SELECT * FROM #PRODUCT
	UNION ALL
	SELECT 
	#ITEM.*
	,ISNULL(VERHLINK.CN_TYPE,'') AS CN_TYPE
	,ISNULL(VERHLINK.CN_STATUS,'Y') AS CN_STATUS
	FROM #ITEM
	LEFT JOIN TN_80_APP_0040_MBOM_VER_HLINK AS VERHLINK ON VERHLINK.CN_GUID = #ITEM.CN_GUID AND VERHLINK.CN_GUID_VER = @GUID_VER
	UNION ALL
	SELECT * FROM #ITEM_PARENT_VIRTUAL
	UNION ALL
	SELECT * FROM #ITEM_CHILD_VIRTUAL
	) AS T
	LEFT JOIN TN_80_APP_1050_PRODUCTION_LINE_PROCESS_VER_HLINK AS PVH ON PVH.CN_GUID_VER = @GUID_PROCESS_VER AND PVH.CN_GUID_MBOM = T.[GUID]
	LEFT JOIN TN_80_APP_1050_PRODUCTION_LINE_PRODUCT_PROCESS AS PLP ON PLP.CN_GUID = PVH.CN_GUID_PROCESS
	ORDER BY [LEVEL],[ORDER]
END;
GO 
PROC_GET_PRODUCT_MBOM_LATEST 'HGS10A168100P1'