ALTER PROCEDURE [dbo].[PROC_VIRTUAL_ITEM_DROP]
(
	@PROD_ITEMCODE VARCHAR(32),
	@GUID Uniqueidentifier,
	@USERID INT,
	@NAME VARCHAR(20),
	@LOGIN VARCHAR(20)
)
AS
BEGIN
	
	DECLARE @MSG VARCHAR(2000)
	DECLARE @SUCCESS BIT = 1
	DECLARE @ERROR INT = 0
  
	DECLARE @DATE DATETIME = GETDATE();
	
	-- 获取版本
	DECLARE @GUID_VER UNIQUEIDENTIFIER
	DECLARE @DTEF DATE, @DTEX DATE
	SELECT 
	  @GUID_VER = CN_GUID
	, @DTEF = CN_DT_EFFECTIVE
	, @DTEX = CN_DT_EXPIRY 
	FROM dbo.GETMBOMVER(@PROD_ITEMCODE) 
	IF @GUID_VER IS NULL
	BEGIN
		SET @MSG = '版本信息丢失，无法继续操作。请联系管理员。' 
		RAISERROR('%s',15,1, @MSG)
		RETURN
	END
	
	-- 检查是否为虚件
	IF NOT EXISTS (
		SELECT 1 FROM TN_80_APP_0040_MBOM_VER_HLINK
		WHERE
		CN_GUID_VER = @GUID_VER
		AND CN_GUID = @GUID
		AND CN_TYPE = 'V'
	)
	BEGIN
		SET @MSG = '所选件非虚件，无法删除'
		RAISERROR(@MSG, 15, 1)
		RETURN
	END
	
	BEGIN TRANSACTION
	
	-- 删除被引用子级的虚件属性
	DELETE FROM MBOMVER
	FROM TN_80_APP_0040_MBOM_HLINK AS MBOMHLINK
	INNER JOIN TN_80_APP_0040_MBOM_VER_HLINK AS MBOMVER ON MBOMVER.CN_GUID = MBOMHLINK.CN_GUID
		AND MBOMVER.CN_GUID_VER = @GUID_VER
		AND MBOMVER.CN_TYPE = 'V'
	WHERE
		CN_GUID_LINK = @GUID
		AND CN_DT_EFFECTIVE_PBOM < @DATE
		AND CN_DT_EXPIRY_PBOM > @DATE
		AND CN_DT_EXPIRY > @DATE 
	SET @ERROR = @ERROR + @@ERROR
	-- 删除【未发布】虚件子级
	DELETE TN_80_APP_0040_MBOM_HLINK
	WHERE CN_GUID_LINK = @GUID
	AND CN_IS_TOERP = 0
	-- 失效【已发布】虚件子级
	UPDATE MBOMHLINK
	SET 
		CN_DT_EXPIRY = @DATE,
		CN_DESC = @NAME + ' 删除虚件[未取消引用直接删除]'
	FROM TN_80_APP_0040_MBOM_HLINK AS MBOMHLINK
	WHERE
		CN_GUID_LINK = @GUID
		AND CN_DT_EFFECTIVE_PBOM < @DATE
		AND CN_DT_EXPIRY_PBOM > @DATE
		AND CN_DT_EXPIRY > @DATE 
		AND CN_IS_TOERP > 0
	SET @ERROR = @ERROR + @@ERROR
	
	-- 删除虚件属性
	DELETE FROM MBOMVER
	FROM TN_80_APP_0040_MBOM_VER_HLINK AS MBOMVER
	WHERE CN_GUID_VER = @GUID_VER
	AND CN_GUID = @GUID
	AND CN_TYPE = 'V'
	SET @ERROR = @ERROR + @@ERROR

	-- 还原父级
	UPDATE [TN_80_APP_0040_MBOM_HLINK]
	SET 
		 CN_DT_EXPIRY = '2100-01-01'
		,CN_DESC = @NAME + ' 删除虚件属性'
	WHERE CN_GUID = @GUID
	SET @ERROR = @ERROR + @@ERROR

	IF @ERROR <> 0
	BEGIN
		SET @MSG = '删除虚件失败，请联系管理员。'
		RAISERROR(@MSG, 15, 1)
		ROLLBACK TRANSACTION
	END
	ELSE
	BEGIN
		SET @MSG = '已成功删除虚件。<p>虚件的设置与取消可能会对BOM结构产生非预期结果，请仔细查证。</p>如有疑问请联系管理员。'
		SELECT @MSG AS MSG, @SUCCESS AS SUCCESS
		COMMIT TRANSACTION
	END
END;
