CREATE PROCEDURE [dbo].[PROC_MBOM_MODIFY_QUANTITY]
(
@GUID UNIQUEIDENTIFIER,
@QUANTITY FLOAT
)
AS
BEGIN
	DECLARE @MSG NVARCHAR(200) = '修改成功'
	DECLARE @SUCCESS BIT = 1
	DECLARE @DATE DATETIME = GETDATE()
	DECLARE @COUNT INT = 0
	
	IF EXISTS (
		SELECT 1 FROM TN_80_APP_0040_MBOM_HLINK
		WHERE CN_GUID = @GUID
		AND CN_ISMBOM = 0
	)
	BEGIN
		SET @MSG = '修改失败，选择物料为PBOM原始数据，如需修改数量，请删除引用后重新引用此件时修改数量。'
		RAISERROR('%s',15,1,@MSG);
		RETURN
	END

	IF EXISTS (
		SELECT 1 FROM TN_80_APP_0040_MBOM_HLINK
		WHERE CN_GUID = @GUID
		AND CN_IS_TOERP > 0
	)
	BEGIN
		SET @MSG = '修改失败，选择物料已发布或正在发布中，请删除引用后重新引用此件时修改数量。'
		RAISERROR('%s',15,1,@MSG);
		RETURN
	END
	
	BEGIN TRAN
	
	UPDATE TN_80_APP_0040_MBOM_HLINK
	SET CN_QUANTITY = @QUANTITY
	WHERE CN_GUID = @GUID
	AND CN_DT_EFFECTIVE_PBOM < @DATE
	AND CN_DT_EXPIRY_PBOM > @DATE
	AND CN_DT_EXPIRY > @DATE
	
	SET @COUNT = @@ROWCOUNT
	IF @COUNT = 0
	BEGIN
		SET @SUCCESS = 0
		SET @MSG = '修改失败，未能获取到操作物料。请刷新后重试。如有疑问请联系管理员。'
	END
	ELSE IF @COUNT > 1
	BEGIN
		SET @SUCCESS = 0
		SET @MSG = '修改失败，受影响的数据超过一条。请联系管理员排查是否有重复数据。'
	END
	
	IF @SUCCESS = 0
	BEGIN
		ROLLBACK
	END
	ELSE
	BEGIN
		COMMIT
	END
	SELECT @SUCCESS AS SUCCESS, @MSG AS MSG
END;
