ALTER PROCEDURE [dbo].[PROC_GET_PRODUCT_ITEM_WITH_CATEGORY]
(
@PROD_ITEMCODE NCHAR(24)
)
AS
BEGIN 

	DECLARE @PRODID INT
	SELECT @PRODID = CN_ID
	FROM TN_80_APP_0010_PRODUCT
	WHERE CN_ITEM_CODE = @PROD_ITEMCODE

	DECLARE @MSG VARCHAR(200)
	DECLARE @DATE DATETIME = GETDATE()
	DECLARE @MBOM_VER_GUID UNIQUEIDENTIFIER
	-- 获取版本
	DECLARE @GUID_VER UNIQUEIDENTIFIER
	SELECT @GUID_VER = dbo.GETPRODUCTVER(@PROD_ITEMCODE)

	;WITH X AS 
	(
		SELECT
		ITEM.CN_ID AS ITEMID,
		ITEM.CN_ITEM_CODE AS ITEM_CODE,
		ITEM.CN_CODE AS CODE,
		ITEM.CN_NAME AS NAME
		FROM
		TN_80_APP_0030_PBOM_HLINK AS PBOMHLINK
		INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON PBOMHLINK.CN_ITEMCODE = ITEM.CN_ITEM_CODE
		WHERE 
		PBOMHLINK.CN_ITEMCODE_PARENT = @PROD_ITEMCODE

		UNION ALL

		SELECT
		ITEM.CN_ID AS CN_ITEMID,
		ITEM.CN_ITEM_CODE,
		ITEM.CN_CODE,
		ITEM.CN_NAME
		FROM 
		TN_80_APP_0030_PBOM_HLINK AS PBOMHLINK
		INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON PBOMHLINK.CN_ITEMCODE = ITEM.CN_ITEM_CODE
		INNER JOIN X ON X.ITEM_CODE = PBOMHLINK.CN_ITEMCODE_PARENT
	)
	SELECT 
	X.*,
	ISNULL(MAX(MBOMVER.CN_VER),'未创建版本') AS 部件,
	MAX(CASE WHEN PRODHL.CN_HLINK_ID IS NOT NULL  THEN 'Y' ELSE '' END) AS 销售件,
	MAX(CASE ITEMHL.CN_COMPONENT_OBJECT_ID WHEN 2 THEN 'Y' ELSE '' END) AS 采购件,
	MAX(CASE ITEMHL.CN_COMPONENT_OBJECT_ID WHEN 3 THEN 'Y' ELSE '' END) AS 自制件,
	MAX(CASE ITEMHL.CN_COMPONENT_OBJECT_ID WHEN 4 THEN 'Y' ELSE '' END) AS 标准件,
	MAX(CASE ITEMHL.CN_COMPONENT_OBJECT_ID WHEN 5 THEN 'Y' ELSE '' END) AS 原材料,
	MAX(CASE ITEMHL.CN_COMPONENT_OBJECT_ID WHEN 6 THEN 'Y' ELSE '' END) AS 包装件,
	MAX(CASE ITEMHL.CN_COMPONENT_OBJECT_ID WHEN 7 THEN 'Y' ELSE '' END) AS 工艺件
	FROM X
	LEFT JOIN TN_80_APP_0000_ITEM_HLINK AS ITEMHL 
	ON X.ITEMID = ITEMHL.CN_ID
	AND ITEMHL.CN_COMPONENT_CLASS_ID = 105
	LEFT JOIN TN_80_APP_0010_PRODUCT_HLINK AS PRODHL
	ON X.ITEMID = PRODHL.CN_COMPONENT_OBJECT_ID
	AND PRODHL.CN_COMPONENT_CLASS_ID = 100
	AND PRODHL.CN_ID = @PRODID
	AND PRODHL.CN_GUID_VER = @GUID_VER
	LEFT JOIN TN_80_APP_0040_MBOM_VER AS MBOMVER ON MBOMVER.CN_GUID = @GUID_VER

	GROUP BY X.CODE,X.ITEM_CODE,X.ITEMID,X.NAME
	ORDER BY ITEM_CODE

END;
GO	

PROC_GET_PRODUCT_ITEM_WITH_CATEGORY 'HGS6H468000P1'

 