ALTER PROCEDURE [dbo].[PROC_MBOM_RELEASE]
(
	@PROD_ITEMCODE VARCHAR(200),
	@USERID INT,
	@NAME VARCHAR(20),
	@LOGIN VARCHAR(20)
)
AS
BEGIN
	-- 产品从 MBOM维护中 -> MBOM发布
	DECLARE @CURR_STATUS VARCHAR(32) = DBO.FUNC_GETSTATUS('PRODUCT',3000)
	DECLARE @NEXT_STATUS VARCHAR(32) = DBO.FUNC_GETSTATUS('PRODUCT',4000)

	DECLARE @DATE DATETIME = GETDATE()
	DECLARE @MSG VARCHAR(2000)
	DECLARE @SUCCESS BIT = 1
	DECLARE @ERROR INT = 0

	DECLARE @BATCHID INT

	SELECT 
		 ID AS ITEMCODE
		,PROD.CN_CODE AS CODE
	INTO #TMP_TRANSFER 
	FROM SPLIT(@PROD_ITEMCODE,DEFAULT)
	INNER JOIN TN_80_APP_0010_PRODUCT AS PROD ON PROD.CN_ITEM_CODE = ID;

	-- 获取产品下所有ITEM,判断是否有引用，若有需要同时发布
	WITH X AS 
	(
		SELECT
		MBOMHLINK.CN_ITEMCODE
		FROM 
		TN_80_APP_0040_MBOM_HLINK AS MBOMHLINK
		INNER JOIN #TMP_TRANSFER AS T ON T.ITEMCODE = MBOMHLINK.CN_ITEMCODE_PARENT
		WHERE 
		MBOMHLINK.CN_DT_EFFECTIVE_PBOM < @DATE
		AND MBOMHLINK.CN_DT_EXPIRY_PBOM > @DATE
		AND MBOMHLINK.CN_DT_EFFECTIVE < @DATE
		AND MBOMHLINK.CN_DT_EXPIRY > @DATE

		UNION ALL

		SELECT
		MBOMHLINK.CN_ITEMCODE
		FROM 
		TN_80_APP_0040_MBOM_HLINK AS MBOMHLINK
		INNER JOIN X ON X.CN_ITEMCODE = MBOMHLINK.CN_ITEMCODE_PARENT
		WHERE
		MBOMHLINK.CN_DT_EFFECTIVE_PBOM < @DATE
		AND MBOMHLINK.CN_DT_EXPIRY_PBOM > @DATE
		AND MBOMHLINK.CN_DT_EFFECTIVE < @DATE
		AND MBOMHLINK.CN_DT_EXPIRY > @DATE
	)
	SELECT DISTINCT CN_ITEMCODE 
	INTO #TMP_ITEMID
	FROM X
	
	--查询出所有本产品借用子件的直属产品，若存在其他未转批产品不能发布
	SELECT DISTINCT ITEM.CN_PRODUCT_BASE
	INTO #TMP_RELATEDPROD
	FROM
	#TMP_ITEMID AS TMP INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON TMP.CN_ITEMCODE = ITEM.CN_ITEM_CODE
	WHERE
	LEN(ITEM.CN_PRODUCT_BASE) > 0
	AND ITEM.CN_PRODUCT_BASE NOT IN ( SELECT CODE FROM #TMP_TRANSFER )
	AND CN_IS_TOERP = 0
	GROUP BY ITEM.CN_PRODUCT_BASE,ITEM.CN_IS_TOERP
	
	DECLARE @PRODS NVARCHAR(500)
	IF EXISTS ( SELECT 1 FROM #TMP_RELATEDPROD )
	BEGIN
		-- 不能转批
		SET @SUCCESS = 0
		SET @MSG = ISNULL(@MSG, '') + ' 该产品下有引用件：';

		SELECT 
		@MSG = ISNULL(@MSG, '') + '[' + RTRIM(PROD.CN_CODE) + ' ' + RTRIM(PROD.CN_NAME) + ']：' +
		CASE PROD.CN_SALE_SET WHEN '设置完成' THEN '' ELSE '销售件未设置' END + 
		'。<BR/>' 
		FROM  #TMP_RELATEDPROD BASEPROD
		INNER JOIN TN_80_APP_0010_PRODUCT PROD ON BASEPROD.CN_PRODUCT_BASE = PROD.CN_CODE
		
		
		SELECT 
			@PRODS = ISNULL(@PRODS, '') +
			'[' + RTRIM(BASEPROD.CN_PRODUCT_BASE) +']、'
		FROM 
		#TMP_RELATEDPROD BASEPROD
		IF @PRODS IS NOT NULL
		BEGIN
			SET @MSG = ISNULL(@MSG, '') +  ''+ SUBSTRING( @PRODS, 0, LEN(@PRODS) ) + ' 需要统一发布。';
		END
	END


	BEGIN TRANSACTION
	
	INSERT INTO [dbo].[TN_90_BUS_0005_BATCH]
			   ([CN_MODUEL_CODE]
			   ,[CN_INFO_TYPE]
			   ,[CN_CREATE_BY]
			   ,[CN_CREATE_NAME])
	SELECT 'MBOM','MBOM',@USERID,@NAME

	SELECT @BATCHID = SCOPE_IDENTITY();
	-- 查询需要发布的ITEM，需要发布的是TOP_ERP为0的
	
	;WITH X AS 
	(
		SELECT
		PRODS.ITEMCODE AS PROD_ITEMCODE,
		MBOMHLINK.CN_ITEMCODE_PARENT,
		MBOMHLINK.CN_ITEMCODE,
		MBOMHLINK.CN_GUID,
		MBOMHLINK.CN_IS_TOERP
		FROM 
		TN_80_APP_0040_MBOM_HLINK AS MBOMHLINK
		INNER JOIN #TMP_TRANSFER AS PRODS ON PRODS.ITEMCODE = MBOMHLINK.CN_ITEMCODE_PARENT
		WHERE 
		MBOMHLINK.CN_DT_EFFECTIVE_PBOM < @DATE
		AND MBOMHLINK.CN_DT_EXPIRY_PBOM > @DATE
		AND MBOMHLINK.CN_DT_EFFECTIVE < @DATE
		AND MBOMHLINK.CN_DT_EXPIRY > @DATE
		UNION ALL
		SELECT
		X.PROD_ITEMCODE,
		MBOMHLINK.CN_ITEMCODE_PARENT,
		MBOMHLINK.CN_ITEMCODE,
		MBOMHLINK.CN_GUID,
		MBOMHLINK.CN_IS_TOERP
		FROM 
		TN_80_APP_0040_MBOM_HLINK AS MBOMHLINK
		INNER JOIN X ON	X.CN_ITEMCODE = MBOMHLINK.CN_ITEMCODE_PARENT
		WHERE 
		MBOMHLINK.CN_DT_EFFECTIVE_PBOM < @DATE
		AND MBOMHLINK.CN_DT_EXPIRY_PBOM > @DATE
		AND MBOMHLINK.CN_DT_EFFECTIVE < @DATE
		AND MBOMHLINK.CN_DT_EXPIRY > @DATE
	)
	SELECT DISTINCT *
	INTO #TMP_CHANGES
	FROM X
	WHERE X.CN_IS_TOERP = 0
	OPTION (MAXRECURSION 32);
	SET @ERROR = @@ERROR + @ERROR

	UPDATE MBOMHLINK
	SET CN_IS_TOERP = 1, CN_DESC = CONVERT(CHAR(19),@DATE,20) + ' '+ @NAME+' 发布'
	FROM
	TN_80_APP_0040_MBOM_HLINK AS MBOMHLINK
	INNER JOIN #TMP_CHANGES AS C ON C.CN_GUID = MBOMHLINK.CN_GUID
	SET @ERROR = @@ERROR + @ERROR
	
	INSERT INTO #TMP_CHANGES ( PROD_ITEMCODE ,CN_ITEMCODE )	SELECT ITEMCODE, ITEMCODE FROM #TMP_TRANSFER

	INSERT INTO [TN_80_APP_0040_MBOM_RELEASE]
		([CN_BATCHID]
		,[CN_ITEMCODE_PARENT]
		,[CN_PRODUCT_ITEMCODE]
		,[CN_CREATE_BY]
		,[CN_CREATE_NAME]
		,[CN_CREATE_LOGIN]) 
	SELECT 
		DISTINCT
		 @BATCHID
		,CN_ITEMCODE
		,PROD_ITEMCODE
		,@USERID
		,@NAME
		,@LOGIN
	FROM #TMP_CHANGES AS T
	INNER JOIN TN_80_APP_0025_BOM AS BOM ON BOM.CN_ITEM_CODE = T.CN_ITEMCODE
	SET @ERROR = @@ERROR + @ERROR
	
	UPDATE TN_80_APP_0010_PRODUCT 
	SET 
		 CN_STATUS = @NEXT_STATUS
		 ,CN_USER_MBOM = @NAME
		 ,CN_DT_MBOM = @DATE
	WHERE CN_ITEM_CODE IN ( SELECT ITEMCODE FROM #TMP_TRANSFER ) 
	SET @ERROR = @@ERROR + @ERROR


	IF @ERROR <> 0
	BEGIN
		SET @MSG = '发布失败';
		RAISERROR( @MSG, 15, 1)
		ROLLBACK TRANSACTION
	END
	ELSE
	BEGIN	
		SET @MSG = '发布完成';
		COMMIT TRANSACTION 
	END

	SELECT @MSG AS MSG, @SUCCESS AS SUCCESS
END;