ALTER PROCEDURE [dbo].[PROC_GET_PRODUCT_ITEM_WITH_PROCESSINFO]
(
@PROD_ITEMCODE NCHAR(30)
)
AS
BEGIN

	SELECT 
		PVL.CN_HLINK_ID,
		PVL.CN_GX_CODE,
		PVL.CN_GX_NAME,
		PVL.CN_GXNR
	FROM 
	TN_80_APP_0020_PROCESS_VER AS P
	INNER JOIN TN_80_APP_0020_PROCESS_VER_HLINK AS PVL ON P.CN_ID = PVL.CN_ID AND PVL.CN_SYS_STATUS = 'Y'
	WHERE P.CN_ITEM_CODE = @PROD_ITEMCODE AND P.CN_SYS_STATUS = 'Y'
	ORDER BY PVL.CN_GX_CODE

END;
GO