ALTER PROCEDURE [dbo].[PROC_COMPOSITE_ITEM_UNLINK]
(
	@PROD_ITEMCODE VARCHAR(32),
	@GUID UNIQUEIDENTIFIER,
	@USERID INT,
	@NAME VARCHAR(20),
	@LOGIN VARCHAR(20)
)
AS
BEGIN
	DECLARE @MSG VARCHAR(200);
	DECLARE @SUCCESS BIT = 1;
	DECLARE @ERROR INT = 0;
	
	DECLARE @DATE DATETIME = GETDATE()
	
	-- 获取版本
	DECLARE @GUID_VER UNIQUEIDENTIFIER
	DECLARE @DTEF DATE, @DTEX DATE
	SELECT 
	  @GUID_VER = CN_GUID
	, @DTEF = CN_DT_EFFECTIVE
	, @DTEX = CN_DT_EXPIRY 
	FROM dbo.GETMBOMVER(@PROD_ITEMCODE) 
	IF @GUID_VER IS NULL
	BEGIN
		SET @MSG = '版本信息丢失，无法继续操作。请联系管理员。' 
		RAISERROR('%s',15,1, @MSG)
		RETURN
	END
	
	IF NOT EXISTS (
		SELECT 1 FROM
		TN_80_APP_0040_MBOM_VER_HLINK
		WHERE
			CN_GUID_VER = @GUID_VER
			AND CN_GUID = @GUID
			AND CN_TYPE = 'C'
			AND CN_STATUS = 'Y'
	)
	BEGIN
		SET @MSG = '所选件非合件，或没有被引用，无法取消引用'
		SELECT @MSG AS MSG, @SUCCESS AS SUCCESS
		RETURN
	END
	
	BEGIN TRANSACTION 
	-- -------------------------- --
	-- 修改MBOM_HLINK表引用关系
	-- -------------------------- --
	
	-- 取消引用
	UPDATE MBOMHLINK
	SET
		 CN_STATUS = '_C'
		,CN_DESC = @NAME + ' 取消合件引用'
	FROM TN_80_APP_0040_MBOM_VER_HLINK AS MBOMHLINK
	WHERE 
		CN_GUID_VER = @GUID_VER
		AND CN_GUID = @GUID
		AND CN_TYPE = 'C'
		AND CN_STATUS = 'Y'
	SET @ERROR = @ERROR + @@ERROR
	
	IF @ERROR = 0
	BEGIN
		SET @MSG = '已取消合件引用'
		SELECT @MSG AS MSG, @SUCCESS AS SUCCESS
		COMMIT TRANSACTION
	END
	ELSE
	BEGIN
		SET @MSG = '取消合件引用过程中发生错误，请联系管理员'
		RAISERROR(@MSG, 15, 1)
		ROLLBACK TRANSACTION
	END
END;
