ALTER PROCEDURE [dbo].[PROC_MBOM_ADD]
(
@PROD_ITEMCODE VARCHAR(32),
@ITEMCODE_PARENT VARCHAR(32),
@ITEMCODE VARCHAR(32),
@QUANTITY FLOAT,
@USERID INT,
@NAME NVARCHAR(30),
@LOGIN NVARCHAR(30)
)
AS
BEGIN
	DECLARE @MSG NVARCHAR(200) = '引用成功';
	DECLARE @SUCCESS BIT = 1;
	DECLARE @ERROR INT = 0
	DECLARE @ISPBOM INT = 0
	DECLARE @DATE DATETIME = GETDATE()
	
	-- 获取版本
	DECLARE @GUID_VER UNIQUEIDENTIFIER
	DECLARE @DTEF DATE, @DTEX DATE
	SELECT 
	  @GUID_VER = CN_GUID
	, @DTEF = CN_DT_EFFECTIVE
	, @DTEX = CN_DT_EXPIRY 
	FROM dbo.GETMBOMVER(@PROD_ITEMCODE) 
	IF LEN(@PROD_ITEMCODE) > 0 AND @GUID_VER IS NULL
	BEGIN
		SET @MSG = '版本信息丢失，无法继续操作。请联系管理员。' 
		RAISERROR('%s',15,1, @MSG)
		RETURN
	END

	IF @DTEF IS NULL
	BEGIN
		SET @DTEF = GETDATE()
	END

	DECLARE @BOMID INT
	SELECT @BOMID = CN_ID FROM TN_80_APP_0025_BOM WHERE CN_ITEM_CODE = @ITEMCODE_PARENT
	
	-- 获取父级链路，如果存在引用的CODE，不允许引用
	;WITH X AS
	(
		SELECT 
			CN_ITEMCODE_PARENT,
			CN_ITEMCODE
		FROM TN_80_APP_0040_MBOM_HLINK AS MBOM
		WHERE 
		CN_ITEMCODE = @ITEMCODE_PARENT
		AND MBOM.CN_DT_EFFECTIVE < @DATE
		AND MBOM.CN_DT_EXPIRY > @DATE
		
		UNION ALL
		
		SELECT
			MBOM.CN_ITEMCODE_PARENT,
			MBOM.CN_ITEMCODE
		FROM TN_80_APP_0040_MBOM_HLINK AS MBOM
		INNER JOIN X ON X.CN_ITEMCODE_PARENT = MBOM.CN_ITEMCODE
	)
	SELECT
	CN_ITEMCODE_PARENT
	INTO #TBL_PARENTLIST
	FROM X
	GROUP BY CN_ITEMCODE_PARENT
	
	IF EXISTS ( SELECT 1 FROM #TBL_PARENTLIST WHERE CN_ITEMCODE_PARENT = @ITEMCODE )
	BEGIN
		SET @MSG = '引用失败：父级链路中含有被引用件，会导致循环引用。'
		SET @SUCCESS = 0
		SELECT @MSG AS MSG, @SUCCESS AS SUCCESS
		RETURN
	END

	DECLARE @ORDER INT = 0
	IF @QUANTITY = 0
	BEGIN
		SET @ORDER = 9999999
	END
	
	BEGIN TRANSACTION

	-- 添加选中件BOM表记录，没有BOMID无法在BOMHLINK表中添加下级
	IF @BOMID IS NULL
	BEGIN 
		INSERT INTO [dbo].[TN_80_APP_0025_BOM]
			([CN_CODE]
			,[CN_ITEM_CODE]
			,[CN_NAME]
			,[CN_TYPE]
			,[CN_DESC]
			,[CN_CREATE_BY]
			,[CN_CREATE_NAME]
			,[CN_CREATE_LOGIN]
			,[CN_SYS_STATUS]
			,[CN_DT_CREATE])
		SELECT 
			 ITEM.CN_CODE
			,ITEM.CN_ITEM_CODE
			,ITEM.CN_NAME
			,''
			,'非组件，在MBOM中进行了引用操作，添加到BOM记录中'
			,@USERID
			,@NAME
			,@LOGIN
			,'Y'
			,@DATE
		FROM TN_80_APP_0000_ITEM AS ITEM
		WHERE ITEM.CN_ITEM_CODE = @ITEMCODE_PARENT 
		SET @ERROR = @ERROR + @@ERROR
	END
	
	DECLARE @GUID UNIQUEIDENTIFIER = NEWID()

	-- 如果引用的父级、子级、数量和之前已有数据重合，且之前数据为PBOM中数据，则复制GUID为当前GUID
	INSERT INTO [TN_80_APP_0040_MBOM_HLINK]
		([CN_GUID]
		,[CN_GUID_EF]
		,[CN_ITEMCODE_PARENT]
		,[CN_ITEMCODE]
		,[CN_QUANTITY]
		,[CN_DISPLAYNAME]
		,[CN_ORDER]
		,[CN_UNIT]
		,[CN_ISBORROW]
		,[CN_DT_CREATE]
		,[CN_DESC] 
		,CN_CREATE_BY
		,CN_CREATE_LOGIN
		,CN_CREATE_NAME)
	SELECT
		 [CN_GUID]
		,[CN_GUID_EF]
		,[CN_ITEMCODE_PARENT]
		,[CN_ITEMCODE]
		,[CN_QUANTITY]
		,[CN_DISPLAYNAME]
		,[CN_ORDER]
		,[CN_UNIT]
		,[CN_ISBORROW]
		,@DTEF
		,[CN_DESC] 
		,CN_CREATE_BY
		,CN_CREATE_LOGIN
		,CN_CREATE_NAME
	FROM [TN_80_APP_0040_MBOM_HLINK]
	WHERE CN_ITEMCODE = @ITEMCODE
	AND CN_ITEMCODE_PARENT = @ITEMCODE_PARENT
	AND CN_QUANTITY = @QUANTITY
	AND CN_ISMBOM = 0
	SET @ISPBOM = @@ROWCOUNT

	IF @ISPBOM = 0
	BEGIN
		-- 非原PBOM件，直接添加引用
		INSERT INTO [TN_80_APP_0040_MBOM_HLINK]
			([CN_GUID]
			,[CN_GUID_EF]
			,[CN_ITEMCODE_PARENT]
			,[CN_ITEMCODE]
			,[CN_QUANTITY]
			,[CN_DISPLAYNAME]
			,[CN_ORDER]
			,[CN_UNIT]
			,[CN_ISBORROW]
			,[CN_DT_CREATE]
			,[CN_DT_EFFECTIVE]
			,[CN_DESC] 
			,CN_CREATE_BY
			,CN_CREATE_LOGIN
			,CN_CREATE_NAME)
		SELECT
			 @GUID
			,@GUID_VER
			,@ITEMCODE_PARENT
			,@ITEMCODE
			,@QUANTITY
			,RTRIM(ITEM.CN_CODE) + ' ' + RTRIM(ITEM.CN_NAME)
			,@ORDER
			,RTRIM(ITEM.CN_UNIT)
			,1
			,@DTEF
			,@DTEF
			,@NAME + ' 自定义引用'
			,@USERID
			,@LOGIN
			,@NAME
		FROM TN_80_APP_0000_ITEM AS ITEM
		WHERE CN_ITEM_CODE = @ITEMCODE
		SET @ERROR = @ERROR + @@ERROR

		-- 添加类型 仅在有版本时添加
		IF @GUID_VER IS NOT NULL
		BEGIN
			INSERT INTO [dbo].[TN_80_APP_0040_MBOM_VER_HLINK]
				([CN_GUID_VER]
				,[CN_GUID]
				,[CN_STATUS]
				,[CN_TYPE]
				,[CN_DT_CREATE]
				,[CN_DESC]
				,[CN_CREATE_BY]
				,[CN_CREATE_NAME]
				,[CN_CREATE_LOGIN])
			SELECT 
				 @GUID_VER
				,@GUID
				,'Y'
				,'U'
				,@DATE
				,@NAME + ' 自定义引用'
				,@USERID
				,@LOGIN
				,@NAME
			SET @ERROR = @ERROR + @@ERROR
		END
	END

	IF @ERROR <> 0
	BEGIN
		SET @MSG = '引用失败'
		SET @SUCCESS = 0
		ROLLBACK TRANSACTION
	END
	ELSE
	BEGIN
		COMMIT TRANSACTION
	END
	SELECT @MSG AS MSG, @SUCCESS AS SUCCESS
END;
