ALTER PROCEDURE [dbo].[PROC_GET_PRODUCT_PBOM]
(
	@PROD_ITEMCODE VARCHAR(32),
	@DATE DATE
)
AS
BEGIN 
	DECLARE @MSG VARCHAR(200)
	DECLARE @DT_EF_NEXT DATE
	
	IF @PROD_ITEMCODE IS NULL
	BEGIN 
		SET @MSG = '产品物料编码为空，无法获取PBOM数据。请联系管理员。' 
		RAISERROR('%s',15,1, @MSG)
		RETURN
	END
	
	-- 获取下个版本的生效日期
	SELECT TOP 1 @DT_EF_NEXT = CN_DT_EFFECTIVE
	FROM TN_80_APP_0030_PBOM_VER
	WHERE CN_ITEM_CODE = @PROD_ITEMCODE
	AND CN_DT_EFFECTIVE > @DATE
	ORDER BY CN_DT_EFFECTIVE

	SET @DATE = DATEADD(DAY,1,@DATE)
	IF @DT_EF_NEXT IS NOT NULL
	BEGIN
		SET @DATE = @DT_EF_NEXT
	END
	
	DECLARE @PROD_ITEMID VARCHAR(50)
	SELECT 
		 0 AS [LEVEL]
		,CAST(NULL AS VARCHAR) AS PARENTID
		,CAST('P' AS VARCHAR) AS ID
		,'' AS ITEMCODEPARENT
		,ITEM.CN_ID AS ITEMID
		,RTRIM(ITEM.CN_ITEM_CODE) AS ITEMCODE
		,RTRIM(ITEM.CN_CODE) AS CODE
		,RTRIM(ITEM.CN_NAME) AS [NAME]
		,1 AS QUANTITY
		,'件' AS UNIT
		,CAST(0 AS BIT) AS ISBORROW
		,'' AS DTPBOMEF
		,'' AS DTPBOMEX
		,'' AS DTMBOMEF
		,'' AS DTMBOMEX
		,0 AS PBOMVER
		,'' AS PBOMVERCODE
		,0 AS [ORDER]
		,'' AS [TYPE]
		,'' AS [DESC]
	INTO #TMP
	FROM TN_80_APP_0000_ITEM AS ITEM
	WHERE ITEM.CN_ITEM_CODE = @PROD_ITEMCODE

	SELECT @PROD_ITEMID = ID, @PROD_ITEMCODE = ITEMCODE
	FROM #TMP
	
	;WITH X AS 
	(
		SELECT
		1 AS [LEVEL]
		,CAST('P' AS VARCHAR(200)) AS PARENTID
		,CAST('P' + CAST(ITEM.CN_ID AS VARCHAR(200)) AS VARCHAR(200)) AS ID
		,PBOMHLINK.CN_ITEMCODE_PARENT
		,ITEM.CN_ID AS CN_ITEMID

		,RTRIM(ITEM.CN_ITEM_CODE) AS ITEMCODE
		,RTRIM(ITEM.CN_CODE) AS CODE
		,RTRIM(ITEM.CN_NAME) AS [NAME]
	
		,PBOMHLINK.CN_F_QUANTITY AS CN_QUANTITY
		,PBOMHLINK.CN_UNIT
		,PBOMHLINK.CN_ISBORROW
		,PBOMHLINK.CN_DT_EFFECTIVE
		,PBOMHLINK.CN_DT_EXPIRY
		,PBOMHLINK.CN_ORDER
		,PBOMHLINK.CN_GUID
		,PBOMHLINK.CN_ID_NOTICE
		,PBOMHLINK.CN_CODE_NOTICE
		,PBOMHLINK.CN_DESC

		FROM
		TN_80_APP_0030_PBOM_HLINK AS PBOMHLINK
		INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON PBOMHLINK.CN_ITEMCODE = ITEM.CN_ITEM_CODE
		WHERE 
			PBOMHLINK.CN_ITEMCODE_PARENT = @PROD_ITEMCODE 
			AND PBOMHLINK.CN_DT_EFFECTIVE < @DATE
			AND PBOMHLINK.CN_DT_EXPIRY >= @DATE

		UNION ALL

		SELECT 
		X.[LEVEL] + 1 AS [LEVEL]
		,CAST(X.ID AS VARCHAR(200))
		,CAST(X.ID + SUBSTRING(CAST(PBOMHLINK.CN_GUID AS CHAR(36)),1,5) AS VARCHAR(200))
		,PBOMHLINK.CN_ITEMCODE_PARENT
		,ITEM.CN_ID AS CN_ITEMID

		,RTRIM(ITEM.CN_ITEM_CODE)
		,RTRIM(ITEM.CN_CODE)
		,RTRIM(ITEM.CN_NAME)
	
		,PBOMHLINK.CN_F_QUANTITY
		,PBOMHLINK.CN_UNIT
		,PBOMHLINK.CN_ISBORROW
		,PBOMHLINK.CN_DT_EFFECTIVE
		,PBOMHLINK.CN_DT_EXPIRY
		,PBOMHLINK.CN_ORDER
		,PBOMHLINK.CN_GUID
		,PBOMHLINK.CN_ID_NOTICE
		,PBOMHLINK.CN_CODE_NOTICE
		,PBOMHLINK.CN_DESC
		FROM 
		TN_80_APP_0030_PBOM_HLINK AS PBOMHLINK
		INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON PBOMHLINK.CN_ITEMCODE = ITEM.CN_ITEM_CODE
		INNER JOIN X ON X.ITEMCODE = PBOMHLINK.CN_ITEMCODE_PARENT
		WHERE 
			PBOMHLINK.CN_DT_EFFECTIVE < @DATE
			AND PBOMHLINK.CN_DT_EXPIRY >= @DATE
	)
	SELECT *
	FROM 
	#TMP
	UNION ALL
	SELECT 
		 [LEVEL]
		,PARENTID
		,ID
		,CN_ITEMCODE_PARENT
		,CN_ITEMID

		,ITEMCODE
		,CODE
		,[NAME]
	
		,CN_QUANTITY
		,CN_UNIT
		,CN_ISBORROW
		,CONVERT(CHAR(10),X.CN_DT_EFFECTIVE,20)
		,CONVERT(CHAR(10),X.CN_DT_EXPIRY,20)
		,''
		,''
		,CN_ID_NOTICE AS PBOMVER
		,CN_CODE_NOTICE AS PBOMVERCODE
		,CN_ORDER
		,'' AS CN_TYPE
		,CN_DESC
	FROM X
	ORDER BY [ORDER]
	OPTION (MAXRECURSION 32);

END;
GO