ALTER PROCEDURE [dbo].[PROC_GET_PRODUCT_MBOM]
(
	@PROD_ITEMCODE VARCHAR(32),
	@DATE DATE
)
AS
BEGIN
	DECLARE @MSG VARCHAR(200)
	DECLARE @GUID_VER UNIQUEIDENTIFIER
	DECLARE @DT_EF_NEXT DATE
	
	IF @PROD_ITEMCODE IS NULL
	BEGIN 
		SET @MSG = '物料编码为空，无法获取PBOM数据。请联系管理员。' 
		RAISERROR('%s',15,1, @MSG)
		RETURN
	END
	
	-- 如果是产品则获取最新版本
	SELECT @GUID_VER = CN_GUID
	FROM dbo.GETMBOMVER(@PROD_ITEMCODE)
	
	-- 获取下个版本的生效日期
	SELECT TOP 1 @DT_EF_NEXT = CN_DT_EFFECTIVE
	FROM TN_80_APP_0040_MBOM_VER
	WHERE CN_ITEM_CODE = @PROD_ITEMCODE
	AND CN_DT_EFFECTIVE > @DATE
	ORDER BY CN_DT_EFFECTIVE
	
	SET @DATE = GETDATE()
	IF @DT_EF_NEXT IS NOT NULL
	BEGIN
		SET @DATE = @DT_EF_NEXT
	END
	
	SELECT 
		 0 AS [LEVEL]
		,'' AS PRODUCTITEMCODE
		,CAST(NULL AS VARCHAR) AS PARENTID
		,CAST('P' AS VARCHAR) AS ID
		,'' AS ITEMCODEPARENT
		,ITEM.CN_ID AS ITEMID
		,RTRIM(ITEM.CN_ITEM_CODE) AS ITEMCODE
		,RTRIM(ITEM.CN_CODE) AS CODE
		,RTRIM(ITEM.CN_NAME) AS [NAME]
		,1 AS QUANTITY
		,'件' AS UNIT
		,CAST(0 AS BIT) AS ISBORROW
		,'' AS DTPBOMEF
		,'' AS DTPBOMEX
		,'' AS DTMBOMEF
		,'' AS DTMBOMEX
		,0 AS PBOMVER
		,'' AS PBOMVERCODE
		,0 AS [ORDER]
		,'' AS [TYPE]
		,'' AS [DESC]
	INTO #TMP
	FROM TN_80_APP_0000_ITEM AS ITEM
	WHERE ITEM.CN_ITEM_CODE = @PROD_ITEMCODE

	;WITH X AS 
	(
		SELECT
		1 AS [LEVEL]
		,CAST('P' AS VARCHAR(200)) AS PARENTID
		,CAST('P' + CAST(ITEM.CN_ID AS VARCHAR(200)) AS VARCHAR(200)) AS ID
		,MBOMHLINK.CN_ITEMCODE_PARENT
		,ITEM.CN_ID AS CN_ITEMID

		,RTRIM(ITEM.CN_ITEM_CODE) AS CN_ITEMCODE
		,RTRIM(ITEM.CN_CODE) AS CN_CODE
		,RTRIM(ITEM.CN_NAME) AS CN_NAME
	
		,MBOMHLINK.CN_QUANTITY AS CN_QUANTITY
		,MBOMHLINK.CN_UNIT
		,MBOMHLINK.CN_ISBORROW
		,MBOMHLINK.CN_DT_EFFECTIVE_PBOM
		,MBOMHLINK.CN_DT_EXPIRY_PBOM
		,MBOMHLINK.CN_DT_EFFECTIVE
		,MBOMHLINK.CN_DT_EXPIRY
		,MBOMHLINK.CN_ORDER
		,MBOMHLINK.CN_GUID
		,MBOMHLINK.CN_DESC
		FROM
		TN_80_APP_0040_MBOM_HLINK AS MBOMHLINK
		INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON ITEM.CN_ITEM_CODE = MBOMHLINK.CN_ITEMCODE
		WHERE 
		MBOMHLINK.CN_ITEMCODE_PARENT = @PROD_ITEMCODE
		AND MBOMHLINK.CN_DT_EFFECTIVE_PBOM < @DATE
		AND MBOMHLINK.CN_DT_EXPIRY_PBOM >= @DATE
		AND MBOMHLINK.CN_DT_EFFECTIVE < @DATE 
		AND MBOMHLINK.CN_DT_EXPIRY >= @DATE

		UNION ALL

		SELECT 
		X.[LEVEL] + 1 AS [LEVEL]
		,CAST(X.ID AS VARCHAR(200))
		,CAST(X.ID + SUBSTRING(CAST(MBOMHLINK.CN_GUID AS CHAR(36)),1,5) AS VARCHAR(200))
		,MBOMHLINK.CN_ITEMCODE_PARENT
		,ITEM.CN_ID AS CN_ITEMID

		,RTRIM(ITEM.CN_ITEM_CODE)
		,RTRIM(ITEM.CN_CODE)
		,RTRIM(ITEM.CN_NAME)
	
		,MBOMHLINK.CN_QUANTITY
		,MBOMHLINK.CN_UNIT
		,MBOMHLINK.CN_ISBORROW
		,MBOMHLINK.CN_DT_EFFECTIVE_PBOM
		,MBOMHLINK.CN_DT_EXPIRY_PBOM
		,MBOMHLINK.CN_DT_EFFECTIVE
		,MBOMHLINK.CN_DT_EXPIRY
		,MBOMHLINK.CN_ORDER
		,MBOMHLINK.CN_GUID
		,MBOMHLINK.CN_DESC
		FROM 
		TN_80_APP_0040_MBOM_HLINK AS MBOMHLINK
		INNER JOIN TN_80_APP_0000_ITEM AS ITEM ON ITEM.CN_ITEM_CODE = MBOMHLINK.CN_ITEMCODE
		INNER JOIN X ON X.CN_ITEMCODE = MBOMHLINK.CN_ITEMCODE_PARENT
		WHERE
		MBOMHLINK.CN_DT_EFFECTIVE_PBOM < @DATE
		AND MBOMHLINK.CN_DT_EXPIRY_PBOM >= @DATE
		AND MBOMHLINK.CN_DT_EFFECTIVE < @DATE 
		AND MBOMHLINK.CN_DT_EXPIRY >= @DATE
	)
	SELECT * FROM #TMP
	UNION ALL
	SELECT DISTINCT
	[LEVEL]
	,''
	,PARENTID
	,ID
	,X.CN_ITEMCODE_PARENT
	,CN_ITEMID
	,X.CN_ITEMCODE
	,X.CN_CODE
	,X.CN_NAME
	,CN_QUANTITY
	,X.CN_UNIT
	,X.CN_ISBORROW
	,CONVERT(CHAR(10),X.CN_DT_EFFECTIVE_PBOM,20)
	,CONVERT(CHAR(10),X.CN_DT_EXPIRY_PBOM,20)
	,CONVERT(CHAR(10),X.CN_DT_EFFECTIVE,20)
	,CONVERT(CHAR(10),X.CN_DT_EXPIRY,20)
	,0
	,''
	,X.CN_ORDER
	,ISNULL(VERHLINK.CN_TYPE, '') AS CN_TYPE
	,X.CN_DESC
	FROM X
	LEFT JOIN TN_80_APP_0040_MBOM_VER_HLINK AS VERHLINK ON VERHLINK.CN_GUID = X.CN_GUID
		AND VERHLINK.CN_GUID_VER = @GUID_VER
	ORDER BY [LEVEL],[ORDER]
	OPTION (MAXRECURSION 32);

END;
GO 

[PROC_GET_PRODUCT_MBOM] 'HGS6H468000P1','2018-01-01'
