CREATE TABLE TN_80_APP_0010_PRODUCT_VER
(
	CN_ID INT IDENTITY(1,1) PRIMARY KEY,
	CN_GUID UNIQUEIDENTIFIER NOT NULL DEFAULT(NEWID()),
	CN_PRODUCT_CODE VARCHAR(32) NOT NULL,
	CN_PRODUCT_ITEMCODE VARCHAR(32) NOT NULL,
	CN_PRODUCT_NAME VARCHAR(128) NOT NULL,
	CN_NAME VARCHAR(32) NULL,
	CN_DESC VARCHAR(255) NULL,
	CN_STATUS VARCHAR(1) NOT NULL DEFAULT('Y'),
	CN_IS_TOERP SMALLINT NOT NULL DEFAULT(0),
	CN_DT_TOERP DATETIME NULL,
	CN_DT_CREATE DATETIME DEFAULT(GETDATE()),
	CN_CREATE_BY INT NOT NULL,
	CN_CREATE_NAME VARCHAR(32) NOT NULL,
	CN_CREATE_LOGIN VARCHAR(32) NOT NULL
)