@{
    ViewBag.Title = ViewData["Type"];
}
@section scripts{
    <!-- common js -->
    @Scripts.Render("~/bundles/common")
    <script type="text/javascript">
        var param = {
            prod_itemcode: "@Request.Params["prod_itemcode"]",
            catename: "@ViewData["Type"]"
        };
        var URL_ITEMCATELIST = "/Item/ProductCateList"
    </script>
    <!-- import js -->
    <!-- page js -->
    @Scripts.Render("~/bundles/bomlist2")
}

<div class="easyui-layout" data-options="fit:true,border:false">
    <table id="dgItems"></table>
</div>
